/*!
Theme Name: Beard Balm
Theme URI: https://www.longbeard.com
Author: Longbeard
Author URI: https://www.longbeard.com
Description: Developed by Longbeard. Keeps our beards and your site healthy, secure, and looking majestic.
Version: 1.0.0
Text Domain: beardbalm
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/

/******************************************************************s
Stylesheet: Main Stylesheet
******************************************************************/

/*********************
IMPORT UTILITES
*********************/
@import "utilities/breakpoint";
@import "utilities/variables";
@import "utilities/mixins";
@import "utilities/type-stack";

/*********************
IMPORT ELEMENTS
*********************/
@import "elements/normalize";
@import "elements/variables";
@import "elements/a11y";
@import "elements/layout";
@import "elements/grid";
@import "elements/typography";
@import "elements/buttons";
@import "elements/slick";
@import "elements/header";
@import "elements/gforms";
@import "elements/forms";
@import "elements/footer";
@import "elements/accordions";
@import "elements/tabs";
@import "elements/post-entry";
@import "elements/subscribe";
@import "elements/contact-info";
@import "elements/person";
@import "elements/view-more";
@import "elements/degree-programs-overview";
@import "elements/contact-person";
@import "elements/vertical-tabs";
@import "elements/featured-posts";
@import "elements/featured-products";
@import "elements/pagination";
@import "elements/post";
@import "elements/boxed-nav";
// @import "elements/cookieconsent";

// The Events Calendar
@import "elements/calendar/calendar";

.single-tribe_events {
  @import "elements/calendar/event";
}

// @import "elements/calendar/event";

/*********************
IMPORT PAGES
*********************/

// Homepage
.home {
  @import "pages/homepage";
}

// About
.page-template-about {
  @import "pages/about/overview";
}
.page-template-about-faqs {
  @import "pages/about/faqs";
}
.page-template-about-masif {
  @import "pages/about/masif";
}
.page-template-about-metropolitan-andrey {
  @import "pages/about/metropolitan-andrey";
}

// Academics
.page-template-academics {
  @import "pages/academics/overview";
}
.page-template-academics-courses {
  @import "pages/academics/courses";
}
.page-template-academics-degree-programs {
  @import "pages/academics/degree-programs";
}
.page-template-academics-bursaries-scholarships {
  @import "pages/academics/bursaries-scholarships";
}
.page-template-academics-distance-education {
  @import "pages/academics/distance-education";
}

// Students
.page-template-students {
  @import "pages/students";
}

// Bookstore
.page-template-bookstore-faqs {
  @import "pages/bookstore/faqs";
}

.page-template-bookstore-authors {
  @import "pages/bookstore/authors";
}
.tax-product_author {
  @import "pages/bookstore/author";
}

// LOGOS
.page-template-logos {
  @import "pages/logos";
}

// Research
.page-template-research {
  @import "pages/research";
}

// Faculty & Staff
.page-template-faculty-staff {
  @import "pages/faculty-staff";
}
.single-staff {
  @import "pages/faculty-staff-single";
}

// Event Registration
.page-template-event-registration {
  @import "pages/event-registration";
}

.page-template-alumni {
  @import "pages/alumni";
}

.page-template-media {
  @import "pages/media";
}

// News & Stories
// .page-id-xx {
//   @import "pages/news";
// }

// Contact
.page-template-contact {
  @import "pages/contact";
}

// Donate
.page-template-donate {
  @import "pages/donate";
}

// Search
.search {
  @import "pages/search";
}

// Post template
.single-post {
  @import "pages/post";
}

.page-template-default {
  @import "pages/page";
}

// Degree Programs
.single-degree_program {
  @import "pages/academics/degree-program";
}

// WooCommerce Pages
.woocommerce-page {
  @import "pages/woocommerce/base";
  &.woocommerce-shop {
    @import "pages/woocommerce/shop";
  }
  &.single-product {
    @import "pages/woocommerce/single-product";
  }
  &.woocommerce-cart {
    @import "pages/woocommerce/cart";
  }
  &.woocommerce-checkout {
    @import "pages/woocommerce/checkout";
  }
  &.woocommerce-account {
    @import "pages/woocommerce/account";
  }
}

/*********************
PRINT STYLESHEET
*********************/
@media print {
  // styles in print.scss
  @import "utilities/print";
}
