.faqs {
  position: relative;

  &__bg {
    position: absolute;
    top: 3.5rem;
    right: 0;
    width: 33%;
    z-index: -1;

    @include breakpoint($laptop-lg) {
      width: 33%;
    }
  }

  &__heading {
    --title-element-gap: 0.75rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
    margin: calc(var(--title-element-gap) * -1);
    margin-bottom: 1.5rem;

    @include breakpoint($tablet-sm) {
      margin-bottom: 1.5rem;
    }

    @include breakpoint($laptop-sm) {
      margin-bottom: 2rem;
    }
  }

  &__title {
    padding: var(--title-element-gap);
  }

  &__search {
    padding: var(--title-element-gap);
    margin-left: auto;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;

    @include breakpoint($mobile) {
      flex: 1;
      width: auto;
      max-width: 400px;
      min-width: 320px;
    }

    @include breakpoint($tablet-sm) {
      max-width: 320px;
      min-width: 300px;
    }

    @include breakpoint($laptop-lg) {
      max-width: 395px;
    }
  }
}
