.mission {
  position: relative;
  z-index: 0;
  padding-top: 10rem;

  @include breakpoint($tablet-sm) {
    padding-top: 5rem;
  }

  @include breakpoint($laptop-lg) {
    padding: 2.5rem;
  }

  &__img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 83.333%;
    max-width: 22rem;

    @include breakpoint($tablet-sm) {
      left: auto;
      right: 3%;
      width: 50%;
      max-width: initial;
    }

    @include breakpoint($laptop-lg) {
      width: 40%;
      right: 5%;
    }

    img {
      max-width: 50rem;
      width: 100%;
      height: auto;
    }
  }

  &__card {
    @include breakpoint($tablet-sm) {
      margin-right: calc(var(--card-padding) * -1);
    }
    @include breakpoint($laptop-sm) {
      margin-left: calc(var(--card-padding) * -1);
    }

    &__text {
      max-width: 100%;
    }
  }
}

.donate {
  position: relative;
  z-index: 1;

  &__inner {
    display: flex;
    background: linear-gradient(90deg, var(--gold) 0%, var(--light-gold) 100%);
  }

  &__img {
    position: relative;
    z-index: 0;
    align-items: flex-end;

    @include breakpoint($tablet-sm) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    img {
      display: block;
    }

    &__bg {
      position: absolute;
      height: 100%;
      width: auto;
      right: 40%;
      z-index: -1;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center right;
      }
    }

    &__fg {
      width: 85%;
      max-height: 90%;
      overflow: hidden;
      margin-left: auto;
      margin-right: 5%;

      @include breakpoint($laptop-sm) {
        width: 70%;
      }

      @include breakpoint($laptop-lg) {
        width: 65%;
      }
    }
  }

  &__text {
    padding: 1.25rem;

    @include breakpoint($tablet-sm) {
      padding: 1.875rem 1.875rem 1.875rem 0;
      flex: 0 0 50%;
      max-width: 50%;
    }

    @include breakpoint($laptop-sm) {
      padding: 3.75rem 3.75rem 3.75rem 0;
    }

    @include breakpoint($desktop) {
      padding: 5rem 5rem 5rem 0;
    }
  }
}

.board {
  position: relative;
  z-index: 0;

  &__bg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    z-index: -1;
    transform: translate(20%, 50%);

    @include breakpoint($tablet-sm) {
      width: 60%;
      transform: translate(20%, 75%);
    }

    @include breakpoint($laptop-sm) {
      width: 50%;
      transform: translate(0, 70%);
    }
  }

  .lb-tabs {
    margin-top: 2.5rem;
  }

  .tab-panels {
    margin-top: 2.5rem;
    max-width: 60rem;
  }
}

.contact {
  position: relative;
  z-index: 1;

  &__row {
    display: flex;
    flex-flow: wrap;
    margin: 0 -1rem;
  }

  &__col {
    padding: 0 1rem;
  }
}
