.intro {
  &__text {
    &__img {
      float: right;
      box-shadow: var(--box-shadow);
      background-color: var(--white);
      width: 13rem;
      max-width: 40%;
      margin: 0 0 1rem 1rem;

      img {
        display: block;
      }

      .caption {
        padding: 0.25rem 0.5rem;
        color: var(--color-p);
        font-style: normal;
        text-align: right;
        display: block;
      }

      &--mobile {
        float: left;
        margin: 0 1rem 1rem 0;
        width: 8rem;

        .caption {
          text-align: left;
        }
      }
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }
}

.about {
  position: relative;
  z-index: 1;
  --placeholder-height: 10rem;
  position: relative;
  z-index: 0;

  &__img {
    z-index: -1;
    width: calc(100% + 4rem);
    margin-top: -2rem;
    margin-right: -2rem;
    margin-bottom: -6rem;
    margin-left: -3rem;

    @include breakpoint($tablet-sm) {
      width: 25rem;
      margin-bottom: -5rem;
      margin-left: auto;
    }

    @include breakpoint($laptop-sm) {
      position: absolute;
      right: 0;
      top: calc(100% - 10rem);
      z-index: -1;
      width: 40%;
      margin-right: 0;
      // transform: translate(0, 0);
    }

    @include breakpoint($laptop-lg) {
      width: 35%;
      // transform: translate(0, -10%);
    }

    @include breakpoint($desktop) {
      transform: translate(0, -10%);
    }
  }

  &__card {
    @include breakpoint($mobile-only) {
      margin-right: -100%;
      padding-right: 100%;
      margin-left: -100%;
      padding-left: 100%;
    }

    &__img {
      @include breakpoint($tablet-sm) {
        width: 2.8125rem;
        min-width: 2.8125rem;
        margin-top: 2.875rem;
      }

      @include breakpoint($laptop-sm) {
        width: 3.375rem;
        min-width: 3.375rem;
        margin-right: 2.875rem;
      }

      @include breakpoint($laptop-lg) {
        width: 3.75rem;
        min-width: 3.75rem;
      }
    }

    &__text {
      @include breakpoint($tablet-sm) {
        margin-top: -0.625rem;
      }

      .tab-panels {
        @include breakpoint($tablet-sm) {
          margin-top: 0.625rem;
        }
      }
    }

    &__title {
      max-width: 25em;
    }
  }
}

.prayer {
  position: relative;
  z-index: 0;

  &__card {
    @include breakpoint($mobile-only) {
      margin-right: -100%;
      padding-right: 100%;
      margin-left: -100%;
      padding-left: 100%;
    }

    &__img {
      @include breakpoint($tablet-sm) {
        width: 2.8125rem;
        min-width: 2.8125rem;
      }

      @include breakpoint($laptop-sm) {
        width: 3.375rem;
        min-width: 3.375rem;
        margin-right: 2.875rem;
      }

      @include breakpoint($laptop-lg) {
        width: 3.75rem;
        min-width: 3.75rem;
      }
    }

    &__title {
      max-width: 25em;
    }
  }
}

.quote-text {
  font-style: italic;
}
