.intro {
  &__text {
    @include breakpoint($tablet-sm) {
      width: $col * 7.5;
    }

    @include breakpoint($laptop-sm) {
      width: $col * 6;
    }

    @include breakpoint($laptop-lg) {
      width: 50%;
    }

    .h4 {
      font-weight: 600;
      font-style: normal;
      color: var(--color-p);

      @include breakpoint($mobile-only) {
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }

  &__images {
    display: flex;
    align-items: flex-end;
    margin: -0.625rem;
    padding-top: 1.25rem;
    position: relative;
    z-index: -1;

    &__img {
      padding: 0.625rem;

      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      &--1 {
        flex: 0 0 41.667%;
        max-width: 41.667%;

        @include breakpoint($tablet-sm) {
          flex: 0 0 33.333%;
          max-width: 33.333%;
        }

        @include breakpoint($laptop-lg) {
          flex: 0 0 40%;
          max-width: 40%;
        }
      }

      &--2 {
        @include breakpoint($tablet-sm) {
          flex: 0 0 33.333%;
          max-width: 33.333%;
        }

        @include breakpoint($laptop-sm) {
          flex: 0 0 25%;
          max-width: 25%;
        }

        @include breakpoint($laptop-lg) {
          flex: 0 0 30%;
          max-width: 30%;
        }
      }

      &--3 {
        flex: 0 0 80.333%;
        max-width: 80.333%;

        @include breakpoint($tablet-sm) {
          flex: 0 0 70%;
          max-width: 70%;
        }

        @include breakpoint($tablet-sm) {
          flex: 0 0 50%;
          max-width: 50%;
        }
      }

      &__wrapper {
        position: relative;
      }

      &__inner {
        position: absolute;
        width: 100%;
        height: 0;
        bottom: 0;

        img {
          position: absolute;
        }

        &--1 {
          position: relative;
          padding-bottom: 90%;

          @include breakpoint($tablet-sm) {
            padding-bottom: 63%;
          }

          @include breakpoint($laptop-sm) {
            padding-bottom: 40%;
          }
        }
        &--2 {
          padding-bottom: 80%;

          @include breakpoint($laptop-sm) {
            padding-bottom: 70%;
          }
        }
        &--3 {
          padding-bottom: 60%;

          @include breakpoint($tablet-sm) {
            padding-bottom: 92%;
          }

          @include breakpoint($laptop-sm) {
            padding-bottom: 64%;
          }

          @include breakpoint($laptop) {
            padding-bottom: 55%;
          }

          @include breakpoint($laptop-lg) {
            padding-bottom: 62%;
          }

          @include breakpoint($desktop) {
            padding-bottom: 60%;
          }

          img {
            object-position: 25% center;
          }
        }
      }
    }
  }
}

.history {
  &__img {
    margin-left: -50%;

    @include breakpoint($laptop-sm) {
      margin-left: -30%;
    }

    @include breakpoint($laptop-lg) {
      margin-left: -20%;
    }
  }
}

.masif {
  position: relative;
  z-index: 1;
}

.andrey {
  position: relative;
  z-index: 0;
  padding-top: 2rem;

  @include breakpoint($tablet-sm) {
    padding-top: 0;
  }

  &__img {
    position: absolute;
    z-index: -1;
    left: 0;
    top: -5rem;
    width: 50%;
    max-width: 15rem;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: var(--border-bottom-height);
      background: var(--gold-gradient);
    }

    @include breakpoint($tablet-sm) {
      left: auto;
      right: 0;
      top: -7rem;
      width: 45%;
      transform: translateX(45%);
      max-width: initial;
    }

    @include breakpoint($laptop-sm) {
      transform: none;
      top: -14rem;
      width: 42.5%;
    }

    @include breakpoint($laptop-lg) {
      width: 40%;
      top: -17rem;
    }

    @include breakpoint($desktop) {
      top: -20rem;
    }

    img {
      width: 100%;
    }
  }
}

.reports {
  &__list {
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-flow: wrap;
      margin: -0.5rem -1.5rem;

      li {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0.5rem 1.5rem;

        @include breakpoint($tablet-sm) {
          flex: initial;
        }
      }
    }
  }

  &__report {
    display: inline-flex;
    align-items: center;

    &__title {
      color: var(--color-p);
      font-weight: 500;
      margin: 0 1.5rem 0 0;
    }
  }
}
