.author {
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;

  &__img {
    width: 4rem;
    min-width: 4rem;
    margin-right: 1rem;

    @include breakpoint($tablet-sm) {
      width: 7rem;
      min-width: 7rem;
      margin-right: 2.5rem;
    }

    @include breakpoint($laptop-sm) {
      width: 9rem;
      min-width: 9rem;
    }
  }

  &__info {
    flex: 0 0 100%;
    max-width: 100%;

    @include breakpoint($tablet-sm) {
      flex: 1;
    }

    &__title {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;
    }
  }
}
