.bookstore-authors-nav {
  margin: 2.5rem 0;
  ul {
    display: flex;
    flex-flow: wrap;
    list-style: none;
    margin: -0.5rem -1rem;

    li {
      padding: 0.5rem 0;

      a {
        padding: 0 1rem;
        color: var(--color-p);
        opacity: 0.5;
        transition: var(--transition);
        font-weight: 600;

        &:hover {
          opacity: 1;
        }
      }

      &:not(:last-child) {
        &::after {
          content: "|";
          color: var(--color-accent);
        }
      }

      &.current {
        a {
          color: var(--color-primary);
          font-weight: 700;
          opacity: 1;
          pointer-events: none;
        }
      }
    }
  }
}

.results {
  max-width: 40rem;
}

.bookstore-authors {
  ul {
    list-style: none;
    padding: 0;
  }

  &__chars {
    &__title {
      font-family: var(--font-secondary);
      font-weight: 700;
    }
    > li {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }

  &__list {
    @include breakpoint($tablet-sm) {
      column-count: 2;
      column-gap: 2.5rem;
    }
    > li {
      // display: inline-block;
      // width: 100%;
      &:not(:last-child) {
        margin-bottom: 0.75rem;
      }
    }
  }
}
