@import "../about/faqs";

.faqs {
  &__main {
    @include breakpoint($laptop-sm) {
      padding-right: 1.5rem;
    }

    @include breakpoint($laptop-lg) {
      padding-right: 4.6875rem;
    }
  }

  &__accordions {
    position: relative;
    z-index: 1;
    margin-bottom: var(--section-spacing);

    @include breakpoint($laptop-sm) {
      margin-bottom: 0;
    }
  }

  &__contact {
    position: relative;
    z-index: 0;

    &__bg {
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(45%, -15%);
      width: 18%;
      z-index: -1;

      @include breakpoint($laptop-sm) {
        width: 50%;
      }

      @include breakpoint($desktop) {
        transform: translate(50%, -10%);
      }

      @include breakpoint($desktop-lg) {
        transform: translate(65%, -15%);
        width: 65%;
      }
    }

    &__title {
      margin-bottom: 1.5rem;
      color: var(--color-primary);
    }

    &__card {
      @include breakpoint($laptop-sm) {
        --card-padding: 1.5rem;
      }
      @include breakpoint($desktop) {
        --card-padding: 2.125rem;
      }
    }

    .contact-info-wrapper {
      > div {
        @include breakpoint($tablet-sm) {
          width: 100%;
          display: flex;
          flex-flow: wrap;
        }
      }
      .contact-info {
        @include breakpoint($tablet-sm) {
          flex: 0 0 50%;
          max-width: 50%;
        }
        @include breakpoint($laptop-sm) {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
  }
}
