// .calendar {
//   position: relative;
//   .shapes {
//     width: 20%;
//     position: absolute;
//     top: 0;
//     right: 0;

//     @include breakpoint($laptop-lg) {
//       width: 16%;
//     }

//     svg {
//       width: 100%;
//       height: auto;
//     }
//   }
// }

.tribe-events {
  .tribe-events-l-container {
    padding: 0 !important;
    margin-top: 2rem;
    max-width: initial !important;

    @include breakpoint($laptop-sm) {
      margin-top: 2.5rem;
    }
  }
  .tribe-events-header {
    padding-bottom: var(--tec-spacer-6) !important;

    &__top-bar {
      flex: 0 1 auto;
      margin-right: auto;
      width: auto !important;

      @include breakpoint($laptop-sm) {
        margin-right: 0;
        margin-left: auto;
        margin-bottom: 0 !important;
      }
    }

    &__breadcrumbs {
      li {
        margin-bottom: 0;

        span {
          font-weight: 600;
        }
      }
    }
  }
  .tribe-events-c-search {
    position: relative;

    @include breakpoint($tablet-sm) {
      max-width: 21rem;
    }

    @include breakpoint($laptop-sm) {
      max-width: 28rem;
    }

    @include breakpoint($desktop) {
      max-width: 35rem;
    }

    &__input {
      padding: 0.625rem 3.125rem 0.625rem 1rem !important;
    }

    &__button {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2939 12.5786H13.3905L13.0703 12.2699C14.191 10.9663 14.8656 9.27387 14.8656 7.43282C14.8656 3.32762 11.538 0 7.43282 0C3.32762 0 0 3.32762 0 7.43282C0 11.538 3.32762 14.8656 7.43282 14.8656C9.27387 14.8656 10.9663 14.191 12.2699 13.0703L12.5786 13.3905V14.2939L18.2962 20L20 18.2962L14.2939 12.5786ZM7.43282 12.5786C4.58548 12.5786 2.28702 10.2802 2.28702 7.43282C2.28702 4.58548 4.58548 2.28702 7.43282 2.28702C10.2802 2.28702 12.5786 4.58548 12.5786 7.43282C12.5786 10.2802 10.2802 12.5786 7.43282 12.5786Z' fill='%23d1a410'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      height: 1rem;
      width: 1rem !important;
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      text-indent: -9999px;
      color: transparent;
      padding: 0;
      margin-top: 0 !important;
    }
  }
  .tribe-events-c-messages {
    &__message-icon-svg {
      color: $color1;
      margin-right: 1rem;
    }
  }
  .tribe-events-c-top-bar {
    &__nav-list-item {
      a {
        color: var(--color-accent);
      }
    }
    &__datepicker {
      flex: 0 1 auto;
    }
    // &__datepicker-container {
    // }
    &__datepicker-button {
      font-weight: 600;
      color: var(--color-p);

      &:hover {
        color: var(--color-accent);
      }

      &::after {
        content: "";
        display: inline-block;
        background: url(#{$icons_dir}angle-down.svg) no-repeat center center;
        background-size: contain;
        height: 0.85rem;
        width: 0.85rem;
        margin-left: 0.5rem;
      }
    }
    &__datepicker-mobile {
      display: none !important;
      visibility: hidden;
    }
    &__datepicker-desktop {
      display: block !important;
      visibility: visible;
    }
  }
  .tribe-events-c-view-selector {
    width: auto;

    &__list-item-text {
      font-weight: 600;
    }
    &__button {
      // flex-direction: row-reverse;
      color: var(--color-p);

      &::after {
        content: "";
        display: inline-block;
        background: url(#{$icons_dir}angle-down.svg) no-repeat center center;
        background-size: contain;
        height: 0.85rem;
        width: 0.85rem;
        margin-left: 0.5rem;
      }
    }
    &__button-text {
      position: static;
      height: auto;
      width: auto;
      margin: 0;
      clip: none;
      margin-left: 0.5rem;
      font-weight: 700;
    }
    &__button-icon {
      width: 1rem;
      height: 1rem;
    }
    &__content {
      background-color: var(--white);
      box-shadow: var(--box-shadow);

      @include breakpoint($laptop-sm) {
        background-color: transparent;
        box-shadow: none;
      }
    }
  }
  .tribe-events-c-events-bar {
    &__search-container {
      top: calc(2rem + var(--tec-spacer-1));
    }
    &__search-button {
      margin-right: var(--tec-spacer-4);
    }
    &__search-button-icon-svg {
      width: 1rem;
      color: var(--color-accent);
    }
  }
  .tribe-events-calendar-month {
    &__header-column-title {
      font-family: var(--font-secondary);
      color: var(--color-p);
      font-weight: 600;
      font-size: 0.625rem;
      text-transform: uppercase;

      @include breakpoint($tablet-sm) {
        font-size: 0.6875rem;
      }
    }
    &__body {
      border: 0;
    }
    &__week {
      border: 0;
    }
    &__day {
      border: 2px solid var(--white) !important;
      background-color: var(--light-grey);

      // &--past {
      //   opacity: 0.5;
      // }

      &--current {
        background-color: var(--color-primary);
        h3 {
          color: var(--white);
        }
      }
    }
    &__day-cell {
      &--mobile {
        align-items: flex-start;
        text-align: left;
        padding: 0.3125rem;
      }
    }
    &__day-date {
      font-family: var(--font-secondary);
      font-size: 0.625rem;
      font-weight: 700;
      padding-bottom: 0.625rem;

      @include breakpoint($tablet-sm) {
        font-size: 1.125rem;
      }
    }
    &__calendar-event-datetime {
      line-height: 1.25;
      margin-bottom: 0.5rem;
      font-size: 0.875rem;
      display: none;
    }

    &__calendar-event-title {
      @include h5;
      color: var(--color-accent);
      font-size: 1rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      a {
        color: inherit;
      }
    }

    &__calendar-event {
      background-color: var(--white);
      padding-top: 0.25rem;
      padding-bottom: 0.25rem !important;
    }
    &__multiday-event {
      // &:hover {
      //   @include box-shadow;
      // }
    }
    &__multiday-event-bar-title {
      @include h5;
      color: var(--color-accent);
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      font-size: 1rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    &__calendar-event-tooltip {
      color: var(--color-p);
      padding: 1rem;

      &-datetime {
        font-size: 0.875rem;
        margin-bottom: 0.25rem;
      }
      &-title {
        font-size: 1rem;
        @include h5;
      }
      &-description {
        font-size: 0.875rem;
      }
    }

    &__calendar-event-tooltip-featured-image-wrapper {
      width: 100%;
    }

    &__calendar-event-tooltip-featured-image-link {
      display: flex;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      position: relative;

      img {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }

    &__mobile-events-icon {
      &--event {
        color: $color1;
      }
    }
  }

  .tribe-events-calendar-month-mobile-events {
    &__day-marker {
      @include h3;
    }
    &__mobile-event-title {
      @include h4;
    }
  }

  .tribe-events-calendar-list {
    &__month-separator {
      + .tribe-events-calendar-list__event-row {
        margin-top: 2rem;
      }
    }
    &__month-separator-text {
      @include h3;
    }
    &__event-featured-image-wrapper {
      display: none;

      @include breakpoint(min-width 838px) {
        display: block;
        max-width: 20rem;
        margin-left: auto;
      }
    }
    &__event-featured-image-link {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;

      img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &__event-date-tag {
      width: 80px;

      @include breakpoint($tablet-sm) {
        width: 100px;
      }
    }
    &__event-date-tag-datetime {
      background-color: var(--light-grey);
      height: auto;
      padding: 0.625rem;
    }
    &__event-header {
      // @include breakpoint($tablet-sm) {
      //   margin-left: 1.125rem;
      // }
      // @include breakpoint($laptop-sm) {
      //   margin-left: 1.25rem;
      // }
    }
    &__event-datetime-wrapper {
      margin-bottom: 0.25rem;

      @include breakpoint($laptop-lg) {
        margin-bottom: 0;
      }
    }
    &__event-datetime {
      font-size: 0.875rem;
    }
    &__event-title {
      @include h4;
      font-weight: 700;

      a {
        color: var(--color-primary);

        &:hover {
          color: var(--color-accent);
        }
      }
    }
    &__event-description {
      @include breakpoint($tablet-sm) {
        @include breakpoint(max-width 1024px) {
          display: block !important;
          visibility: visible;
          margin-top: 1rem;
        }
      }
    }

    &__event-row {
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
      margin-right: -0.625rem;
      margin-left: -0.625rem;
      > .tribe-common-g-col {
        padding-right: 0.625rem;
        padding-left: 0.625rem;
      }
    }
  }

  .tribe-events-c-ical {
    &__link {
      &::before {
        content: "";
        height: 1.5rem;
        width: 1.5rem;
        position: relative;
        bottom: -0.125rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z' fill='%23192752'/%3E%3C/svg%3E");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 0.5rem;
      }

      &:hover {
        color: var(--color-accent);
      }
    }
  }
}

.tribe-common {
  &--breakpoint-medium {
    &.tribe-events {
      .tribe-events-l-container {
        min-height: initial !important;
      }
      .tribe-events-c-view-selector {
        &--labels {
          .tribe-events-c-view-selector {
            &__list-item-icon {
              display: block !important;
              visibility: visible !important;
            }
          }
        }

        &__list {
          margin: 0 calc(var(--tec-spacer-2) * -1);
        }

        &__content {
          background: none;
          padding: 0 !important;
          &::before {
            content: none;
          }
        }
      }
    }
  }
}

.tribe-common-c-svgicon {
  &__svg-stroke {
    color: $color4;
  }
}

.tribe-common-c-btn-border-small,
.tribe-events-c-nav__today {
  background-color: var(--light-grey);
  color: var(--color-primary);
  font-size: var(--font-size-small);
  font-weight: 600;
  padding: 0.5rem 0.75rem !important;
  transition: var(--transition);

  &:hover {
    box-shadow: var(--box-shadow);
    color: var(--color-accent);
  }
}

.tribe-events-c-nav {
  &__next,
  &__prev {
    svg {
      display: inline-block !important;
      height: 0.85rem;
      width: auto;
      color: var(--color-accent);
    }
    &[disabled] {
      opacity: 0.3;
      color: var(--color-p);
    }
  }
  &__next {
    svg {
      margin-left: 0.5rem;
    }
  }
  &__prev {
    // &::after {
    //   margin-right: 0.5rem;
    //   transform: rotate(90deg);
    // }
    svg {
      margin-right: 0.5rem;
    }
  }
}

.tribe-events-c-ical {
  margin-top: 2.5rem;

  &__link {
    width: auto;
    @include btn;
    padding-top: 0;
    padding-bottom: 0;
  }
}

// Datepicker
.datepicker {
  &.dropdown-menu {
    box-shadow: var(--box-shadow);
    border: 0;

    &::before {
      box-shadow: var(--box-shadow);
      border: 0;
    }
  }

  .month,
  .year {
    padding: 0;
  }

  .datepicker-switch,
  .next,
  .prev,
  tfoot tr th {
    &:hover {
      background: none;
      color: $color1;
    }
  }

  table {
    tr {
      td {
        &.day,
        span {
          &.active {
            &.active,
            &.disabled &:active,
            &:hover,
            [disabled] {
              background: $color5 !important;
              color: $color1;
            }
          }

          &.focused,
          &:hover {
            background: var(--light-grey) !important;
          }
        }
      }
    }
  }
}

.tooltipster-base {
  &.tribe-events-tooltip-theme {
    max-width: 350px;
  }
}

.tooltipster-box {
  border: 0 !important;
  background-color: var(--white) !important;
  @include box-shadow;
}

.tribe-category-filter-wrapper {
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 1.875rem !important;
  margin-bottom: 1.875rem !important;

  @include breakpoint($tablet-sm) {
    margin-top: 0 !important;
  }

  @include breakpoint($laptop-sm) {
    margin-bottom: 0 !important;
    flex: 1;
  }

  .tribe-category-filter {
    --cat-gap: 0.625rem;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    margin: calc(var(--cat-gap) * -0.5) calc(var(--cat-gap) * -1);

    @include breakpoint($tablet-sm) {
      --cat-gap: 0.875rem;
    }

    @include breakpoint($laptop-sm) {
      --cat-gap: 1.25rem;
    }

    &__cat {
      padding: calc(var(--cat-gap) * 0.5) var(--cat-gap);

      a {
        font-weight: 700;
        opacity: 0.5;

        &[aria-current="page"] {
          opacity: 1;
        }

        &:hover {
          opacity: 1;
          color: var(--color-accent);
        }
      }
    }
  }
}
