#tribe-events-pg-template {
  padding: 0;
  max-width: initial;
}

.tribe-events-single > .tribe_events {
  overflow: visible;
}

.tribe-events-notices {
  ul {
    list-style: none;

    li {
      padding: 1rem;
      background-color: var(--light-grey);
    }
  }
}

.tribe-events-back {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  > span {
    font-weight: 500;
  }
}

h1.tribe-events-single-event-title {
  @include h2;
}

// .tribe-events-schedule {
//   padding: 0.5rem 1rem;
//   background: var(--light-grey);

//   h2 {
//     @include h6;
//   }
// }

.tribe-events-header-meta {
  margin-bottom: 2rem;
}

.tribe-events-event-image {
  display: flex;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.tribe-events-content {
  margin-bottom: 2rem;

  p:last-child {
    margin-bottom: 0 !important;
  }
}

.event-links {
  margin-bottom: 1.5rem;

  ul {
    display: flex;
    justify-content: flex-end;
    flex-flow: wrap;
    list-style: none;
    margin: -1rem;

    li {
      padding: 1rem;
    }
  }
}

.tribe-events-button,
.tribe-events-event-url a {
  @include btn;
}

.tribe-events-cal-links {
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin: -0.5rem;
    > p {
      margin: 0;
      padding: 0.5rem;
    }
    > ul {
      padding: 0.5rem;
      margin: -0.5rem -1rem;
      list-style: none;
      display: flex;
      justify-content: flex-end;
      flex-flow: wrap;

      > li {
        padding: 0.5rem 1rem;
      }
    }
  }

  .tribe-events-gcal,
  .tribe-events-ical {
    margin: 0;
  }
}

.tribe-events-event-meta {
  display: flex;
  flex-flow: wrap;
  flex: 100%;
  margin: -1rem;

  @include breakpoint($tablet-sm) {
    margin: -1rem -1.5rem;
  }
}

.tribe-events-meta-group {
  // width: 100%;
  flex: 0 0 100%;
  margin: 0;
  padding: 1rem;

  @include breakpoint($tablet-sm) {
    flex: 0 0 50%;
    padding: 1rem 1.5rem;
  }

  .tribe-events-single-section-title {
    @include h3;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $color2;
    @include margin(bottom, 1rem, 1rem, 1.5rem, 1.5rem, 2rem);
  }

  dl {
    dt {
      font-weight: 600;

      // &.tribe-events-start-date-label,
      // &.tribe-events-end-date-label {
      //   @include breakpoint($tablet-sm) {
      //     width: 33%;
      //     margin: 0 0 0.625rem;
      //   }

      //   + dd {
      //     @include breakpoint($tablet-sm) {
      //       width: 67%;
      //       margin: 0 0 0.625rem;
      //     }
      //   }
      // }
    }

    dd {
      &.tribe-events-event-url {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  abbr {
    text-decoration: none;
  }
}

#tribe-events-footer {
  display: none;
}

.subscribe {
  @include breakpoint($laptop-sm) {
    margin-top: 5rem;
  }
}
