.bursaries {
  .col-accordions {
    order: 1;

    @include breakpoint($laptop-sm) {
      order: 0;
    }
  }
  &__text {
    margin-bottom: 2.5rem;

    @include breakpoint($laptop-sm) {
      margin-bottom: 3.125rem;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  &__img {
    margin-left: 5%;
    margin-right: -50%;
    margin-top: 2.5rem;
    margin-bottom: -100%;
    text-align: right;

    @include breakpoint($laptop-sm) {
      margin-left: 15%;
      margin-right: -67%;
      margin-top: 0;
    }

    @include breakpoint($laptop-lg) {
      margin-right: -27%;
    }

    @include breakpoint($desktop-lg) {
      margin-right: -42%;
    }

    img {
      width: 100%;
      max-width: 23rem;

      @include breakpoint($laptop-sm) {
        max-width: 32rem;
      }
    }
  }

  .accordions {
    .accordion {
      @include breakpoint($mobile-only) {
        margin-left: -5rem;
        margin-right: -5rem;
      }
      &__head,
      &__body__inner {
        @include breakpoint($mobile-only) {
          padding-left: 5rem;
          padding-right: 5rem;
        }
      }
    }
  }
}

.submissions {
  &__inner {
    display: flex;
    flex-flow: wrap;
  }

  &__steps {
    flex: 0 0 100%;
    max-width: 100%;

    @include breakpoint($laptop-sm) {
      flex: 0 0 50%;
      max-width: 50%;
      margin-right: 8.333%;
    }

    @include breakpoint($laptop-lg) {
      margin-right: 10%;
    }
  }
}
