.intro {
  position: relative;
  z-index: 0;

  &__bg {
    position: absolute;
    width: 10%;
    right: 0;
    bottom: 0;
    transform: translate(0, 20%);

    @include breakpoint($laptop-lg) {
      transform: translate(0, 50%);
    }
  }
}

.search-course-form {
  margin-bottom: 1.875rem;

  @include breakpoint($laptop-sm) {
    margin-bottom: 2.5rem;
  }

  @include breakpoint($laptop-lg) {
    margin-bottom: 3.75rem;
  }
}
.search-course {
  // display: flex;
  // flex-flow: wrap;
  // margin: -1rem -1.75rem;

  // &__field {
  //   flex: 0 0 100%;
  //   max-width: 100%;
  //   padding: 1rem 1.75rem;

  //   @include breakpoint($laptop-sm) {
  //     flex: 0 0 50%;
  //     max-width: 50%;
  //   }
  // }

  &__fields {
    max-width: 43.5rem;
  }
}

.courses {
  position: relative;
  z-index: 0;

  &__list {
    > ul {
      list-style: none;
      display: flex;
      flex-flow: wrap;
      margin: -1rem;
    }
  }
}

.course {
  padding: 1rem;
  flex: 0 0 100%;
  max-width: 100%;

  @include breakpoint($laptop-sm) {
    flex: 0 0 50%;
    max-width: 50%;
  }

  &__card {
    height: 100%;

    @include breakpoint($mobile-only) {
      margin-left: -100%;
      margin-right: -100%;
      padding-left: 100%;
      padding-right: 100%;
    }
  }

  &__header {
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: -0.5rem;
    margin-bottom: 1rem;

    @include breakpoint($tablet-sm) {
      flex-wrap: nowrap;
    }
  }

  &__title,
  &__semester {
    padding: 0.5rem;
  }

  &__title {
    flex: 0 0 100%;

    @include breakpoint($tablet-sm) {
      flex: initial;
    }

    a .h3 {
      color: inherit;
    }
  }

  &__semester {
    white-space: nowrap;
  }

  &__desc {
    &__list {
      list-style: none;
    }
  }
}
