.courses {
  &__inner {
    @include breakpoint($desktop) {
      padding-right: 10%;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: wrap;
    align-items: stretch;
    margin: -0.5rem;

    > li {
      padding: 0.5rem;
      width: 100%;
      max-width: 100%;
      flex: 0 0 100%;

      @include breakpoint($tablet-sm) {
        width: 50%;
        max-width: 50%;
        flex: 0 0 50%;
      }

      // @include breakpoint($laptop-sm) {
      //   width: 33.333%;
      //   max-width: 33.333%;
      //   flex: 0 0 33.333%;
      // }
    }
  }

  &__course {
    height: 100%;
    --card-padding: 1rem;

    @include breakpoint($laptop-sm) {
      --card-padding: 1.5rem;
    }
  }
}
