.title {
  &__accordions {
    display: flex;
    flex-flow: wrap;
    margin: -1rem;

    &__col {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 1rem;

      @include breakpoint($laptop-sm) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
  // &__nav {
  //   --item-gap: 0.5625rem;
  //   --box-padding: 1.625rem;

  //   &__inner {
  //     padding-top: var(--box-padding);
  //     padding-bottom: var(--box-padding);
  //     padding-right: var(--box-padding);

  //     @include breakpoint($laptop-sm) {
  //       padding: var(--box-padding);
  //       margin-left: calc(var(--box-padding) * -1);
  //     }
  //   }
  //   ul {
  //     list-style: none;
  //     padding: 0;
  //     margin: calc(var(--item-gap) * -1) calc(var(--item-gap) * -2);
  //     display: flex;
  //     flex-flow: wrap;

  //     li {
  //       flex: 0 0 100%;
  //       max-width: 100%;
  //       font-weight: 600;
  //       padding: var(--item-gap) calc(var(--item-gap) * 2);
  //       color: var(--color-p);

  //       @include breakpoint($tablet-sm) {
  //         flex: 0 0 50%;
  //         max-width: 50%;
  //       }

  //       a {
  //         color: inherit;

  //         &:hover {
  //           color: var(--color-accent);
  //         }
  //       }

  //       &.current {
  //         font-weight: 700;
  //         color: var(--color-primary);
  //       }
  //     }
  //   }
  // }
}

.courses {
  &__inner {
    @include breakpoint($desktop) {
      padding-right: 10%;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: wrap;
    align-items: stretch;
    margin: -0.5rem;

    > li {
      padding: 0.5rem;
      width: 100%;
      max-width: 100%;
      flex: 0 0 100%;

      @include breakpoint($tablet-sm) {
        width: 50%;
        max-width: 50%;
        flex: 0 0 50%;
      }

      // @include breakpoint($laptop-sm) {
      //   width: 33.333%;
      //   max-width: 33.333%;
      //   flex: 0 0 33.333%;
      // }
    }
  }

  &__course {
    height: 100%;
    --card-padding: 1rem;

    @include breakpoint($laptop-sm) {
      --card-padding: 1.5rem;
    }
  }
}
