.intro {
  position: relative;

  &__text {
    max-width: 50rem;
    margin-bottom: var(--p-spacing);

    @include breakpoint($laptop-sm) {
      margin-bottom: var(--section-spacing-sm);
    }
  }

  &__img {
    position: absolute;
    opacity: 0.3;
    top: 5rem;
    right: 0;
    width: 50%;
    transform: translate(33%, 0);

    @include breakpoint($mobile-lg) {
      top: 3.5rem;
    }

    @include breakpoint($tablet-sm) {
      position: relative;
      transform: none;
      width: initial;
      margin-right: -100%;
      opacity: 1;
      top: 0;
    }

    @include breakpoint($laptop-sm) {
      margin-left: 5%;
      margin-right: -25%;
      top: 3.5rem;
    }

    @include breakpoint($laptop-lg) {
      margin-left: 10%;
    }

    @include breakpoint($desktop-lg) {
      margin-right: -30%;
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      pointer-events: none;
    }
  }

  &__courses {
    max-width: 45rem;

    &__title {
      font-weight: 700;
      margin-bottom: var(--p-spacing);
    }

    ul {
      list-style: none;

      @include breakpoint($tablet-sm) {
        column-count: 2;
        column-gap: 3rem;
      }

      li {
        &:not(:last-child) {
          margin-bottom: var(--p-spacing);
        }

        a {
          display: flex;
          align-items: flex-start;

          &:hover {
            h6 {
              color: var(--dark-gold);
            }
          }
        }

        img {
          width: 1rem;
          height: 1.5rem;
          margin-right: 1rem;
        }

        h6 {
          display: inline-block;
          transition: $transition;
        }
      }
    }
  }
}