.intro {
  &__text {
    @include breakpoint($tablet-sm) {
      padding-right: 1.5rem;
    }
    @include breakpoint($laptop-sm) {
      padding-right: 0;
    }
  }
  &__logos {
    ul {
      list-style: none;
      display: flex;
      flex-flow: wrap;
      align-items: center;
      margin: -0.5rem -1rem;

      @include breakpoint($laptop-sm) {
        margin: -0.5rem -1.5rem;
      }

      li {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;

        @include breakpoint($laptop-sm) {
          padding: 0.5rem 1.5rem;
        }

        img {
          height: 2.25rem;
          max-width: 10rem;
          width: auto;
          object-fit: contain;

          @include breakpoint($tablet-sm) {
            height: 2.5rem;
            max-width: 12rem;
          }

          @include breakpoint($laptop-sm) {
            height: 3.25rem;
            max-width: 14rem;
          }

          @include breakpoint($laptop-lg) {
            height: 3.5rem;
            max-width: 19rem;
          }

          @include breakpoint($desktop) {
            height: 6rem;
            max-width: 22rem;
          }
        }
      }
    }
  }

  &__img {
    &__inner {
      position: relative;
      z-index: 0;
      margin-right: -12%;

      @include breakpoint($laptop-sm) {
        margin-right: 5%;
        margin-top: -2.5rem;
      }

      &::before {
        content: "";
        height: 65%;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 60%;
        background-color: var(--color-primary);
        z-index: -1;

        @include breakpoint($laptop-sm) {
          height: 60%;
        }
      }

      img,
      svg {
        display: block;
      }

      svg {
        position: absolute;
        bottom: 0;
        right: 25%;
        transform: translate(0, 50%);
        width: 32%;

        @include breakpoint($laptop-sm) {
          right: 0;
          transform: translate(25%, 50%);
          width: 41%;
        }
      }
    }
  }
}

.degree-programs-overview {
  &__bg {
    display: none;

    @include breakpoint($laptop-sm) {
      display: block;
      width: 33%;
    }
    @include breakpoint($laptop-lg) {
      width: 25%;
    }
  }
}

.courses {
  align-items: center;
  &__img {
    position: relative;
    z-index: 0;

    @include breakpoint($tablet-sm) {
      margin-right: 5%;
      margin-left: 0;
    }

    @include breakpoint($laptop-sm) {
      margin-right: 2.5rem;
    }

    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 50%;
      right: 50%;
      height: 60%;
      width: 100%;
      background-color: var(--color-primary);
      transform: translateY(-50%);

      @include breakpoint($laptop-sm) {
        display: none;
      }
    }

    img {
      &.fg {
        width: 100%;
        height: auto;

        @include breakpoint($laptop-sm) {
          width: 50%;
        }
      }

      &.bg {
        position: absolute;
        z-index: -1;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        // height: 50%;
        width: 70%;
        // max-width: initial;
      }
    }
  }

  &__form {
    margin-bottom: var(--p-spacing);
    max-width: 42rem;
  }

  .search-course {
    &__field {
      &:not(:last-child) {
        margin-bottom: 2.5rem;
      }
    }
  }
}

.links {
  --item-gap: 0.625rem;

  @include breakpoint($laptop-sm) {
    --item-gap: 0.75rem;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: wrap;
    align-items: stretch;
    margin: calc(var(--item-gap) * -1);

    li {
      padding: var(--item-gap);
      flex: 0 0 100%;
      max-width: 100%;

      @include breakpoint($tablet-sm) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }

  &__link {
    height: 100%;

    &__title {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      > span {
        margin-right: 1.5rem;
      }

      img {
        height: 2.25rem;
        width: auto;

        @include breakpoint($tablet-sm) {
          height: 2.5rem;
        }

        @include breakpoint($laptop-sm) {
          height: 4.0625rem;
        }

        @include breakpoint($laptop-lg) {
          height: 4.375rem;
        }

        @include breakpoint($desktop) {
          height: 5rem;
        }
      }
    }
  }
}
