.intro {
  &__img {
    margin-right: -30%;
    margin-left: 15%;
    position: relative;

    img {
      position: absolute;
      width: 100%;
      height: auto;
    }
  }

  .blockquote {
    @include breakpoint($mobile-only) {
      font-weight: 400;
      padding: 0;

      &::before {
        content: none;
      }
    }
  }
}

.events {
  &__wrapper {
    margin-top: 2.5rem;
  }
}

.contact {
  &__intro {
    margin-bottom: 2.5rem;
  }

  &__row {
    display: flex;
    flex-flow: wrap;
    margin: 0 -1rem;
  }

  &__col {
    padding: 0 1rem;
  }
}
