/******************************************************************

Stylesheet: Contact

Styles for Contact page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.contact {
  position: relative;

  &__form {
    margin-bottom: var(--section-spacing);

    @include breakpoint($laptop-sm) {
      margin-bottom: 0;
      padding-right: 1.5rem;
    }

    .gform_wrapper {
      @include breakpoint($laptop-sm) {
        max-width: 42rem;
      }
    }
  }
}

.directory {
  &__col {
    @include breakpoint($desktop) {
      flex: 0 0 83.333%;
      max-width: 83.333%;
      width: 83.333%;
    }
  }
  ul {
    list-style: none;
    padding: 0;
  }

  &__list {
    &--tabs {
      max-width: 30rem;

      .tabs-wrapper {
        margin-left: -100%;
        margin-right: -100%;
        padding-left: 100%;
        padding-right: 100%;

        @include breakpoint($tablet-sm) {
          margin-left: 0;
          margin-right: 0;
          padding-left: 1.25rem;
          padding-right: 1.25rem;
        }
      }

      .tabs {
        margin-top: 0;
        margin-bottom: 0;
        justify-content: space-between;

        .tab {
          color: var(--color-p);

          &:not(:last-child) {
            margin-right: calc(var(--tab-spacing) * 1);

            @include breakpoint($tablet-sm) {
              margin-right: calc(var(--tab-spacing) * 1.5);
            }

            &::after {
              content: none;
            }
          }
        }
      }

      .directory__group {
        @include breakpoint($mobile-only) {
          margin-left: -100%;
          margin-right: -100%;
          padding-left: 100%;
          padding-right: 100%;
        }
        &__title {
          display: none;
        }
      }
    }
    > ul {
      display: flex;
      flex-flow: wrap;
      margin: -1.25rem;

      @include breakpoint($laptop-sm) {
        align-items: stretch;
      }

      @include breakpoint($laptop-lg) {
        align-items: flex-start;
        margin: -0.625rem;
      }

      > li {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 1.25rem;

        @include breakpoint($laptop-sm) {
          flex: 0 0 50%;
          max-width: 50%;
        }

        @include breakpoint($laptop-lg) {
          flex: 0 0 33.333%;
          max-width: 33.333%;
          padding: 0.625rem;
        }
      }
    }
  }

  &__group {
    padding: 1rem 1.25rem;
    height: 100%;

    &__persons {
      > ul > li {
        &:not(:last-child) {
          margin-bottom: 2.5rem;
        }
      }
    }
  }
}
