.intro {
  &__text {
    margin-bottom: 2.5rem;

    @include breakpoint($laptop-sm) {
      margin-bottom: 0;
    }

    @include breakpoint($desktop) {
      padding-right: 3.5rem;
    }
  }

  &__donate {
    @include breakpoint($laptop-lg) {
      padding-left: 3.5rem;
    }

    @include breakpoint($desktop) {
      padding-right: 0;
    }
  }

  .tabs {
    .tab {
      display: flex;
      align-items: center;

      svg {
        height: 1.25rem;
        width: auto;
        margin-right: 0.5rem;
        color: var(--color-accent);
      }
    }
  }
}

.donate-online-title {
  display: flex;
  align-items: center;

  svg {
    height: 1em;
    width: auto;
    margin-left: 0.5em;
  }
}

.donate {
  .tab-panels {
    margin-top: 0;

    iframe {
      @include breakpoint(max-width 449px) {
        margin-top: 1.5rem;
        box-shadow: 0 -3px 6px rgb(0 0 0 / 8%);
      }
    }

    #donate-securities iframe {
      @include breakpoint(max-width 449px) {
        padding-top: 1.5rem;
      }
    }
  }
}
