.staff {
  position: relative;

  &__bg {
    position: absolute;
    right: 0;
    top: 0;
    width: 10%;
    transform: translate(0, -20%);
  }
}

.profile {
  margin-bottom: 2.125rem;

  @include breakpoint($tablet-sm) {
    margin-bottom: 0;
  }

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
  }
  &__img {
    width: 4.5625rem;
    min-width: 4.5625rem;
    margin-right: 1.25rem;

    @include breakpoint($tablet-sm) {
      width: 100%;
      min-width: initial;
      max-width: 17.5rem;
      margin-right: 0;
    }
  }
}

.bio {
  @include breakpoint($tablet-sm) {
    padding-left: 2.5rem;
  }
  @include breakpoint($laptop-lg) {
    padding-left: 3.5rem;
  }
  @include breakpoint($desktop) {
    padding-right: 14.29%;
  }

  &__details {
    margin-top: 2.5rem;
  }
}
