.intro {
  position: relative;
  margin-bottom: 2.5rem;

  @include breakpoint($laptop-sm) {
    margin-bottom: 3.5em;
  }

  &__bg {
    position: absolute;
    right: 0;
    top: 0;
    width: 17%;
    transform: translate(0, 10%);

    @include breakpoint($laptop-sm) {
      width: 12%;
    }
  }
}

.lb-tabs {
  .tab-panels {
    &--main {
      margin-top: 0;
    }
  }
}

.posts-grid {
  @include breakpoint($laptop-lg) {
    --post-spacing: 2rem;
  }
  .post-entry {
    max-width: 100%;
    flex: 0 0 100%;
    @include breakpoint($tablet-sm) {
      max-width: 50%;
      flex: 0 0 50%;
    }
  }
}
