/******************************************************************

Stylesheet: Home Page

Styles for Homepage ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.hero {
  // @include breakpoint($laptop-sm) {
  //   margin-bottom: 3.5rem;
  // }
  &__inner {
    display: flex;
    flex-direction: column;
  }
  &__text {
    position: relative;
    z-index: 0;
    @include margin(bottom, 1.5rem, -3.5rem, -8rem, -10rem, -12rem);

    @include breakpoint($laptop-lg) {
      margin-left: 8.333%;
    }

    &__inner {
      display: inline-block;
    }

    br {
      &:last-of-type {
        display: none;

        @include breakpoint($mobile) {
          display: block;
        }
      }
    }
  }
  &__img {
    position: relative;
    z-index: -1;
    &__inner {
      margin-right: -1.25rem;

      @include breakpoint($mobile-sm) {
        margin-right: -6%;
      }

      @include breakpoint($laptop-sm) {
        margin-right: -8%;
      }

      @include breakpoint($laptop-lg) {
        margin-right: -6%;
      }
    }
    img {
      width: 100%;
      height: auto;
      user-select: none;
      -webkit-user-drag: none;
    }
  }
}

.about {
  --column-gap: 1rem;

  @include breakpoint($laptop-lg) {
    --column-gap: 2rem;
  }

  &__inner {
    display: flex;
    margin: 0 calc(var(--column-gap) * -1);
  }

  &__img,
  &__text {
    padding: 0 var(--column-gap);
  }

  &__img {
    flex: 0 0 $col * 2;
    max-width: $col * 2;

    @include breakpoint($laptop-lg) {
      flex: 0 0 18.18%;
      max-width: 18.18%;
    }
  }

  &__text {
    flex: 1;
  }
}

.degree {
  position: relative;
  z-index: 0;

  &__bg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45%;
    z-index: -1;
    transform: translateY(33%);

    @include breakpoint($laptop-lg) {
      width: 33%;
    }
  }
  &__accordions {
    .accordion {
      --padding-h: 0;
      box-shadow: none;
      margin-bottom: 0;
      background-color: transparent;

      &__plus-minus {
        display: none;
      }

      &__head {
        position: relative;
        // overflow: hidden;

        @include breakpoint($tablet-sm) {
          width: 66.667%;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: -100%;
          height: 100%;
          width: 300%;
          background-color: var(--color-primary);
          opacity: 0;
          transition: opacity var(--transition);

          @include breakpoint($tablet-sm) {
            right: 0;
          }
        }
      }

      &__body {
        overflow: visible;

        &__inner {
          margin-left: -100%;
          margin-right: -100%;
          padding-left: 100%;
          padding-right: 100%;
          padding-top: var(--padding-v);
          box-shadow: var(--box-shadow);
          background-color: var(--white);
        }
      }

      &.active {
        .accordion__head {
          &::before {
            opacity: 0.1;
          }
        }
      }
    }
  }
  &__tabs {
    .lb-tabs {
      display: flex;
      align-items: stretch;

      .tabs {
        flex-direction: column;

        @include breakpoint($laptop-sm) {
          flex: 0 0 50%;
        }

        @include breakpoint($laptop-lg) {
          flex: 0 0 40%;
        }

        .tab {
          margin-right: 0;
          padding: 1rem 3.75rem 1rem 1rem;
          margin-left: -1rem;
          position: relative;
          font-weight: 600;
          font-size: 1rem;

          &::after {
            content: none;
          }

          &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--color-primary);
            opacity: 0;
            transition: var(--transition);
          }

          &.active {
            font-weight: 700;

            &::before {
              opacity: 0.1;
            }
          }
        }
      }

      .tab-panels {
        margin-top: 0;

        @include breakpoint($laptop-sm) {
          flex: 0 0 50%;
        }

        @include breakpoint($laptop-lg) {
          flex: 0 0 60%;
        }

        .card {
          height: 100%;
        }
      }
    }
  }
}

.faculty {
  position: relative;
  z-index: 0;

  &__bg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 8%;
    transform: translate(0, 50%);

    @include breakpoint($laptop-lg) {
      width: 12%;
    }
  }

  &__list {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

    ul {
      li {
        &:nth-child(n + 4) {
          display: none;

          @include breakpoint($laptop-sm) {
            display: block;
          }
        }
      }
    }
  }
}

.news-events {
  position: relative;

  &__bg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 33%;
    transform: translate(10%, 50%);
    z-index: -1;
  }
}
