.intro {
  position: relative;
  z-index: 0;

  &__title {
    display: flex;
    flex-flow: wrap;
    align-items: center;

    &__separator {
      display: none;

      @include breakpoint($tablet-sm) {
        display: inline-block;
        height: 1em;
        width: 2px;
        margin: 0 0.75em;
        background-color: var(--color-accent);
      }
    }

    &__subtitle {
      font-weight: 400;
      margin-top: 0.25em;
      display: block;
      flex: 0 0 100%;

      @include breakpoint($tablet-sm) {
        display: inline;
        margin-top: 0;
        flex: auto;
        font-size: 1.125rem;
      }

      @include breakpoint($laptop-sm) {
        font-size: 1.25rem;
      }

      @include breakpoint($desktop) {
        font-size: 1.5rem;
      }
    }
  }

  &__img {
    position: absolute;
    right: 0;
    width: 12%;
    max-width: 17.5rem;
    z-index: -1;

    @include breakpoint($laptop-lg) {
      width: 15%;
    }

    img {
      transform: translateY(-25%);
    }
  }
}

.lb-tabs {
  margin-top: 1.875rem;

  .tabs-wrapper {
    position: relative;
    display: inline-block;
    max-width: 100%;
    background-color: var(--white);

    @include breakpoint($tablet-sm) {
      box-shadow: var(--box-shadow);
      margin-left: -1.25rem;
      margin-right: -1.25rem;
      padding: 1rem 1.25rem;
      max-width: calc(100% + 1.25rem * 2);
    }
  }

  .tab-panels {
    margin-top: 0;
  }
}

// About

.personnel {
  &__inner {
    max-width: 55rem;
  }
  ul {
    --item-gap: 0.75rem;
    list-style: none;
    display: flex;
    flex-flow: wrap;
    margin: calc(var(--item-gap) * -1);

    @include breakpoint($tablet-sm) {
      --item-gap: 1.25rem;
    }

    li {
      flex: 0 0 100%;
      max-width: 100%;
      padding: var(--item-gap);

      @include breakpoint($tablet-sm) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
}

// Subscription
.subscription {
  &__info {
    margin-bottom: var(--section-spacing-sm);

    @include breakpoint($tablet-sm) {
      margin-bottom: 0;
      padding-right: 2.5rem;
    }

    @include breakpoint($laptop-sm) {
      padding-right: 0;
    }

    ul {
      list-style: none;

      li {
        margin: 0;

        &.price {
          margin-top: var(--p-spacing);
        }
      }
    }
  }
}

// Submissions
.submissions {
  ul {
    list-style: none;
    padding: 0;
  }

  &__accordions {
    margin-bottom: var(--section-spacing);

    @include breakpoint($laptop-sm) {
      margin-bottom: 0;
      padding-right: 4.0625rem;
    }

    @include breakpoint($laptop-lg) {
      padding-right: 4.6875rem;
    }
  }

  &__info {
    &__card {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }

    &__deadlines {
      > li {
        &:not(:last-child) {
          margin-bottom: var(--p-spacing);
        }
      }
      &__issues {
        display: flex;
        flex-flow: wrap;
        margin: -0.5rem;

        > li {
          flex: 0 0 50%;
          padding: 0.5rem;
        }
      }
    }
  }
}

.articles {
  &__intro {
    display: flex;
    flex-direction: column-reverse;

    @include breakpoint($tablet-sm) {
      flex-direction: row;
    }

    &__text {
      @include breakpoint($tablet-sm) {
        flex: 0 0 $col * 7;
        max-width: $col * 7;
      }

      @include breakpoint($laptop-sm) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }

    &__search {
      margin-bottom: var(--p-spacing);

      @include breakpoint($tablet-sm) {
        margin-bottom: 0;
        flex: 0 0 $col * 4;
        margin-left: $col;
      }

      @include breakpoint($laptop-sm) {
        flex: 0 0 $col * 4;
        margin-left: $col * 2;
      }

      @include breakpoint($laptop-lg) {
        flex: 0 0 40%;
        margin-left: 10%;
      }

      form {
        max-width: 25rem;

        @include breakpoint($tablet-sm) {
          margin-left: auto;
        }
      }
    }
  }

  &__list {
    margin-top: var(--section-spacing-sm);
  }

  &__wrapper {
    --item-gap-h: 3.125rem;
    --item-gap-v: 0.875rem;

    ul {
      list-style: none;
      padding: 0;
    }

    > ul {
      display: flex;
      flex-flow: wrap;
      margin: calc(var(--item-gap-v) * -1) calc(var(--item-gap-h) * -1);

      > li {
        flex: 0 0 100%;
        max-width: 100%;
        padding: var(--item-gap-v) var(--item-gap-h);

        @include breakpoint($laptop-sm) {
          flex: 0 0 50%;
          max-width: 50%;
        }
      }
    }
  }

  .article {
    &__title {
      font-weight: 600;
    }
    &__meta {
      display: flex;

      &__list {
        flex: 1;

        li {
          &:not(:last-child) {
            margin-bottom: 0.625rem;
          }
        }
      }

      &__link {
        padding-left: 1.5rem;
      }
    }
  }
}

// The Collection
.collection__text {
  margin-bottom: var(--section-spacing);

  @include breakpoint($tablet-sm) {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }

  @include breakpoint($laptop-sm) {
    margin-right: 0;
  }
}
