.title-nav {
  margin-bottom: 1.5rem;

  &__inner {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    margin: -0.75rem;

    > div {
      padding: 0.75rem;
    }
  }

  &__search {
    margin-left: auto;
    width: 100%;
    max-width: 25rem;

    @include breakpoint($mobile-lg) {
      width: 25rem;
      max-width: 100%;
    }
  }

  &__nav {
    // flex: 0 0 100%;
    margin-left: auto;
    max-width: 100%;

    body.not-touch-device & {
      ul {
        flex-flow: wrap;
      }
    }

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      margin: -1rem -0.5rem;

      @include breakpoint(min-width 400px) {
        margin: -1rem -0.75rem;
      }

      @include breakpoint($tablet-sm) {
        margin: -1rem;
      }

      li {
        padding: 1rem 0.5rem;

        @include breakpoint(min-width 400px) {
          padding: 1rem 0.75rem;
        }

        @include breakpoint($tablet-sm) {
          padding: 1rem;
        }

        a {
          font-weight: 500;
          display: flex;
          align-items: center;

          svg {
            margin-right: 0.5rem;
            height: 1.25rem;
            width: auto;
          }

          &.active {
            color: var(--color-primary);
            font-weight: 700;
          }
        }
      }
    }
  }
}

.page-numbers-wrapper--top {
  margin-bottom: 0;

  @include breakpoint($mobile-only) {
    display: none;
  }
}

.posts-list-header {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  margin: -0.5rem;
  margin-bottom: 1rem;

  > div {
    padding: 0.5rem;
  }

  &__search {
    margin-right: 1rem;

    form {
      min-width: 20rem;
    }
  }

  &__pagination {
    margin-left: auto;
  }
}

.posts-list-wrapper {
  --post-gap-v: 0.75rem;
  --post-gap-h: 1.875rem;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;

  @include breakpoint($laptop-sm) {
    --post-gap-v: 1rem;
    --post-gap-h: 1.25rem;
    margin-top: 2.5rem;
  }

  @include breakpoint($laptop-lg) {
    --post-gap-v: 1.25rem;
    --post-gap-h: 1.5rem;
  }
}

.posts-list {
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  flex: 1;
  margin: calc(var(--post-gap-v) * -1) calc(var(--post-gap-h) * -1);

  .post-entry {
    padding: var(--post-gap-v) var(--post-gap-h);
    flex: 0 0 100%;
    max-width: 100%;
  }

  &--featured {
    margin-bottom: var(--post-gap-v);
    &--1 {
      flex: 0 0 100%;
      max-width: 100%;

      @include breakpoint($laptop-sm) {
        flex: 0 0 50%;
        max-width: 50%;
      }

      @include breakpoint($laptop-lg) {
        flex: 0 0 40%;
        max-width: 40%;
      }

      .post-entry {
        @include breakpoint($tablet-sm) {
          @include breakpoint(max-width 1024px) {
            .post-entry__inner {
              display: flex;
              align-items: flex-start;
            }
            .post-entry__img {
              flex: 0 0 55%;
              max-width: 55%;
              margin-bottom: 0;
              margin-right: var(--post-entry-img-gap);
            }
          }
        }
        &__img {
          max-width: initial;
        }
        &__icon {
          height: 2.25rem;
          width: 2.25rem;
          svg {
            width: 1.25rem;
            min-width: 1.25rem;
            height: auto;
          }
        }
        &__title {
          font-size: var(--font-size-h4);
        }
      }
    }
    &--2 {
      // display: none;

      @include breakpoint($laptop-sm) {
        display: flex;
        flex-flow: wrap;
        align-items: flex-start;
        flex: 0 0 50%;
        max-width: 50%;
      }

      @include breakpoint($laptop-lg) {
        flex: 0 0 60%;
        max-width: 60%;
      }

      .post-entry {
        &__inner {
          display: flex;
          align-items: flex-start;
        }

        &__img {
          width: 10rem;
          min-width: 10rem;
          margin-bottom: 0;
          margin-right: var(--post-entry-img-gap);
        }
      }
    }
  }

  &--standard {
    .post-entry {
      @include breakpoint($tablet-sm) {
        flex: 0 0 50%;
        max-width: 50%;
      }
      @include breakpoint($laptop-sm) {
        flex: 0 0 33.333%;
        max-width: 33.333%;
      }
    }
  }
}

.widget-area {
  @include breakpoint($laptop-sm) {
    margin-right: 0;
    margin-left: 2.5rem;
  }
  @include breakpoint($laptop-lg) {
    margin-left: 6rem;
  }
}
