/******************************************************************

Stylesheet: Article/Post template

Styles for post templates ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

iframe {
  max-width: 100%;
}

.entry-header {
  margin-bottom: 1.5rem;

  &--top {
    margin-bottom: 1.5rem;
  }
}

.entry-title {
  margin-bottom: 1.5rem;

  // .page-title-search {
  //   margin-bottom: 0.625rem;
  // }
}

.entry-meta,
.entry-thumbnail {
  margin-bottom: 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.entry-content {
  ul {
    @extend %bullets;
  }

  h2 {
    @include h3;
    font-family: var(--font-secondary);
    font-weight: 700;
  }

  h3 {
    @include h4;
  }

  h4 {
    @include h5;
  }

  h5 {
    @include h6;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not(:first-child) {
      margin-top: 1em;
    }
  }

  // li {
  //   a {
  //     @extend %inline-link;
  //   }
  // }
}

.social-share {
  display: flex;
  align-items: center;
  flex-flow: wrap;

  &__label {
    margin-right: 1rem;
  }

  ul {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    list-style: none;
    margin: -0.5rem;

    li {
      padding: 0.5rem;

      a {
        display: flex;
      }

      svg {
        height: 1rem;
        width: auto;
      }
    }
  }
}

.entry-footer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
}

// Page

.page-header {
  h1 {
    margin-bottom: 0.825em;
  }
}

.youtube-view-more {
  font-size: var(--font-size-small);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-flow: wrap;
    margin: -0.5rem;

    > span,
    > a {
      padding: 0.5rem;
    }

    a {
      display: flex;

      &:hover {
        filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16));
      }
    }
  }
}

.widget-area {
  @include breakpoint($tablet-sm) {
    margin-right: 25%;
  }
  @include breakpoint($laptop-sm) {
    margin-right: 0;
  }
}

.post-gallery {
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: wrap;
    margin: -0.5rem;
  }
  li {
    padding: 0.5rem;
    flex: 0 0 50%;
    max-width: 50%;

    @include breakpoint($tablet-sm) {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }

  &__item {
    display: flex;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    transition: box-shadow var(--transition);

    &:hover {
      box-shadow: var(--box-shadow);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.post-youtube-playlist {
  .post-entry {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;

    @include breakpoint($mobile) {
      max-width: 83.333%;
    }

    @include breakpoint($mobile-lg) {
      flex: 0 0 50%;
      max-width: 50%;
      width: 50%;
    }

    @include breakpoint($laptop-sm) {
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
    }

    &__img {
      .post-entry__icon {
        left: initial;
        bottom: 0;
        right: 0;
        background: var(--gold-gradient);

        svg path {
          fill: var(--white);
        }
      }
    }
  }
}
