.research {
  position: relative;
  z-index: 0;
  margin-bottom: 2.5rem;

  @include breakpoint($laptop-sm) {
    margin-bottom: 3.5em;
  }

  &__bg {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    width: 15%;
    transform: translate(0, 20%);

    @include breakpoint($laptop-sm) {
      width: 10%;
      transform: translate(0, 40%);
    }

    @include breakpoint($laptop-lg) {
      right: -2%;
    }
  }
}

.lb-tabs {
  .tab-panels {
    &--main {
      margin-top: 0;
    }
  }
}

.section-intro {
  &:not(:last-child) {
    margin-bottom: 1.5rem;

    @include breakpoint($laptop-sm) {
      margin-bottom: 2.5rem;
    }
  }
}

.posts-grid {
  .post-entry {
    flex: 0 0 100%;
    max-width: 100%;
    @include breakpoint($mobile) {
      max-width: 83.333%;
    }
    @include breakpoint($mobile-lg) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}
