.student-life {
  &__images {
    position: relative;

    @include breakpoint($mobile-only) {
      margin-top: 1.5rem;
      margin-bottom: calc(20% + 2.5rem);
    }
  }

  &__img {
    @include breakpoint($tablet-sm) {
      margin-right: 10%;
    }
    @include breakpoint($laptop-sm) {
      margin-right: 0;
      margin-bottom: -3.5rem;
    }
    @include breakpoint($laptop-lg) {
      margin-left: 10%;
      margin-bottom: -20rem;
    }

    &--1 {
      width: 91.6663%;

      @include breakpoint($tablet-sm) {
        width: auto;
      }

      figcaption {
        max-width: 40%;

        @include breakpoint($tablet-sm) {
          max-width: 50%;
        }
      }
    }
    &--2 {
      position: absolute;
      top: 100%;
      right: 0;
      transform: translate(5%, -50%);
      width: 60%;
      z-index: 1;

      @include breakpoint($tablet-sm) {
        width: 60%;
        transform: translate(20%, -70%);
      }

      @include breakpoint($laptop-lg) {
        transform: translate(15%, -70%);
      }

      &::before {
        content: "";
        height: 25%;
        width: 200%;
        display: block;
        background-color: var(--color-primary);
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 25%;
      }
      &::after {
        content: "";
        height: 40%;
        width: 200%;
        display: block;
        background: var(--gold-gradient);
        position: absolute;
        z-index: -1;
        top: 75%;
        left: 25%;
      }
    }
  }
}

.chapel {
  &__img {
    margin-left: -33%;
    margin-right: -33%;

    @include breakpoint($laptop-sm) {
      margin-left: -50%;
      margin-right: -25%;
    }

    @include breakpoint($laptop-lg) {
      margin-right: -30%;
      margin-top: 3.5rem;
    }

    @include breakpoint($desktop) {
      margin-right: -20%;
      margin-top: 2.5rem;
    }
  }
  &__text {
    display: flex;
    align-items: flex-start;
    max-width: 42rem;

    @include breakpoint($desktop-lg) {
      max-width: 50rem;
    }

    &__img {
      width: 2.75rem;
      min-width: 2.75rem;
      margin-right: 1.5rem;

      @include breakpoint($laptop-sm) {
        width: 3.75rem;
        min-width: 3.75rem;
        margin-right: 2.5rem;
      }

      @include breakpoint($laptop-lg) {
        width: 4.1875rem;
        min-width: 4.1875rem;
        margin-right: 3rem;
      }
    }

    &__address {
      display: flex;
      flex-flow: wrap;
      margin: -0.3125rem;
      margin-bottom: 1.1875rem;

      &__title,
      &__desc {
        padding: 0.3125rem;
        flex: 0 0 100%;
        max-width: 100%;

        @include breakpoint($tablet-sm) {
          flex: initial;
        }
      }

      &__title {
        display: flex;
        color: var(--color-p);

        @include breakpoint($tablet-sm) {
          margin-right: 1.5rem;
        }

        &:hover {
          color: var(--color-accent);
          text-decoration: none;
        }

        .h6 {
          color: inherit;
        }

        svg {
          color: var(--color-accent);
          height: 1.25em;
          position: relative;
          top: 0.125em;
          margin-right: 0.5em;
        }

        &::after {
          height: 1.5rem !important;
        }
      }
    }
  }
}
