/******************************************************************

Stylesheet: Typography

******************************************************************/

/*********************
FONT FACE
*********************/
// font stacks
$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "Georgia", Cambria, Times New Roman, Times, serif;

$primary: Arial;
$secondary: Times New Roman;

// theme fonts
$body-font: 500 1em / 1.5em $secondary, $sans-serif;
$h1: 400 1.75rem / 1em $primary, $sans-serif;
$h2: 400 1.625rem / 1.25em $primary, $sans-serif;
$h3: 600 1.5rem / 1.25em $primary, $sans-serif;
$h4: 500 1.125rem / 1.4em $secondary, $sans-serif;
$h5: 600 1.125rem / 1.4em $secondary, $sans-serif;
$h6: 500 1rem / 1.5em $secondary, $sans-serif;

@mixin text-gradient {
  color: var(--color-accent);

  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-image: var(--gold-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

@mixin h1 {
  font-family: var(--font-primary);
  font-size: var(--font-size-h1);
  font-weight: 400;
  line-height: 1.25;
  @include text-gradient();

  &.color-primary {
    background-image: none;
    -webkit-background-clip: none;
    background-clip: none;
    color: var(--color-primary);
  }

  &.big {
    font-size: var(--font-size-big);
  }
}

@mixin h2 {
  font-family: var(--font-primary);
  font-size: var(--font-size-h2);
  font-weight: 400;
  line-height: 1.33;
  color: var(--color-primary);
}

@mixin h3 {
  font-family: var(--font-primary);
  font-size: var(--font-size-h3);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-primary);
}

@mixin h4 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-h4);
  font-weight: 700;
  line-height: 1.5;
  color: var(--color-primary);
}

@mixin h5 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-h5);
  font-weight: 600;
  line-height: 1.5;
  color: var(--color-primary);
}

@mixin h6 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-h6);
  font-weight: 600;
  line-height: 1.5;
  color: var(--color-primary);
}
