.entry-title {
  text-transform: capitalize;
}

.woocommerce {
  display: flex;
  flex-direction: column;
  margin-top: 3.5rem;

  @include breakpoint($laptop-sm) {
    flex-direction: row;
  }
}

.woocommerce-MyAccount-navigation {
  @include breakpoint($laptop-sm) {
    width: 33%;
    padding-right: 4rem;
  }

  @include breakpoint($laptop-lg) {
    width: 25%;
  }

  ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-flow: wrap;
    margin: -0.625rem -1.25rem;

    li {
      margin-bottom: 0;
      padding: 0.625rem 1.25rem;

      &::before {
        content: none;
      }

      a {
        text-transform: none;
        font-weight: 400;
        position: relative;
        text-transform: capitalize;
      }

      &.is-active a {
        font-weight: 700;

        // @extend %menu-item-dot-active;
      }

      &:not(:last-child) {
        margin-bottom: 0 !important;

        @include breakpoint($laptop-sm) {
          border-bottom: 1px solid var(--light-grey);
        }
      }
    }
  }
}

.woocommerce-MyAccount-content {
  @include breakpoint($laptop-sm) {
    width: 67%;
  }

  @include breakpoint($laptop-lg) {
    width: 75%;
  }

  p>a:not(.button) {
    // @extend %text-link;
  }

  // Account Addresses Page
  .woocommerce-address-fields {
    &__field-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;

      @include breakpoint($tablet-sm) {
        flex-direction: row;
      }

      >p {
        width: 100%;

        label {
          padding-bottom: 5px;
          display: block;
        }

        @include breakpoint($tablet-sm) {
          width: 50%;

          &:nth-child(odd) {
            padding: 0 10px 0 0;
          }

          &:nth-child(even) {
            padding: 0 0 0 10px;
          }
        }
      }
    }

    p {
      input {
        width: 100%;

        @include breakpoint($tablet) {
          // max-width: 50%;
        }
      }
    }
  }
}

.edit {
  @extend %button-simple;
}

address {
  margin-top: 1rem;
}

.woocommerce-form-login,
.woocommerce-form-register,
.edit-account {
  display: flex;
  flex-flow: wrap;
  margin: -12.5px -15px;

  p {
    margin-bottom: 0;
  }

  .form-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12.5px 15px;

    @include breakpoint($laptop-sm) {
      width: 50%;
    }

    label {
      margin-bottom: 0.5rem;
    }

    input {
      width: 100%;

      &+span {
        // @extend %form-subtext;
        margin-top: 0.5rem;
        line-height: 1.5;
      }
    }
  }

  fieldset {
    margin-top: 1.5rem;
    padding: 12.5px 15px;
    width: 100%;

    legend {
      font-weight: 500;
    }

    .form-row {
      width: 100%;
      padding-left: 0;

      @include breakpoint($laptop-sm) {
        width: 50%;
      }
    }
  }

  >p:last-child {
    padding: 12.5px 15px;
    width: 100%;
    text-align: right;
  }

  button[type="submit"] {
    display: block;
    margin-left: auto;
    margin-top: 1rem;
  }
}

.woocommerce-form-login {
  .form-row {

    &:last-child,
    &:nth-last-child(2) {
      width: 100%;
    }
  }
}

.woocommerce-form-register {

  >p,
  .woocommerce-privacy-policy-text {
    padding: 12.5px 15px;
  }
}

// Adapted from elements/_tabs.scss
.woocommerce-MyAccount-navigation {

  .overflow-wrapper,
  ul {
    @include breakpoint($laptop-sm) {
      overflow: visible;
    }
  }

  ul {
    margin-bottom: 30px;

    @include breakpoint($laptop-sm) {
      flex-direction: column;
      position: relative;
    }

    .woocommerce-MyAccount-navigation-link {
      display: flex;
      position: relative;
      opacity: 1;

      @include breakpoint($laptop-sm) {
        width: 100%;
      }

      >a {
        color: inherit;
      }

      &:not(:last-of-type) {
        @include breakpoint($laptop-sm) {
          margin-bottom: 1rem;
        }
      }

      @include breakpoint($laptop-sm) {
        align-items: flex-start;
        white-space: normal;
        line-height: 1.5;
      }
    }
  }

  .tab-contents {
    position: relative;
    z-index: 1;
  }
}

form {
  .woocommerce-address-fields {
    >p:last-child {
      margin-top: 1.5rem;
      text-align: right;
    }
  }

  .woocommerce-Payment {
    >.form-row:last-child {
      margin-top: 1.5rem;
      text-align: right;
    }
  }
}

// &.page-id-242 {
//   .woocommerce {
//     flex-direction: column !important;
//   }
// }

// Wish List
// .alg-wc-wl-view-table {
//   td,
//   tr {
//     @include breakpoint($tablet-sm) {
//       text-align: left !important;
//     }
//   }
//   .add_to_cart_inline {
//     margin: 0;
//   }
//   .add_to_cart_button {
//     padding: 0;
//     background: none;
//     color: var(--color-primary) !important;
//     box-shadow: none !important;
//     transition: color $transition;

//     &:hover {
//       color: $color2 !important;
//     }
//   }
//   .alg-wc-wl-view-state-remove {
//     i {
//       background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23272727'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3C/svg%3E")
//         no-repeat 50% 50% !important;
//       background-size: 1rem !important;
//       height: 1.75rem;
//       width: 1.75rem;
//       padding: 0.5rem;
//     }
//   }

//   &.shop_table_responsive {
//     @include breakpoint($mobile-only) {
//       tr td::before {
//         padding-right: 1rem;
//       }
//     }
//   }
// }