$table-border: thin solid var(--light-grey);

.woocommerce-page-top-header {
  display: flex;
  justify-content: flex-end;
  margin-top: -3rem;
  margin-bottom: 1.5rem;
}

.woocommerce-page-header {
  width: 100%;

  &__inner {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    margin: -0.75rem;

    > div {
      padding: 0.75rem;
    }
  }
  &__title {
    @include breakpoint($tablet-sm) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @include breakpoint($laptop-sm) {
      flex: initial;
      max-width: initial;
    }
  }
  &__links {
    @include breakpoint($tablet-sm) {
      flex: 0 0 50%;
      max-width: 50%;
      margin-left: auto;
    }
  }

  &__search {
    flex: 0 0 100%;
    max-width: 100%;

    @include breakpoint($tablet-sm) {
      flex: initial;
      min-width: 25rem;
      margin-left: auto;
      order: 1; // last
    }
  }

  &__breadcrumb {
    + .woocommerce-page-header__links {
      flex: initial;
      max-width: initial;
    }
  }
}

&.single-product,
&.tax-product_author {
  .woocommerce-page-header {
    margin-bottom: 2.5rem;
    &__breadcrumb {
      @include breakpoint($tablet-sm) {
        flex: 0 0 50%;
        max-width: 50%;
      }
      @include breakpoint($laptop-sm) {
        flex: 1;
        max-width: initial;
      }
    }
    &__links {
      @include breakpoint($tablet-sm) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
}

// Woocommerce login / cart links
.woocommerce-links {
  text-align: right;
  ul {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    margin: -0.75rem;

    li {
      padding: 0.75rem;

      a {
        display: flex;
        align-items: center;
        font-weight: 700;

        img {
          height: 1rem;
          width: 1rem;
          min-width: 1rem;
          margin-right: 0.5rem;
        }
      }
    }
  }
}

// Shop filter button
.shop-filter-button {
  @include btn-commons;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  padding: 0.5rem 3.5rem;
  color: var(--color-primary);
}

// WooCommerce Pagination
.woocommerce-pagination {
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-flow: wrap;
    padding-left: 0;
    list-style: none;
    margin: -0.5rem;

    li {
      padding: 0.5rem;

      .page-numbers {
        height: 40px;
        width: 40px;
        box-shadow: var(--box-shadow);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        background: var(--white);

        &.current {
          color: var(--white);
          background: var(--color-primary);
        }

        &.dots,
        &.next,
        &.prev {
          box-shadow: none;
          width: auto;
        }
      }
    }

    a {
      text-decoration: none;
      color: var(--color-primary);

      &:hover {
        color: var(--color-accent);
      }
    }
  }
}

// Product List

.woocommerce .products,
.related .products,
.upsells .products {
  flex: 100%;
  // width: 100%;
  // flex: 0 0 100%;
  list-style: none;
  display: flex;
  flex-flow: wrap;
  margin: -15px;

  @include breakpoint($tablet-sm) {
    margin: -15px -20px;
  }

  .product {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    width: 100%;
    padding: 15px;

    @include breakpoint($tablet-sm) {
      flex-direction: column;
      align-items: center;
      width: 33.333%;
      padding: 15px 20px;
    }

    .button {
      // &.add_to_cart_button {
      display: none;
      // }
    }

    .star-rating {
      display: none;
    }

    > .woocommerce-loop-product__link {
      // Image link wrapper
      width: 70px;
      min-width: 70px;
      margin: 0 1.5rem 0 0;

      @include breakpoint($tablet-sm) {
        width: 140px;
        min-width: 140px;
      }

      @include breakpoint($desktop) {
        width: 180px;
        min-width: 180px;
      }

      &::before {
        content: "";
        width: 100%;
        height: 0;
        padding-bottom: 142.5%;
      }
    }

    .woocommerce-loop-product {
      &__link {
        display: inline-flex;
        flex-direction: column;
        position: relative;
        color: var(--color-p);

        @include breakpoint($tablet-sm) {
          align-items: center;
          margin: 0 auto;
          text-align: center;
        }

        &:hover,
        &:focus {
          color: var(--color-accent);

          > img {
            box-shadow: var(--box-shadow-deep);
          }
        }

        > img {
          position: absolute;
          width: 100%;
          height: 100%;
          display: block;
          object-fit: contain;
        }
      }
      &__text {
        display: flex;
      }
      &__title {
        @include h6;
        color: inherit;
        margin-bottom: 0.25rem;
        transition: color $transition;

        @include breakpoint($mobile-only) {
          font-size: 0.9375rem;
        }

        @include breakpoint($tablet-sm) {
          margin-top: 1rem;
        }
      }
    }
  }
}

.price,
.product-price {
  @include h6;
  font-weight: 700;

  del {
    font-size: 90%;
    color: var(--grey);
  }

  ins,
  bdi {
    text-decoration: none;
  }

  .lowest {
    font-size: 0.875rem;
    color: var(--grey);
  }
}

// .onsale {
//   @extend %callout;
// }

// .product,
// .product .woocommerce-product-gallery__image,
// .cart_item {
//   img {
//     // @include box-shadow;
//   }
// }

.woocommerce-LoopProduct-link,
.cart_item {
  img {
    box-shadow: var(--box-shadow);
    transition: box-shadow $transition;
  }
}

// Nav buttons
.woocommerce-nav {
  display: flex;
  flex-direction: column;
  @include breakpoint($tablet-sm) {
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    justify-content: flex-end;
  }
  &__buttons {
    text-align: right;
    margin-left: auto;

    .button {
      &:not(:last-child) {
        margin-right: 2rem;
      }

      &--cart {
        &::before,
        &::after {
          content: none;
        }

        > span {
          @include btn;
        }

        &:hover > span::after {
          width: 100%;
          border-right: 0 solid transparent;
        }

        svg {
          vertical-align: middle;
          position: relative;
          bottom: 0.125rem;
        }
      }
    }
  }

  &__search {
    max-width: 300px;
    width: 100%;
    margin-right: 1rem;

    .woocommerce-product-search {
      margin-right: 0;
      margin-left: 0;
      margin-top: 0;
    }
  }

  // .woocommerce-product-search {
  //   width: 100%;
  //   order: 3;
  //   margin: 1.5rem 0 0 auto;

  //   @include breakpoint($tablet-sm) {
  //     max-width: 270px;
  //     margin: 0 1.5rem 0 auto;
  //     order: 0;
  //   }

  //   @include breakpoint($laptop-sm) {
  //     display: none;
  //   }
  // }
}

// Message / Notice
.woocommerce-message,
.woocommerce-Message {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-accent);
  margin: 0 0 2rem;

  .wc-forward,
  .woocommerce-Button {
    order: 9;
    margin: 0.5rem 0 0.5rem auto;
  }
}

// Shop Table
.shop_table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  border: 0;
  box-shadow: var(--box-shadow);
  // border-top: $table-border;
  // border-right: $table-border;
  // border-left: $table-border;
  th,
  td {
    text-align: left;
    padding: 0.75rem $gutter/2;
    border-bottom: $table-border;

    @include breakpoint($laptop-sm) {
      padding: 0.75rem $gutter-md/2;
    }
  }
  th {
    font-weight: 700;
  }

  tbody:last-child tr:last-child,
  tfoot:last-child tr:last-child {
    td,
    th {
      border-bottom: 0;
    }
  }

  a {
    text-decoration: none;

    &:not(:hover) {
      color: $black;
    }
  }
}

// Tabs
.woocommerce-Tabs-panel {
  animation: fade-up 0.25s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

// Breadcrumbs
.woocommerce-breadcrumb {
  > span {
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;

    &:last-child {
      font-weight: 700;
      max-width: 12em;

      @include breakpoint($laptop-sm) {
        max-width: 20em;
      }
    }
  }

  a {
    text-decoration: none;

    &:not(:hover) {
      color: $black;
    }
  }
}

// Page Headers
&.woocommerce-cart,
&.woocommerce-checkout {
  .page-header {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    margin-bottom: 2.5rem;

    .entry-title {
      margin-bottom: 0;
    }
  }

  .page-title {
    flex: 1;
    padding-right: 1rem;

    .entry-title {
      flex: 100%;
      margin-bottom: 0;

      @include breakpoint($tablet-sm) {
        flex: auto;
      }
    }
  }

  .woocommerce-nav {
    @include breakpoint($tablet-sm) {
      margin-top: 0;
      margin-left: auto;
    }
  }

  .woocommerce-breadcrumb {
    flex: 100%;
  }
}

.woocommerce-pagination {
  // justify-content: flex-end;
  @include breakpoint($tablet-sm) {
    padding: 1rem 0 1rem 1rem;
  }
}

.widget-area {
  &__header {
    display: none;
  }
}

#wc-stripe-payment-request-button-separator {
  opacity: 0.7;
}

.woocommerce-shipping-methods {
  list-style: none;
  padding-left: 0;

  li::before {
    content: none;
  }
}

// .quantity_select {
// @extend %select-wrapper;
// }

.quantity_input {
  max-width: 10rem;
  // @extend %input-number-wrapper;
  input[type="number"] {
    width: 100%;
  }
}

// Columns
.col2-set {
  display: flex;
  flex-flow: wrap;

  .col-1,
  .col-2 {
    width: 100%;

    @include breakpoint($tablet-sm) {
      box-shadow: var(--box-shadow);
      padding: 1.25rem;
      width: calc(50% - 0.5rem);
    }

    @include breakpoint($laptop-sm) {
      padding: 1.25rem 1.875rem;
      width: calc(50% - 0.625rem);
    }
  }
  .col-1 {
    margin-bottom: 30px;

    @include breakpoint($tablet-sm) {
      margin-right: 16px;
      margin-bottom: 0;
    }

    @include breakpoint($laptop-sm) {
      margin-right: 1.25rem;
    }
  }
}

.product-name {
  font-weight: 500;

  .variation {
    display: block;
    margin-top: 0.5rem;

    * {
      display: inline-block;
      font-weight: 300;
    }

    dt {
      font-weight: 400;
    }
  }
}

.checkbox input[type="checkbox"],
.methods input[type="radio"],
.woocommerce-shipping-methods input[type="radio"],
.form-row input[type="checkbox"],
.comment-form-cookies-consent input[type="checkbox"] {
  @extend %checkbox-custom-input-hidden;

  label {
    line-height: 1.5;
  }

  & + * {
    // @extend %styled-checkbox;
    @extend %checkbox-custom-input;
  }

  // &:checked + * {
  //   &::before {
  //     background: $white;
  //     border-color: $white;
  //   }
  // }

  &:checked + *::after {
    @extend %checkbox-custom-input-checked;
  }

  &:focus-visible + *::before {
    box-shadow: 0 0 0 3px #ffbf47;
    outline: 3px solid transparent; /* For Windows high contrast mode. */
  }
}

.wc-newsletter-subscription-checkout-fields,
#subscribe_to_newsletter_field {
  .optional {
    display: none;
  }
}

.woocommerce-privacy-policy-text,
.lost_password {
  // @extend %form-subtext;
}

.woocommerce-loop-product__link {
  text-decoration: none;
}

// .woocommerce-privacy-policy-link,
// .lost_password a,
// .shipping-calculator-button,
// .showcoupon {
//   // @extend %checkbox-link;
//   // text-decoration: none;
// }

.shipping-calculator-button,
.woocommerce-form__label a {
  text-decoration: none;
  color: var(--color-primary) !important;

  &:hover {
    color: $color-hover !important;
  }
}

.woocommerce-shipping-methods {
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  li {
    padding: 0.5rem 0;
    // input[type="radio"] {
    //   border: 0;
    //   clip: rect(1px, 1px, 1px, 1px);
    //   clip-path: inset(50%);
    //   height: 1px;
    //   margin: -1px;
    //   overflow: hidden;
    //   padding: 0;
    //   position: absolute;
    //   width: 1px;
    //   word-wrap: normal !important;

    //   &:focus-visible + label::before {
    //     box-shadow: 0 0 0 3px var(--color-primary);
    //     outline: 3px solid transparent; /* For Windows high contrast mode. */
    //   }

    //   &:checked ~ label {
    //     // @extend %radio-custom-input-checked;
    //   }

    //   & ~ label {
    //     // @extend %radio-custom-input;
    //   }
    // }
  }
}

// .blockUI.blockOverlay {
//   background: rgba($black, 0.75) !important;
//   border: 1px solid rgba($black, 0.75);
//   opacity: 1 !important;
//   transition: $transition;
// }

#wc-stripe-branded-button {
  background-color: var(--grey);
  height: 50px !important;
  background-size: 110px;
  transition: $transition;
  border-radius: 5px;

  &:hover,
  &:focus {
    background-color: $color4;
    background-image: url("https://www.gstatic.com/instantbuy/svg/dark/en.svg") !important;
  }
}

.woocommerce-NoticeGroup {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.woocommerce_error,
.woocommerce-error {
  list-style: none;
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  li {
    padding: 0.5rem 1rem;
    // border: 1px solid $color-alert;
    background-color: rgba($color-alert, 0.25);

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}

// Sidebar
.widget-area {
  margin-top: 2.5rem;

  @include breakpoint($laptop-sm) {
    margin-top: 0;
    padding: 1.25rem;
    margin-left: 1.25rem;
    box-shadow: var(--box-shadow);
  }

  .widget-title {
    text-transform: capitalize;
  }

  .widget {
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }

  .widget_product_categories {
    ul {
      list-style: none;
    }
    .product-categories {
      a {
        color: $black;
        text-decoration: none;

        &:hover,
        &:focus {
          font-weight: bold;
        }
      }
      > li {
        font-weight: 700;
        &:not(:last-child) {
          margin-bottom: 0.85rem;
        }
        .children {
          padding-left: 1rem;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          > li {
            font-weight: 400;
            &:not(:last-child) {
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }
  }
}

// .amount {
//   bdi {
//     font-weight: 700;
//   }
// }

// .ui-slider {
//   margin-top: 30px;
//   margin-right: 12px;
//   height: 5px;
//   position: relative;
//   border: none;
//   // background: $color5;
//   cursor: pointer;
// }
// .ui-state-default,
// .ui-widget-content .ui-state-default,
// .ui-widget-header .ui-state-default {
//   background: var(--gold-gradient);
//   border-radius: 50%;
//   height: 12px;
//   width: 12px;
//   outline: none;
//   position: absolute;
//   top: -4px;
// }
// .ui-slider-horizontal .ui-slider-range {
//   background: var(--gold-gradient);
//   height: 100%;
//   position: absolute;
// }

// .ui-slider-handle {
//   border-radius: 0 !important;
// }

// S&F
.searchandfilter {
  h4 {
    @include h5;
    padding: 0;
  }
  > ul {
    display: flex;
    flex-flow: wrap;
    align-items: center;

    > li {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0;

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      &.sf-field-search {
        display: none;
      }

      &.sf-field-reset,
      &.sf-field-submit {
        flex: 0 0 auto;
        margin-bottom: 0;
        align-self: center;
      }

      &.sf-field-reset {
        margin-right: 1.5rem;
        padding: 0.625rem 0;
      }

      &.sf-field-submit {
        margin-left: auto;
      }
    }
  }
  .sf-field-sort_order {
    display: none;
  }
}
.sf-meta-range-slider {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-end;

  .meta-slider {
    flex: 0 0 100%;
    width: 100%;
    order: -1;
  }
}
.sf-range-values-seperator {
  margin: 0 0.25rem;
}
.noUi-horizontal {
  height: 5px;
  max-width: initial;
  width: 100%;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  background-color: var(--light-grey);
  border-color: var(--light-grey);

  .noUi-connect {
    background: var(--gold-gradient);
  }

  .noUi-handle {
    border: 0;
    background: var(--gold-gradient);
    border-radius: 0;
    box-shadow: none;
    height: 0.75rem;
    width: 0.75rem;
    right: -0.375rem !important;

    &::before,
    &::after {
      content: none;
    }
  }
}

.price_slider_amount {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;

  .clear {
    display: none;
  }

  button[type="submit"] {
    background-color: transparent;
    padding: 0;
    color: $color-p !important;
    text-transform: normal;

    &:hover {
      color: var(--color-primary) !important;
    }
  }
}

// Tiered Pricing

.price-rules-table {
  margin: 0 0 2.5rem;
}
.price-rule-active {
  td {
    background-color: $color4 !important;
  }
}

.tier-pricing-summary-table {
  margin: 2.5rem 0 0;
  width: 100%;

  &__top,
  &__bottom {
    > div {
      padding: 0.5rem 0.625rem;
    }
  }

  &__top {
    background: var(--grey);
    padding: 0;
  }

  // &__bottom {
  //   border-bottom: 1px solid var(--grey);
  // }

  &__total {
    font-size: 1rem;
  }

  // .amount {
  //   font-size: 1rem;
  // }
}

// Wish List
// .iziToast {
//   background: $white !important;
//   padding: 0 !important;
//   display: inline-flex;
//   box-shadow: var(--box-shadow);

//   &::after {
//     content: none !important;
//   }

//   .iziToast-icon {
//     display: none !important;
//   }
//   .iziToast-body {
//     padding: 0.5rem 1.5rem !important;
//     display: flex;
//     align-items: center;
//   }
//   .iziToast-texts {
//     margin-top: 0 !important;
//   }
//   .iziToast-message {
//     color: $color-p !important;
//     margin-bottom: 0 !important;
//   }
//   .iziToast-close {
//     background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23272727'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3C/svg%3E")
//       no-repeat 50% 50% !important;
//     background-size: 1rem !important;
//     height: 1.75rem;
//     width: 1.75rem;
//     padding: 0.5rem;
//   }
// }

// * Payment
.payment_methods {
  list-style: none;
  padding-left: 0;
  box-shadow: var(--box-shadow);

  li {
    &::before {
      content: none;
    }
  }

  > li {
    padding: 1.25rem 1rem;

    @include breakpoint($tablet-sm) {
      padding: 1.25rem;
    }

    @include breakpoint($laptop-sm) {
      padding: 1.25rem 1.875rem;
    }

    &:not(:last-of-type) {
      border-bottom: $table-border;
    }

    // a {
    // @extend %text-link;
    // }
  }

  .payment_box {
    padding-top: 20px;
  }

  // .payment_method_paypal {
  //   label {
  //     .about_paypal {
  //       height: 0.8125rem;
  //       width: 2.5rem;
  //       background-image: url("/wp-content/themes/beardbalm/assets/images/paypal@2x.png");
  //       background-size: contain;
  //       background-position: center;
  //       background-repeat: no-repeat;
  //       display: inline-block;
  //       margin-left: 0.5rem;
  //       pointer-events: none;
  //       color: transparent;
  //       cursor: auto;
  //       text-indent: -9999px;

  //       @include breakpoint($mobile-lg) {
  //         height: 1.5rem;
  //         margin-left: 1rem;
  //       }
  //     }
  //   }
  //   img {
  //     height: 1.5rem;
  //     display: none;
  //   }
  // }
  .payment_method_stripe {
    > label {
      display: flex;
      align-items: center;
      white-space: nowrap;
      width: 100%;
      flex-flow: wrap;

      > img {
        max-width: 25px !important;

        &:first-of-type {
          margin-left: 0.5rem !important;

          @include breakpoint($mobile-lg) {
            margin-left: 1rem !important;
          }
        }
      }
    }
    .wc-payment-form {
      border: none;
      padding: 0;
    }
    .wc-stripe-elements-field,
    .StripeElement {
      background: transparent;
      display: flex;
      align-items: center;
      padding: 0.75rem 1.25rem;
      height: 52px;
      border: 0;
      box-shadow: var(--box-shadow);

      .__PrivateStripeElement {
        width: 100%;
      }
    }
  }

  + .place-order {
    padding: 15px;

    @include breakpoint($tablet-sm) {
      padding: 15px 20px;
    }
  }
}

.wc-saved-payment-methods {
  list-style: none;
  padding-left: 0;
  margin-bottom: 1.5rem;
}
.woocommerce-SavedPaymentMethods-saveNew,
#subscribe_to_newsletter_field {
  padding-left: 0;
  padding-right: 0;
}
.woocommerce-SavedPaymentMethods-saveNew {
  padding-top: 0;
}

.woocommerce-privacy-policy-text a {
  // @extend %text-link;
}

.alg-wc-wl-thumb-btn {
  inset: auto 17px 17px auto !important;
  top: auto !important;
  left: auto !important;
  right: 17px !important;
  bottom: 17px !important;
}

// Minimal button style as the themed button cannot be applied to WooCommerce pages due to limitation to edit the markups
.button:not(.gform_button) {
  @extend %button-simple;
}

// &[class*="archive"],
// &.single-product {
// Mobile widget
@include breakpoint($mobile-and-tablet-only) {
  &.admin-bar {
    .widget-area {
      max-height: calc(100vh - 46px);

      @include breakpoint(min-width 783px) {
        max-height: calc(100vh - 32px);
      }
    }
  }

  .site {
    position: relative;

    &.mobile-filter-active {
      .site-content {
        z-index: 9;
      }
    }
  }
  .woocommerce-ordering {
    display: none;
  }
  .woocommerce-result-count {
    padding: 0;
  }
  .widget-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    background-color: var(--white);
    margin-top: 0;
    z-index: 2;
    flex-direction: column;
    display: none;
    box-shadow: var(--box-shadow);
    --filter-padding: 1.25rem;

    @include breakpoint($mobile-lg) {
      height: 100vh;
      width: 24rem;
    }

    &.active {
      display: flex;
    }

    &__header {
      padding: 1.25rem 0;
      margin: 0 var(--filter-padding);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      @include breakpoint($mobile) {
        padding: 1.875rem 0;
      }

      &__close {
        font-size: 2rem;
        position: absolute;
        line-height: 1;
        top: 50%;
        right: 0;
        color: var(--color-primary);
        transform: translateY(-50%);
      }
    }

    &__body {
      flex: 1;
      overflow: auto;
    }

    .searchandfilter {
      height: 100%;
      margin-right: var(--filter-padding);
      margin-left: var(--filter-padding);

      > ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-flow: column;
        // background-color: var(--light-grey);
        // box-shadow: $box-shadow;

        > li {
          flex: 0 0 auto;
          width: 100%;
          margin-bottom: 0;
          // background-color: var(--grey);
          padding: 1.25rem 0;

          // &:first-child {
          //   border-top-right-radius: 0.625rem;
          // }

          &:not(:first-child) {
            border-top: 1px solid var(--light-grey);
          }

          &.sf-field-sort_order {
            display: block;

            > label,
            select {
              width: 100%;
            }
          }

          &.sf-field-reset,
          &.sf-field-submit {
            display: flex;
            justify-content: center;
            text-align: center;
            background-color: transparent;
            margin: 0;
          }

          &.sf-field-reset {
            flex: 1;
            align-items: flex-end;
          }
        }
      }
    }
  }

  [data-sf-field-input-type="select"] select,
  .select2-selection {
    background-color: $white !important;
  }
}

.filter-header {
  flex: 0 0 100%;

  &__inner {
    display: inline-flex;
    align-items: center;
    background-color: var(--light-grey);
    box-shadow: var(--box-shadow);
    padding: 0.25rem 1rem 0.25rem 0.5rem;

    a {
      padding: 0.5rem;
      font-size: 1.5em;
      line-height: 1;
    }
  }
}
// }
