.page-header {
  .entry-title {
    display: none;
  }
}

.woocommerce-cart-form {
  width: 100%;
  overflow: auto;
  // padding: 1rem;
  box-shadow: $box-shadow;

  .shop_table {
    box-shadow: none;
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;

    &-track {
      background: var(--light-grey);
    }
    &-thumb {
      background: var(--color-primary);
    }
    &,
    &:hover {
      background: var(--color-primary);
    }
  }

  .shop_table {
    width: auto;
    min-width: 700px;

    .product-remove {
      vertical-align: top;
      width: $col;
      @include breakpoint($laptop-lg) {
        width: 10%;
      }
      a {
        font-weight: 300;
        font-size: 2rem;
        padding: 0 10px;
      }
    }
    .product-thumbnail {
      vertical-align: top;
      width: $col * 1;

      @include breakpoint($laptop-sm) {
        width: 10%;
      }

      img {
        width: 100%;
        height: auto;
        @include breakpoint($laptop-lg) {
          width: 60%;
        }
      }
    }
    .product-name {
      width: $col * 3.5;
      @include breakpoint($laptop-lg) {
        width: 30%;
      }
    }
    .product-price {
      width: $col * 2;
      @include breakpoint($laptop-lg) {
        width: 15%;
      }
    }
    .product-quantity {
      width: $col * 2;
      @include breakpoint($laptop-lg) {
        width: 15%;
      }
      .quantity {
        label {
          @extend .screen-reader-text;
          height: 0;
        }
        .quantity_input {
          input[type="number"] {
            width: 100%;
          }
        }
      }
    }
    .product-subtotal {
      width: $col * 2.5;
      @include breakpoint($laptop-lg) {
        width: 20%;
      }
    }
    .actions {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      white-space: nowrap;

      .coupon {
        display: inline-flex;
        align-items: center;
        margin-left: 10px;
        width: 70%;
        margin-right: $gutter/2;

        @include breakpoint($tablet-sm) {
          margin-left: 10%;
        }

        @include breakpoint($laptop-sm) {
          margin-right: $gutter-md/2;
        }

        label {
          margin-right: 1.5rem;
          &::before {
            content: "";
            background: url(#{$icons_dir}gift-card.svg) no-repeat center center;
            background-size: contain;
            height: 1.5rem;
            width: 2rem;
            margin-right: 1rem;
            display: inline-block;
            vertical-align: middle;
          }
        }

        input[type="text"] {
          margin-right: 1.5rem;
          max-width: 12.5rem;
        }
      }

      button[type="submit"] {
        vertical-align: middle;
        padding: 0;
        background-color: transparent;
        // color: var(--color-p) !important;
        box-shadow: none;

        // &:hover {
        //   color: $color1 !important;
        // }
      }
    }
  }
}

.cart-collaterals {
  margin-top: 60px;
  margin-left: auto;
  width: 100%;

  @include breakpoint($tablet-sm) {
    width: 75%;
  }
  @include breakpoint($laptop-sm) {
    width: 50%;
  }
  @include breakpoint($laptop-lg) {
    width: 40%;
  }
}

.cart_totals {
  > h2 {
    @include h3;
    font-family: var(--font-secondary);
    font-weight: 700;
    text-transform: capitalize;
  }
  .shop_table {
    th,
    td {
      strong {
        font-weight: inherit;
      }
    }

    th {
      padding-left: 20px;
    }
    td {
      padding-right: 20px;
      text-align: right;

      @include breakpoint($tablet-sm) {
        text-align: left;
      }

      &:last-child {
        width: 65%;
      }
    }
  }
}

.woocommerce-shipping-destination {
  margin-bottom: 0.5rem;
}

.wc-proceed-to-checkout {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: right;
  display: flex;
  flex-flow: wrap;
  align-items: center;

  #wc-stripe-payment-request-wrapper {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 0 1.5rem 0;
    padding: 0 !important;
  }

  #wc-stripe-payment-request-button-separator {
    margin: 1rem auto !important;
  }

  .checkout-button {
    margin-left: auto;
  }
}

.return-to-shop {
  margin-top: 40px;
}
