.entry-title {
  text-transform: capitalize;
}

.woocommerce-billing-fields,
.woocommerce-shipping-fields,
.woocommerce-additional-fields {
  &__field-wrapper {
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    margin: -0.5rem;
  }

  label {
    &:not(.checkbox):not(.woocommerce-form__label-for-checkbox) {
      @extend .screen-reader-text;
    }
  }
}

.woocommerce-billing-fields > h3,
#customer_details .col-2 > h3,
#order_review_heading {
  @include h3;
  font-weight: 700;
  font-family: var(--font-secondary);
}

.woocommerce-additional-fields {
  h3 {
    @include h4;
  }
}

.woocommerce-account-fields {
  margin-top: 12.5px;
  .form-row {
    padding-left: 0;
    padding-right: 0;
  }
}

.woocommerce-checkout {
  margin-top: 40px;

  h3 {
    text-transform: capitalize;
  }
}

.form-row {
  display: inline-flex;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 0;

  &-first,
  &-last {
    @include breakpoint($laptop-sm) {
      width: 50%;
    }
  }

  &#billing_address_2_field ~ .form-row {
    @include breakpoint($laptop-sm) {
      width: 50%;
    }
  }

  > span,
  input,
  select,
  textarea {
    width: 100%;
  }

  &.woocommerce-invalid {
    input,
    select,
    textarea {
      border-color: $color-alert;
    }
  }
}

// * Shipping Details
.woocommerce-shipping-fields {
  h3 {
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-weight: normal;
  }
}

// * Order Details

#order_review_heading {
  margin-top: 3rem;
}

.woocommerce-checkout-review-order {
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;

  .woocommerce-checkout-review-order-table,
  .woocommerce-checkout-payment {
    width: 100%;

    @include breakpoint($tablet-sm) {
      width: calc(50% - 0.5rem);
    }

    @include breakpoint($laptop-sm) {
      width: calc(50% - 0.625rem);
    }

    th:first-child,
    td:first-child {
      padding-left: 1rem;
      @include breakpoint($tablet-sm) {
        padding-left: 1.25rem;
      }
      @include breakpoint($laptop-sm) {
        padding-left: 1.875rem;
      }
    }
    th:last-child,
    td:last-child {
      padding-right: 1rem;
      @include breakpoint($tablet-sm) {
        padding-right: 1.25rem;
      }
      @include breakpoint($laptop-sm) {
        padding-right: 1.875rem;
      }
    }
  }
  .woocommerce-checkout-review-order-table {
    margin-bottom: 30px;
    @include breakpoint($tablet-sm) {
      margin-bottom: 0;
      margin-right: 1rem;
    }
    @include breakpoint($laptop-sm) {
      margin-right: 1.25rem;
    }
  }
  .woocommerce-checkout-payment {
    // padding: 25px 30px;
    .place-order {
      display: flex;
      flex-direction: column;

      button[type="submit"] {
        margin-top: 40px;
        align-self: flex-end;
      }
    }
  }
}

// * Coupon

.woocommerce-form-login-toggle,
.woocommerce-form-coupon-toggle {
  a {
    @extend %text-link;
  }
}

.woocommerce-form-coupon {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  box-shadow: $box-shadow;
  margin-top: 1.5rem;
  width: 100%;
  padding: 15px;

  @include breakpoint($tablet-sm) {
    width: $col * 11;
  }

  @include breakpoint($laptop-sm) {
    width: 100%;
    padding: 30px;
  }

  > p:first-child {
    flex: 100%;
    margin-bottom: 0.5rem;
  }

  .form-row {
    padding: 0;
  }

  button[type="submit"] {
    margin-left: 1rem;
  }
}

// * Order Confirmation
.woocommerce-notice {
  padding: 0.5rem;
  // border: 1px solid $color1;
  font-weight: 400;

  &--success {
    background: rgba($color1, 0.25);
  }

  &--error {
    background: rgba($color-alert, 0.25);
  }
}

.woocommerce-order {
  width: 100%;

  @include breakpoint($laptop-sm) {
    width: 83.333%;
  }

  @include breakpoint($laptop-lg) {
    width: 80%;
  }
}

.woocommerce-order-overview {
  list-style: none;
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: $table-border;
}

.wc-item-meta {
  list-style: none;
  li {
    strong {
      font-weight: 400;
    }
    p {
      display: inline-block;
    }
  }
}

.shipped_via {
  font-weight: 400;
}

.woocommerce-order-details {
  &:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}

#privacy_policy_field {
  span {
    font-weight: 500;
  }
  .required {
    display: none;
  }
}
