.woocommerce-products-header {
  display: none;
}

.site-main {
  display: flex;
  flex-flow: wrap;
  > .woocommerce-nav {
    order: 1;

    @include breakpoint($tablet-sm) {
      display: inline-flex;
      margin-left: auto;
      flex: auto;
      width: auto;
    }
  }
  > .woocommerce-info {
    order: 2;
    flex: 100%;
    margin-top: 3rem;
  }
  > .woocommerce {
    order: 3;
    flex: 100%;

    > .woocommerce-notice-wrapper {
      order: 0;
    }

    > .woocommerce-ordering,
    > .woocommerce-result-count,
    > .woocommerce-pagination {
      order: 1;
    }

    > .woocommerce-result-count {
      @include breakpoint($tablet-sm) {
        order: 1;
        // flex: 100%;
      }
      @include breakpoint($laptop-sm) {
        order: 1;
        // flex: auto;
      }
    }
    > .woocommerce-pagination {
      @include breakpoint($tablet-sm) {
        order: 2;
      }
      @include breakpoint($laptop-lg) {
        order: 1;
      }
    }

    > .products {
      order: 4;

      ~ .woocommerce-ordering,
      ~ .woocommerce-result-count,
      ~ .woocommerce-pagination {
        order: 5 !important;
      }
    }
  }
}

.site-content > .container:last-of-type {
  // @extend .page-m-b;
}

.woocommerce-breadcrumb {
  display: none;
}

.woocommerce-nav {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  align-items: center;

  &__search {
    @include breakpoint($tablet-sm) {
      margin-left: auto;
    }
  }

  &__buttons {
    @include breakpoint($tablet-sm) {
      margin-left: 1rem;
    }
    @include breakpoint($laptop-sm) {
      margin-left: auto;
    }
  }
}

.all-categories {
  order: 2;
  flex: 100%;
  margin-top: 1.5rem;

  a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;

    &:not(:hover) {
      color: $black;
    }
  }

  svg {
    height: 0.85rem;
    width: auto;
    margin-right: 0.5rem;
  }
}

.woocommerce.columns-3 {
  display: flex;
  flex-flow: wrap;
  margin-top: 1.25rem;

  @include breakpoint($laptop-sm) {
    margin-top: 2rem;
  }
}
.woocommerce-result-count {
  display: inline-flex;
  margin-bottom: 0;
  align-self: center;
  padding: 1rem 1rem 1rem 0;
  font-size: var(--font-size-small);
}
.woocommerce-ordering {
  // @extend %select-wrapper;
  align-self: center;
  margin-right: 1rem;

  &::before {
    top: 50%;
    transform: translateY(-50%);
  }
}
.woocommerce-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // flex: auto;
  margin: 0 0 0 auto;
  padding-top: 0;
  padding-bottom: 0;

  @include breakpoint($tablet-sm) {
    // flex: 0;
  }

  .page-numbers {
    @include breakpoint($tablet-sm) {
      flex-flow: row;
    }
  }
}

.woocommerce .products {
  margin: 1.25rem 0;

  @include breakpoint($laptop-sm) {
    margin: 2rem 0;
  }
}

// .widget-area {
//   @include breakpoint($laptop-sm) {
//     margin-top: 8rem;
//   }
// }

// .products ~ .woocommerce-result-count,
// .products ~ .woocommerce-ordering,
// .products ~ .woocommerce-pagination {
//   order: 10;
// }

.button {
  &.product_type_variable {
    display: none;
  }
}

// Search & Filter
.chosen-container-multi {
  .chosen-choices {
    background: var(--grey);
    border: 0;
    padding: 0.5rem 1.25rem;

    @include breakpoint($desktop) {
      padding: 0.875rem 1.375rem;
    }

    &::before {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
