.product {
  display: flex;
  flex-flow: wrap;
  position: relative;

  &__callout {
    right: auto;
    left: -1.5rem;
  }
}

.woocommerce-product-gallery {
  > .flex-viewport,
  > .woocommerce-product-gallery__wrapper {
    box-shadow: var(--box-shadow);
  }
}

.flex-control-nav {
  // display: none;
  list-style: none;
  display: flex;
  flex-flow: wrap;
  padding-left: 0;
  margin: 1rem -0.5rem;

  li {
    width: calc(33.333% - 1rem);
    // padding: 0.5rem;
    height: 0;
    padding-bottom: calc(33.333% - 1rem);
    position: relative;
    margin: 0.5rem;
    box-shadow: $box-shadow;
    cursor: pointer;
    transition: box-shadow $transition;

    &:hover {
      box-shadow: $box-shadow-deep;
    }

    img {
      position: absolute;
      object-fit: cover;
    }

    &:nth-child(n + 7) {
      display: flex;
      background: $white;
      padding: 0;
      transition: $transition;

      img {
        opacity: 0;
        height: 0.75rem;
      }

      &:hover {
        background: $color1;
      }
    }
  }

  .slick-list {
    overflow: hidden;
  }
}

.woocommerce-product-gallery {
  min-width: $col * 8;
  flex: 0 0 ($col * 8);
  margin-left: $col * 2;

  @include breakpoint($mobile) {
    min-width: $col * 6;
    flex: 0 0 ($col * 6);
    margin-left: $col * 3;
    margin-bottom: 2rem;
  }
  @include breakpoint($tablet-sm) {
    min-width: $col * 3;
    flex: 0 0 $col * 3;
    margin-left: 0;
    margin-bottom: 0;
  }
  @include breakpoint($laptop-sm) {
    min-width: 25%;
    flex: 0 0 25%;
  }
  @include breakpoint($laptop-lg) {
    min-width: 20%;
    flex: 0 0 20%;
  }

  &__wrapper {
    display: flex;
    flex-flow: wrap;
    max-width: initial;
    // margin: -0.5rem;
  }

  &__image {
    // margin: 0 auto;
    // padding: 0.5rem;
    // &:first-child {
    //   width: 100%;
    // }
    // &:not(:first-child) {
    //   width: 33.33%;
    //   @include breakpoint($tablet-sm) {
    //     width: 25%;
    //   }
    //   @include breakpoint($laptop-sm) {
    //     width: 33.333%;
    //   }
    // }
    a {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
    }
  }
}
.summary,
.wc-tabs-wrapper {
  min-width: 100%;
  flex: 0 0 100%;

  @include breakpoint($tablet-sm) {
    padding-left: 2rem;
    min-width: ($col * 9);
    flex: 0 0 ($col * 9);
  }

  @include breakpoint($laptop-sm) {
    min-width: 75%;
    flex: 0 0 75%;
  }

  @include breakpoint($laptop-lg) {
    min-width: 80%;
    flex: 0 0 80%;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.wc-tabs-wrapper {
  // min-width: 100%;
  // flex: 0 0 100%;
  display: flex;
  flex-flow: wrap;
  margin-bottom: 3.5rem;
  margin-left: auto;

  .overflow-wrapper {
    padding: 0 2rem;
    margin: 0 -2rem;
  }
}

.wc-tabs {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: calc(-0.5rem + var(--tab-spacing-v) * -1)
    calc(var(--tab-spacing) * -1);

  [role="tab"] {
    white-space: nowrap;
    height: auto;
    @include h5;
    font-size: var(--font-size-h5);
    font-weight: 400;
    position: relative;
    font-family: var(--font-secondary);
    margin: var(--tab-spacing-v) var(--tab-spacing);

    &:hover,
    &:focus {
      &:not(.active) {
        color: var(--color-accent);
      }
    }

    &.active {
      font-weight: 700;
    }
  }
}

.woocommerce-Tabs-panel {
  flex: 0 0 100%;
  margin: 1.5rem 0 0;

  @include breakpoint($laptop-sm) {
    margin-top: 2rem;
  }

  h2 {
    display: none;
  }

  // Hotfix for small para font!
  span[style*="font-size: small"] {
    font-size: 1em !important;
  }
}

table.woocommerce-product-attributes {
  td,
  th {
    text-align: left;
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid var(--grey);
  }
}

.product_meta {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid var(--grey);
}

.wc-availability {
  margin-bottom: 1.5rem;

  .out-of-stock {
    color: $color-alert;
    font-weight: 700;
  }
}

.woocommerce-product-gallery {
  position: relative;

  &__trigger {
    width: 40px;
    height: 40px;
    background: var(--color-primary);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    color: transparent;

    &::before {
      content: "";
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='%23d1a410'%3E%3Cpath d='M752.6,400.46l-2.771-2.771a5.892,5.892,0,1,0-1.462,1.462l2.772,2.769a1.033,1.033,0,1,0,1.461-1.46Zm-7.607-9.974h0a3.824,3.824,0,0,1,0,7.648h0a3.824,3.824,0,0,1,0-7.648Z' transform='translate(-736.104 -385.427)'/%3E%3C/svg%3E")
        no-repeat center center;
      height: 20px;
      width: 20px;
      background-size: contain;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .emoji {
      display: none !important;
    }

    &:hover {
      background: $color2;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.product_title {
  @include h3;
  font-family: var(--font-secondary);
  font-weight: 600;
}

.woocommerce-Reviews-title,
.woocommerce-noreviews {
  display: none;
}

.woocommerce-product-details {
  &__short-description {
    margin-bottom: 2rem;
  }
}

.summary {
  padding-bottom: 2.5rem;

  .woocommerce-product-rating {
    display: none;
  }
  .price {
    @include h3;
    font-family: var(--font-secondary);
    font-weight: 700;
    // margin-bottom: 1.5rem;
    display: block;

    ins {
      text-decoration: none;
    }
  }
  .cart {
    &,
    .single_variation_wrap,
    .variations_button {
      display: flex;
      align-items: flex-end;
      flex-flow: wrap;
      width: 100%;
    }

    label {
      margin-bottom: 0.5rem;
      display: inline-block;
    }

    .variations {
      margin-bottom: 2rem;

      tr {
        &:not(:first-child) {
          td.label {
            padding-top: 2rem;
          }
        }

        td {
          display: block;
        }
      }
    }

    .variations .value {
      display: inline-flex;

      .reset_variations {
        position: absolute;
        right: -1rem;
        top: 50%;
        transform: translate(100%, -50%);
        font-size: 13.5px;
        line-height: 1;
        font-size: 1.5rem;
        font-weight: 700;
        text-decoration: none;
        color: $color6;

        &:hover {
          color: $color1;
        }
      }
    }

    .single_variation_wrap {
      > a[onclick*="Printful"] {
        display: none;
      }
    }

    .quantity,
    button[type="submit"] {
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }

    .quantity {
      .quantity_select,
      .quantity_input {
        // @extend %select-wrapper;
        display: flex;

        input[type="number"] {
          @include breakpoint($laptop-lg) {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
          }
        }
      }
    }

    button[type="submit"] {
      margin-top: 2rem;
      margin-bottom: 0.75rem;
      // margin-bottom: 0.75rem;
    }
  }
}

#wc-stripe-payment-request-wrapper {
  display: none !important;

  .__PrivateStripeElement {
    width: 140px;
  }
}
#wc-stripe-payment-request-button-separator {
  display: none !important;
  margin: 0 1rem;
}

.product_meta {
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;

    &:not(:hover) {
      color: $black;
    }
  }
}

.stars {
  > span {
    display: inline-flex;
  }

  a {
    text-decoration: none;
  }

  [class^="star-"] {
    position: relative;
    color: transparent;
    text-indent: -9999px;
    display: inline-flex;
    height: 1.75rem;
    width: 1.75rem;
    padding: 0.25rem;

    &::before {
      content: "";
      display: block;
      height: 1.25rem;
      width: 1.25rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.236' height='17.322' viewBox='0 0 18.236 17.322'%3E%3Cpath d='M9.895,14.055,14.774,17l-1.295-5.55,4.311-3.734-5.676-.482L9.895,2,7.676,7.234,2,7.716,6.311,11.45,5.016,17Z' transform='translate(-0.777 -0.719)' fill='none' stroke='%23707070' stroke-width='1'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      position: absolute;
      top: 0;
      left: 0;
    }
    &.filled {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.236' height='17.322' viewBox='0 0 18.236 17.322'%3E%3Cpath d='M9.895,14.055,14.774,17l-1.295-5.55,4.311-3.734-5.676-.482L9.895,2,7.676,7.234,2,7.716,6.311,11.45,5.016,17Z' transform='translate(-0.777 -0.719)' fill='%230054a4' stroke='%230054a4' stroke-width='1'/%3E%3C/svg%3E");
      }
    }
  }

  &.selected > span:not(:hover) {
    a {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.236' height='17.322' viewBox='0 0 18.236 17.322'%3E%3Cpath d='M9.895,14.055,14.774,17l-1.295-5.55,4.311-3.734-5.676-.482L9.895,2,7.676,7.234,2,7.716,6.311,11.45,5.016,17Z' transform='translate(-0.777 -0.719)' fill='%230054a4' stroke='%230054a4' stroke-width='1'/%3E%3C/svg%3E");
      }
      &.active {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.236' height='17.322' viewBox='0 0 18.236 17.322'%3E%3Cpath d='M9.895,14.055,14.774,17l-1.295-5.55,4.311-3.734-5.676-.482L9.895,2,7.676,7.234,2,7.716,6.311,11.45,5.016,17Z' transform='translate(-0.777 -0.719)' fill='%230054a4' stroke='%230054a4' stroke-width='1'/%3E%3C/svg%3E");
        }
        & ~ a::before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.236' height='17.322' viewBox='0 0 18.236 17.322'%3E%3Cpath d='M9.895,14.055,14.774,17l-1.295-5.55,4.311-3.734-5.676-.482L9.895,2,7.676,7.234,2,7.716,6.311,11.45,5.016,17Z' transform='translate(-0.777 -0.719)' fill='none' stroke='%23707070' stroke-width='1'/%3E%3C/svg%3E");
        }
      }
    }
  }
  > span:hover {
    a {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.236' height='17.322' viewBox='0 0 18.236 17.322'%3E%3Cpath d='M9.895,14.055,14.774,17l-1.295-5.55,4.311-3.734-5.676-.482L9.895,2,7.676,7.234,2,7.716,6.311,11.45,5.016,17Z' transform='translate(-0.777 -0.719)' fill='%230054a4' stroke='%230054a4' stroke-width='1'/%3E%3C/svg%3E");
      }
      &:hover {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.236' height='17.322' viewBox='0 0 18.236 17.322'%3E%3Cpath d='M9.895,14.055,14.774,17l-1.295-5.55,4.311-3.734-5.676-.482L9.895,2,7.676,7.234,2,7.716,6.311,11.45,5.016,17Z' transform='translate(-0.777 -0.719)' fill='%230054a4' stroke='%230054a4' stroke-width='1'/%3E%3C/svg%3E");
        }
        & ~ a::before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.236' height='17.322' viewBox='0 0 18.236 17.322'%3E%3Cpath d='M9.895,14.055,14.774,17l-1.295-5.55,4.311-3.734-5.676-.482L9.895,2,7.676,7.234,2,7.716,6.311,11.45,5.016,17Z' transform='translate(-0.777 -0.719)' fill='none' stroke='%23707070' stroke-width='1'/%3E%3C/svg%3E");
        }
      }
    }
  }
}

.commentlist {
  list-style: none;
  padding-left: 0;
  margin-bottom: 40px;

  .comment_container {
    display: flex;

    > img {
      height: 50px;
      width: 50px;
      min-width: 50px;
      object-fit: cover;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 1rem;

      @include breakpoint($laptop-sm) {
        height: 50px;
        width: 50px;
        min-width: 50px;
        margin-right: 1.5rem;
      }
    }
  }

  .comment-text {
    .meta {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
    }
    .woocommerce-review {
      &__author {
        margin-bottom: 5px;
      }
      &__dash {
        display: none;
      }
    }
    .star-rating {
      margin-bottom: 1rem;
    }
  }
}

.comment-respond {
  .comment-reply-title {
    @include h4;
    display: block;
    margin-bottom: 1.5rem;
  }
}

.comment-form {
  display: flex;
  flex-flow: wrap;

  > h2 {
    display: none;
  }

  .comment-form-rating,
  .comment-form-comment,
  .comment-form-cookies-consent {
    width: 100%;
  }
  .comment-form-author,
  .comment-form-email {
    width: calc(50% - 0.75rem);
  }
  .comment-form-author {
    margin-right: 1.5rem;
  }
  p:not(.comment-form-cookies-consent) {
    label {
      @extend .screen-reader-text;
    }
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
  }
  .comment-form-rating > label {
    display: block;
    margin-bottom: 0.5rem;
  }

  .comment-form-cookies-consent {
    font-size: 13.5px;
    @include breakpoint($tablet-sm) {
      max-width: calc(100% - 100px);
      margin-bottom: 0;
    }
  }

  .form-submit {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    text-align: right;
  }
}

// .woocommerce-Tabs-panel--size_chart {
//   .table-responsive {
//     width: 100%;
//     overflow: auto;
//     padding-bottom: 1rem;

//     &::-webkit-scrollbar {
//       width: 5px;
//       height: 5px;

//       &-track {
//         background: $color3;
//       }
//       &-thumb {
//         background: $color1;
//       }
//       &,
//       &:hover {
//         background: $color1;
//       }
//     }
//   }
//   table {
//     border-right: $table-border;
//     border-left: $table-border;
//     border-bottom: $table-border;
//     border-collapse: collapse;
//     th,
//     td {
//       padding: 0.5rem 0.75rem;
//       border-top: $table-border;

//       &:not(:first-child) {
//         white-space: nowrap;
//       }
//     }
//   }
// }

.related,
.upsells {
  width: 100%;

  h2 {
    @include h4;
    margin-bottom: 2.5rem;
    text-transform: capitalize;
  }

  &:not(:last-child) {
    margin-bottom: 3.5rem;
  }
}

// Wish List
// .alg-wc-wl-btn-wrapper {
//   display: flex;
//   justify-content: flex-end;
//   margin-top: 2.5rem;

//   .alg-wc-wl-toggle-btn {
//     margin: 0;
//     // @include btn-alt;

//     i {
//       display: none !important;
//     }
//   }
// }

// Sidebar / S&F
.searchandfilter {
  @include breakpoint($laptop-sm) {
    .sf-field-reset {
      display: none;
    }

    .sf-field-submit {
      padding: 0;
    }
  }
}

// @include breakpoint($mobile-only) {
//   .site-content > .row {
//     flex-direction: column-reverse;
//   }
// }
