/******************************************************************
Stylesheet: A11Y (Accessibility)
@since 1.0.0
@updated 1.0.0
******************************************************************/

body.is-mouse {
  *:active,
  *:focus {
    outline: 0;
    -moz-outline-style: none;
  }
}

%screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

%screen-reader-text-focus {
  &:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }
}

.screen-reader-text {
  @extend %screen-reader-text;
  @extend %screen-reader-text-focus;
}

[hidden] {
  display: none !important;
}
