/******************************************************************
Stylesheet: Accordions
@since 1.0.0
@updated 1.0.0
******************************************************************/

// .accordions {
//   // margin-top: -0.75rem;
//   // margin-bottom: -0.75rem;
// }

.accordion {
  position: relative;
  margin-bottom: 1rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);

  &:last-of-type {
    // border-bottom: 0;
    margin-bottom: 0;
  }

  &__head {
    width: 100%;
    display: flex;
    // justify-content: space-between;
    justify-content: flex-start;
    align-items: flex-start;
    // position: relative;
    cursor: pointer;
    transition: none;
    text-align: left;
    padding: var(--accordion-padding-v) var(--accordion-padding-h);

    &:hover {
      .accordion__title {
        color: var(--color-accent);
      }
    }
  }

  &__title {
    transition: var(--transition);
    margin-bottom: 0 !important;
    margin-right: 1rem;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 600;
    color: var(--color-primary);
  }

  &__arrow {
    display: flex;
    height: 1rem;
    transition: var(--transition);

    svg {
      height: 100%;
      width: auto;
    }
  }

  &__plus-minus {
    display: flex;
    height: 0.75em;
    width: 0.75em;
    min-width: 0.75em;
    position: relative;
    margin-top: 0.25em;
    margin-left: auto;

    @include breakpoint($laptop-sm) {
      height: 0.875em;
      width: 1em;
      min-width: 1em;
    }

    &::before,
    &::after {
      content: "";
      height: 0.25em;
      width: 100%;
      transition: var(--transition);
      position: absolute;
      top: 0;
      transform: rotate(45deg);
    }

    &::before {
      background: linear-gradient(
        90deg,
        var(--dark-gold) 40%,
        var(--light-gold) 100%
      );
      transform-origin: top left;
      left: 0;
    }

    &::after {
      background: var(--light-gold);
      transform: rotate(-45deg);
      transform-origin: top right;
      width: calc(100% - 0.5em);
      right: 0;
    }
  }

  &__body {
    display: none;
    overflow: hidden;
    transition: var(--transition);

    @media print {
      display: block;
      height: auto;
    }

    &__inner {
      padding: 0 var(--accordion-padding-h)
        calc(var(--accordion-padding-v) + var(--border-bottom-height));
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: var(--border-bottom-height);
        background: var(--gold-gradient);
      }
    }
  }

  &.active {
    // .accordion__head {
    //   &::after {
    //     width: 100%;
    //   }
    // }

    .accordion__title {
      color: var(--color-primary);
    }

    .accordion__arrow {
      transform: rotate(180deg);
    }

    .accordion__plus-minus {
      // transform: rotate(0deg);
      &::before {
        transform: rotate(0) translateY(-50%);
        top: 50%;
        width: 100%;
      }

      &::after {
        transform: rotate(0) translateY(-50%);
        top: 50%;
        opacity: 0;
      }
    }
  }
}
