.boxed-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -0.75rem;

  &__tabs,
  &__search {
    max-width: 100%;
    padding: 0.75rem;
  }

  &__search {
    width: 25rem;
    max-width: 100%;

    @include breakpoint($laptop-sm) {
      margin-top: 0;
      margin-left: auto;
      width: 20rem;
    }

    @include breakpoint($desktop) {
      width: 25rem;
    }
  }

  .tabs-wrapper {
    position: relative;
    display: inline-block;
    max-width: 100%;
    background-color: var(--white);

    @include breakpoint($tablet-sm) {
      box-shadow: var(--box-shadow);
      padding: 1rem 1.25rem;
    }
  }

  // .tab-panels {
  //   &--main {
  //     margin-top: 0;
  //   }
  // }
}
