/******************************************************************
Stylesheet: Buttons
@since 1.0.0
@updated 1.0.0
******************************************************************/

@mixin btn-commons {
  border-width: 0;
  border-radius: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  width: auto;
  background: transparent;
}

@mixin btn {
  @include btn-commons;
  @include h6;
  font-weight: 700;
  padding-left: calc((var(--square-size) + var(--square-gap)) * 3.5);

  &,
  &:visited {
    &,
    &:hover {
      color: var(--color-primary);
    }
  }

  &::after {
    content: "";
  }

  &.alt {
    --gold-gradient: var(--color-primary);

    &:focus {
      color: var(--color-primary);
    }
  }

  > span:first-of-type {
    position: absolute;
    display: block;
    left: calc(var(--square-size) + var(--square-gap));
    height: calc(var(--square-size) * 3);
    transition: height var(--transition);

    &,
    &::before,
    &::after {
      top: 50%;
      transform: translateY(-50%);
      width: var(--square-size);
      background: var(--gold-gradient);
    }

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      height: var(--square-size);
    }

    &::before {
      left: calc((var(--square-size) + var(--square-gap)) * -1);
    }

    &::after {
      right: calc((var(--square-size) + var(--square-gap)) * -1);
    }
  }

  &:hover {
    > span:first-of-type {
      height: var(--square-size);
    }
  }

  &.m-t {
    margin-top: var(--p-spacing);
  }
}

.button {
  @include btn;
}

.button-more {
  --plus-size: 0.75rem;
  --rotate: 0deg;

  @include btn-commons;
  @include h6;
  padding-right: calc(var(--plus-size) + 0.5rem);

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(var(--rotate));
    width: var(--plus-size);
    height: 2px;
    background-color: var(--gold);
    transition: transform var(--transition);
  }

  &::after {
    --rotate: 90deg;
  }

  &:hover {
    &::before {
      --rotate: 90deg;
    }
    &::after {
      --rotate: 180deg;
    }
  }
}

.button-icon {
  @include btn-commons;
  @include h6;
  transition: color var(--transition);

  &:hover {
    color: var(--color-accent);
  }

  svg {
    margin-left: 0.25em;
    height: 0.85em;
    width: auto;
    vertical-align: middle;
    color: var(--color-accent);
  }
}

.button-view-more {
  svg {
    height: 0.5em;
    transition: transform var(--transition);
  }

  &.active {
    svg {
      transform: rotate(180deg);
    }
  }
}

%button-simple {
  @include btn-commons;
  padding: 0;
  font-weight: 700;
  color: var(--color-primary);
  transition: color var(--transition);

  &:hover {
    color: var(--color-accent);
  }
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

.wp-block-button {
  &__link {
    @extend %button-simple;
  }
}
