.contact-person {
  display: flex;
  align-items: stretch;
  flex-flow: wrap;

  &__img {
    width: 5.125rem;
    min-width: 5.125rem;
    margin-right: 1rem;

    @include breakpoint($laptop-sm) {
      width: 4.625rem;
      min-width: 4.625rem;
    }

    @include breakpoint($desktop) {
      width: 5.875rem;
      min-width: 5.875rem;
    }

    img {
      display: block;
      filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16));
    }
  }

  &__details {
    flex: 1;
    display: flex;
    flex-direction: column;

    &__body {
      flex: 1;
    }
  }

  &__name {
    margin-bottom: 0.25em;
    font-weight: 600;
    color: var(--color-p);
  }

  &__role {
    font-weight: normal;
    color: var(--color-p);

    &:not(:last-child) {
      margin-bottom: 0.75em;
    }

    &--2 {
      font-weight: 600;
    }
  }

  &__contact {
    @include breakpoint($mobile-only) {
      margin-top: 0.5rem;
      flex: 0 0 100%;
      max-width: 100%;
    }

    @include breakpoint($tablet-sm) {
      margin-top: 0.75rem;
    }

    .contact-info-wrapper {
      display: flex;
      flex-direction: column;
      --contact-info-gap: 0.25rem;
    }

    svg {
      height: 0.75em;
      width: 0.75em;
      min-width: 0.75em;
      margin-right: 0.5em;
      top: 0.45em;
    }
    a {
      color: var(--color-p);

      &:hover {
        color: var(--color-accent);
      }
    }
  }
}
