.contact-info-wrapper {
  --contact-info-gap: 0.625rem;
  margin: calc(var(--contact-info-gap) * -1);
  display: flex;

  @include breakpoint($tablet-sm) {
    --contact-info-gap: 0.8125rem;
  }
}

.contact-info {
  padding: var(--contact-info-gap);

  &__inner {
    display: flex;
    align-items: flex-start;
  }

  &__text {
    p:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  a {
    color: var(--color-p);

    &:hover {
      color: var(--color-accent);
    }
  }

  svg {
    height: 1.25rem;
    width: 1.25rem;
    min-width: 1.25rem;
    color: var(--color-accent);
    min-width: 1.25rem;
    margin-right: 1.25rem;
    position: relative;
    top: 0.125rem;
  }
}
