.degree-programs-overview {
  position: relative;
  z-index: 0;

  &__bg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 33%;
    z-index: -1;
    transform: translateY(33%);

    @include breakpoint($laptop-sm) {
      width: 45%;
    }

    @include breakpoint($laptop-lg) {
      width: 33%;
    }
  }

  &__subtitle {
    margin-bottom: 1.5rem;

    @include breakpoint($laptop-sm) {
      margin-bottom: 2.5rem;
    }
  }

  &__accordions {
    .accordion {
      --padding-h: 0;
      box-shadow: none;
      margin-bottom: 0;
      background-color: transparent;

      &__plus-minus {
        display: none;
      }

      &__head {
        position: relative;
        // overflow: hidden;

        @include breakpoint($tablet-sm) {
          width: 66.667%;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: -100%;
          height: 100%;
          width: 300%;
          background-color: var(--color-primary);
          opacity: 0;
          transition: opacity var(--transition);

          @include breakpoint($tablet-sm) {
            right: 0;
          }
        }
      }

      &__title {
        font-weight: 600;
        color: var(--color-p);
      }

      &__body {
        overflow: visible;

        &__inner {
          margin-left: -100%;
          margin-right: -100%;
          padding-left: 100%;
          padding-right: 100%;
          padding-top: var(--padding-v);
          box-shadow: var(--box-shadow);
          background-color: var(--white);
        }
      }

      &.active {
        .accordion__head {
          &::before {
            opacity: 0.1;
          }
        }
        .accordion__title {
          font-weight: 700;
        }
      }
    }
  }
}
