.featured-posts {
  &__wrapper {
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    margin: calc(var(--featured-section-gap) * -1);

    @include breakpoint($tablet-sm) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__featured,
  &__standard {
    padding: var(--featured-section-gap);

    @include breakpoint($tablet-sm) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__featured {
    flex: 0 0 100%;
    max-width: 100%;

    @include breakpoint($tablet-sm) {
      flex: 0 0 $col * 5;
      max-width: $col * 5;
    }

    @include breakpoint($laptop-sm) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    &:not(:last-child) {
      border-right: 1px solid rgba(var(--dark-blue-rgb), 0.15);
    }
  }

  &__standard {
    flex: 0 0 100%;
    max-width: 100%;

    @include breakpoint($tablet-sm) {
      flex: 0 0 $col * 7;
      max-width: $col * 7;
    }

    @include breakpoint($laptop-sm) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}
