.featured-products {
  &__wrapper {
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    margin: calc(var(--featured-section-gap) * -0.5);

    @include breakpoint($tablet-sm) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__featured,
  &__standard {
    padding: calc(var(--featured-section-gap) * 0.5);

    @include breakpoint($tablet-sm) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__featured {
    flex: 0 0 100%;
    max-width: 100%;

    @include breakpoint($tablet-sm) {
      flex: 0 0 $col * 7.5;
      max-width: $col * 7.5;
    }

    @include breakpoint($laptop-sm) {
      flex: 0 0 60%;
      max-width: 60%;
    }

    @include breakpoint($laptop-lg) {
      flex: 0 0 55%;
      max-width: 55%;
    }

    &__box {
      box-shadow: var(--box-shadow);
    }
  }

  &__standard {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 10px;

    @include breakpoint($tablet-sm) {
    //   flex: 0 0 $col * 3.5;
    //   max-width: $col * 3.5;
      margin-top: 30px;
  }

    @include breakpoint($laptop-sm) {
      flex: 0 0 40%;
      max-width: 40%;
      margin-top: 0;
    }

    @include breakpoint($laptop-lg) {
      flex: 0 0 45%;
      max-width: 45%;
    }
  }
}
