/******************************************************************
Stylesheet: Global Footer
@since 1.0.0
@updated 1.0.0
******************************************************************/

.footer {
  background-color: var(--color-primary);
  overflow: hidden;
  z-index: 1;

  &__inner {
    position: relative;
    z-index: 0;
    padding-top: 2.8125rem;
    padding-bottom: 2.8125rem;
    padding-right: 2.5rem;
    display: flex;
    flex-flow: wrap;

    @include breakpoint($tablet-sm) {
      margin-right: $col;
      padding-top: 3.125rem;
      padding-bottom: 3.125rem;
    }

    @include breakpoint($laptop-sm) {
      margin-right: 0;
      padding-top: 3.5rem;
      padding-bottom: 3.5rem;
    }

    @include breakpoint($laptop-lg) {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }
  &__side {
    --border-width: 5px;
    position: absolute;
    z-index: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
    background: var(--gold-gradient);
    border-left: var(--border-width) solid var(--white);

    @include breakpoint($laptop-sm) {
      --border-width: 10px;
    }

    svg {
      width: 4.6875rem;
      height: auto;
      position: absolute;
      bottom: 0;
      left: calc(var(--border-width) * -0.5);
      transform: translateX(-50%);

      @include breakpoint($tablet-sm) {
        bottom: auto;
        top: 1.25rem;
        width: 7rem;
      }

      @include breakpoint($laptop-sm) {
        width: 7.5rem;
      }

      @include breakpoint($laptop-lg) {
        width: 9rem;
      }
    }
  }
  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 2.5rem;

    @include breakpoint($tablet-sm) {
      margin-bottom: 3.4375rem;
    }

    @include breakpoint($laptop-sm) {
      flex: 0 0 $col * 5;
      max-width: $col * 5;
      margin-bottom: 0;
    }

    @include breakpoint($laptop-lg) {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }

    img {
      width: 100%;
      height: auto;
      max-width: 25rem;

      @include breakpoint($laptop-sm) {
        max-width: initial;
      }
    }
  }
  &__menus {
    flex: 0 0 100%;
    display: flex;

    @include breakpoint($laptop-sm) {
      flex: 1;
      justify-content: flex-end;
      padding-left: 4.5rem;
    }

    @include breakpoint($desktop) {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }

    h3 {
      @include text-gradient();
      margin-bottom: 1.25rem;
    }

    > ul {
      display: flex;
      flex-flow: wrap;
      list-style: none;
      flex: 1;

      @include breakpoint($laptop-sm) {
        max-width: 40rem;
      }

      @include breakpoint($laptop-lg) {
        max-width: 50rem;
      }

      > li {
        flex: 0 0 100%;

        @include breakpoint($tablet-sm) {
          flex: 1;
        }

        &:not(:last-child) {
          margin-bottom: 2.5rem;

          @include breakpoint($tablet-sm) {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &__menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: wrap;

    li {
      font-weight: 400;
      flex: 0 0 50%;

      @include breakpoint($tablet-sm) {
        flex: 0 0 100%;
      }

      &:not(:last-child) {
        margin-bottom: 1.25rem;
      }
    }

    a {
      color: var(--white);

      &:hover {
        color: var(--color-accent);
      }
    }
  }

  &__links {
    margin-top: 2.5rem;

    @include breakpoint($tablet-sm) {
      margin-top: 3.4375rem;
    }

    @include breakpoint($laptop-sm) {
      margin-top: 3rem;
    }

    ul {
      display: flex;
      flex-flow: wrap;
      list-style: none;
      padding: 0;
      margin: -0.5rem -1.25rem;

      li {
        padding: 0.5rem 1.25rem;
      }
    }
    a {
      color: var(--white);
      opacity: 0.6;
      transition: opacity var(--transition), color var(--transition);

      &:hover {
        color: var(--color-accent);
        opacity: 1;
      }
    }
  }
}

.lb-colophon {
  display: flex;
  opacity: 0.4;
  transition: opacity $transition;
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  @include breakpoint($laptop-sm) {
    bottom: 2rem;
    right: 2rem;
  }

  &:hover {
    opacity: 0.8;
  }

  img {
    width: 30px;
    height: auto;
  }
}
