/******************************************************************
Stylesheet: Gravity Form Styles

For universal gravity forms style overrides. For individual page form overrides please use the specific page SCSS file.

This is not an exhaustive list. 
For other GF CSS classes, go here: https://www.gravityhelp.com/documentation/article/css-targeting-samples/

@since 1.0.0
@updated 1.0.0
******************************************************************/
%checkbox-custom-input {
  display: inline-block;
  position: relative;
  padding-left: 1.25em;
  margin-right: 0;
  cursor: pointer;
  // color: $color1;

  &::before {
    width: 0.75em;
    height: 0.75em;
    content: "";
    position: absolute;
    top: 0.425em;
    left: 0;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
  }

  &::after {
    width: 0.65em;
    height: 0.65em;
    content: "";
    position: absolute;
    background: url(#{$icons_dir}checkmark.svg) transparent no-repeat center
      center;
    background-size: contain;
    top: 0.5em;
    left: 0.15rem;
    opacity: 0;
    transition: var(--transition);
  }
}

%checkbox-custom-input-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;

  &:checked + label {
    @extend %checkbox-custom-input-checked;
  }

  &:focus-visible + label::before {
    outline: 3px auto Highlight;
    outline: 3px auto -webkit-focus-ring-color;
  }
}

%checkbox-custom-input-checked {
  &::before {
    background-color: var(--white);
  }
  &::after {
    opacity: 1;
  }
}

%radio-custom-input {
  display: inline-flex;
  position: relative;
  padding-left: 1.5em;
  line-height: 1;
  cursor: pointer;

  &::before {
    box-sizing: border-box;
    width: 1em;
    height: 1em;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: $color2;
    border: 0;
    border-radius: 50%;
    transition: var(--transition);
  }

  &::after {
    width: 0.6em;
    height: 0.6em;
    content: "";
    position: absolute;
    background: $color1;
    background-size: cover !important;
    background-position: center !important;
    top: 0.2em;
    left: 0.2em;
    opacity: 0;
    transition: var(--transition);
    border-radius: 100%;
  }

  &:hover {
    &::after {
      opacity: 0.4;
    }
  }
}

%radio-custom-input-checked {
  &::after {
    opacity: 1;
  }
}

.ginput_container_radio {
  overflow: visible;
  width: 100%;

  .gfield_radio {
    display: flex;
    flex-flow: wrap;
    margin: -0.5625rem;

    @include breakpoint($tablet-sm) {
      margin: -0.5625rem -1rem;
    }

    .gchoice {
      display: flex;
      box-sizing: border-box;
      padding: 0.5625rem;
      position: relative;

      @include breakpoint($tablet-sm) {
        padding: 0.5625rem 1rem;
      }

      input[type="radio"] {
        @extend %checkbox-custom-input-hidden;
      }

      label {
        @extend %radio-custom-input;
        font-size: 1rem;
        font-weight: 600;
        color: $color1;

        @include breakpoint($laptop-sm) {
          font-size: 1.125rem;
        }
      }

      input[id*="other"] {
        width: 100%;
        margin-right: 0;
        margin-top: calc((-30px + 1em) / 2);
        margin-left: 0;
      }
    }
  }
}

// Consent / Checkbox
.gfield_checkbox > .gchoice,
.ginput_container_consent {
  input {
    @extend %checkbox-custom-input-hidden;
  }
  label {
    @extend %checkbox-custom-input;
    font-size: 0.875rem;
    line-height: 1.5;

    a {
      font-weight: 600;

      &:hover {
        color: var(--color-primary);
        text-decoration: underline;
      }
    }

    &:hover {
      &::after {
        opacity: 0.4;
      }
    }
  }
}

.gform_ajax_spinner {
  max-width: 15px !important;
  max-height: 15px !important;
  position: absolute;
  right: -1.5rem;
  top: calc(50% - 7.5px);
  opacity: 0.9;
  animation: rotate linear 1.5s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

// To prevent the invisible recaptcha badge from disappearing behind content.
.recaptcha,
.ginput_recaptcha {
  z-index: 9999;
  display: none;
}

input:not([type="submit"]),
select,
textarea {
  line-height: 1.6;
  border: 0;
  color: var(--color-p);
  padding: 0.625rem 1rem;
  transition: background var(--transition);
  display: block;
  background: var(--white);
  border-radius: 0;
  -webkit-appearance: none;
  box-shadow: var(--box-shadow);

  &::placeholder {
    color: var(--color-p);
    opacity: 0.6;
    // transition: color var(--transition);
  }

  // &:focus {
  //   // background: rgba($color7, 0.5);
  //   // box-shadow: inset 0px 1px 5px rgba(var(--white), 0.8),
  //   //   inset 0px 1px 5px -18px rgba($color1, 0.8);

  //   &::placeholder {
  //     color: rgba($color-p, 0.65);
  //   }
  // }
}

textarea {
  resize: none;
  max-height: 8.375rem;
  width: 100%;

  @include breakpoint($tablet-sm) {
    max-height: 13.75rem;
  }

  &.small {
    max-height: 5.5rem;

    @include breakpoint($laptop-lg) {
      max-height: 6.25rem;
    }
  }
}

input {
  &[type="search"] {
    &::-webkit-search-cancel-button {
      position: relative;
      right: -10px;
      -webkit-appearance: none;
      height: 10px;
      width: 10px;
      background-image: url("data:image/svg+xml,%3Csvg width='19' height='16' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.838235 16C0.598739 16 0.39916 15.9385 0.239496 15.8154C0.079832 15.6923 0 15.5385 0 15.3538C0 15.1692 0.0931372 14.9744 0.279412 14.7692L7.22479 7.81538L0.718487 1.2C0.505602 0.974359 0.39916 0.789744 0.39916 0.646154C0.39916 0.461539 0.478992 0.307693 0.638655 0.184617C0.82493 0.0615389 1.02451 0 1.23739 0H3.15336C3.55252 0 3.89846 0.164103 4.19118 0.492309L9.57983 5.87692L14.9685 0.492309C15.1281 0.328206 15.2745 0.205128 15.4076 0.123077C15.5672 0.0410255 15.7668 0 16.0063 0H17.8424C18.0553 0 18.2416 0.0615389 18.4013 0.184617C18.5609 0.307693 18.6408 0.451283 18.6408 0.615386C18.6408 0.820514 18.5476 1.01538 18.3613 1.2L11.7752 7.87692L18.7206 14.7692C18.9069 14.9744 19 15.1692 19 15.3538C19 15.5385 18.9202 15.6923 18.7605 15.8154C18.6008 15.9385 18.4013 16 18.1618 16H16.2059C15.8067 16 15.4608 15.8462 15.1681 15.5385L9.46008 9.84615L3.7521 15.5385C3.59244 15.6821 3.43277 15.7949 3.27311 15.8769C3.14006 15.959 2.95378 16 2.71429 16H0.838235Z' fill='%2338455b'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      // opacity: 0.75;
    }
  }
}

.quantity_input {
  display: flex;
  position: relative;

  &::before {
    content: "";
    height: 1.25em;
    width: 0.85em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 23'%3E%3Cpath stroke='%232B2627' stroke-width='1.5' d='M10.9543 16.9667L6.00086 21.8865 1.00011 16.9198M1 6.9198L5.95349 2 10.9542 6.96674'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    position: absolute;
    right: 0.625em;
    top: 50%;
    transform: translateY(-50%);
    transition: transform var(--transition);

    @include breakpoint($tablet-sm) {
      height: 1.5em;
      width: 1em;
    }
  }

  input[type="number"] {
    // padding-right: 2.25em;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      opacity: 0;
      position: relative;
      right: -0.5em;
    }
  }
}

// [data-sf-field-input-type="select"] > label,
// .select2-selection,
.select-wrapper,
.ginput_container_select,
.woocommerce-ordering,
.sf-field-sort_order > label {
  display: flex;
  position: relative;
  --rotate: 0deg;

  &::before {
    --translateY: -50%;
    --rotate: 0;
    content: "";
    height: 0.85em;
    width: 0.85em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 19 11'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath stroke='%23D1A410' stroke-linecap='round' stroke-width='3' d='M16 3 9.5 9 3 3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h11v19H0z' transform='rotate(90 9.5 9.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(var(--translateY)) rotate(var(--rotate));
    transition: transform var(--transition);

    @include breakpoint($tablet-sm) {
      height: 1em;
      width: 1em;
    }
  }

  select {
    padding-right: 2.25rem;
    appearance: none;
    text-overflow: ellipsis;
  }
}

// Search Form
.searchform {
  &__inner {
    position: relative;
    width: 100%;
  }

  input {
    padding-right: 3.125rem;
    width: 100%;
  }

  button[type="submit"] {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-accent);

    svg {
      height: 1rem;
      width: 1rem;
    }
  }

  &--shadow {
    position: relative;
    z-index: 0;

    &::before {
      content: "";
      height: 100%;
      width: 70%;
      left: -0.3125rem;
      bottom: -0.3125rem;
      position: absolute;
      background: var(--color-accent);
      z-index: -2;
    }
  }
}

.gform_wrapper {
  position: relative;

  .gform_footer {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
}

// Errors
.gform_validation_errors {
  color: var(--color-error);
  padding: 1rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  margin-bottom: 1.5rem;
}

.gform_submission_error {
  // @include h6;
  font-family: var(--font-secondary);
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 500;
  color: var(--color-error);
  background: rgba(255, 255, 255, 0.85);
}

.gfield_description {
  &.validation_message {
    font-size: 0.75rem;
    line-height: 1.25;
    font-weight: 400;
    color: var(--color-error);
    // position: absolute;
    // right: 15px;
    // bottom: 15px;
    text-align: right;

    @include breakpoint($tablet-sm) {
      font-size: 0.875rem;
    }
  }
}

.gfield_required {
  display: none;
}

.gfield_error {
  position: relative;

  .ginput_container_consent {
    input[type="checkbox"]:not(:checked) {
      + .gfield_consent_label {
        color: var(--color-error);

        a {
          color: var(--color-error);
        }
      }
    }
    + .gfield_description.validation_message {
      @extend .screen-reader-text;
    }
  }
}

.gfield_label {
  font-weight: 500;
  font-size: 1rem;
  color: $color1;
  margin-bottom: 0.5rem;
}

// Search Course

.search-course {
  &__field {
    &__label {
      font-weight: 600;
      margin-bottom: 0.75rem;
    }
  }

  &__checkboxes {
    --item-gap: 0.625rem;
    display: flex;
    flex-flow: wrap;
    margin: -0.625rem calc(var(--item-gap) * -1);
    margin-top: 0.625rem;

    @include breakpoint($tablet-sm) {
      --item-gap: 1rem;
    }
  }

  &__checkbox {
    padding: 0.625rem var(--item-gap);

    @include breakpoint($mobile-only) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    input[type="checkbox"] {
      @extend %checkbox-custom-input-hidden;

      &:checked {
        + label {
          font-weight: 700;
        }
      }
    }

    label {
      @extend %checkbox-custom-input;
      cursor: pointer;
    }
  }

  &__fields {
    display: flex;
    align-items: stretch;
    flex-flow: wrap;

    // select,
    input {
      box-shadow: none;
      background: none;
      height: 100%;
    }

    button {
      max-width: 12.5rem;
      padding: 0.625rem 1rem;
      line-height: 1.5;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;
      overflow: hidden;
    }

    .select-wrapper {
      button {
        padding-right: 2.25rem;

        @include breakpoint(max-width 399px) {
          width: 100% !important;
          max-width: initial;
        }
      }
    }

    &__select {
      position: relative;
      flex: 0 0 100%;
      max-width: 100%;

      &--semester {
        @include breakpoint($mobile) {
          flex: 0 0 45%;
          max-width: 45%;
        }
        @include breakpoint($mobile-lg) {
          flex: initial;
          max-width: initial;
        }
      }

      &--category {
        @include breakpoint($mobile) {
          flex: 0 0 55%;
          max-width: 55%;
        }
        @include breakpoint($mobile-lg) {
          flex: initial;
          max-width: initial;
        }

        &::after {
          @include breakpoint($mobile) {
            display: none;
          }
          @include breakpoint($mobile-lg) {
            display: block;
          }
        }
      }

      &::after {
        content: "";
        height: 1px;
        width: calc(100% - 2rem);
        background: var(--color-accent);
        position: absolute;
        right: 1rem;
        top: 100%;

        @include breakpoint($mobile) {
          height: 50%;
          width: 1px;
          right: 0;
          top: 25%;
        }
      }

      select,
      button {
        width: 100%;

        @include breakpoint($mobile-lg) {
          width: auto;
        }
      }

      &__dropdown {
        position: absolute;
        top: calc(100% + 0.5rem);
        left: 0;
        z-index: 2;
        background: var(--white);
        width: 100%;
        min-width: 1rem;
        box-shadow: var(--box-shadow);
        padding: 1rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity var(--transition);

        &.active {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &__checkboxes {
      padding: 0;

      ul {
        list-style: none;
        padding: 0;

        li {
          &:not(:last-child) {
            margin-bottom: 0.5rem;
          }
        }
      }

      input[type="checkbox"] {
        @extend %checkbox-custom-input-hidden;

        &:checked + label {
          font-weight: 600;
        }
      }

      label {
        @extend %checkbox-custom-input;
        width: 100%;
      }
    }

    &__input {
      flex: 1;
      position: relative;

      @include breakpoint(min-width 400px) {
        min-width: 13rem;
      }

      &::after {
        @include breakpoint($mobile) {
          content: "";
          height: 1px;
          width: calc(100% - 2rem);
          background: var(--color-accent);
          position: absolute;
          right: 1rem;
          top: 0;
        }

        @include breakpoint($mobile-lg) {
          display: none;
        }
      }

      input {
        padding-right: 2.5rem;
        width: 100%;
      }

      button[type="submit"] {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        z-index: 1;
        color: var(--color-accent);
        transition: var(--transition);

        &:hover {
          color: var(--color-primary);
        }

        svg {
          height: 1rem;
          width: auto;
        }
      }
    }
  }

  body:not(.is-mouse) & {
    .search-course__checkbox input[type="checkbox"]:focus {
      + .search-course__checkbox__label {
        outline: 3px auto Highlight;
        outline: 3px auto -webkit-focus-ring-color;
      }
    }
  }
}

[data-sf-field-input-type="select"] {
  > label {
    &::before {
      top: 50%;
      transform: translateY(-50%);
    }
  }
  select {
    background-color: var(--light-grey);
  }
}

// select2 + search & filter
.select2-selection {
  border: 0 !important;
  padding: 0.925rem 1.25rem;
  height: auto !important;

  &--multiple {
    padding: 0.625rem 1.25rem 0.875rem;
  }

  &::before {
    top: 50%;
    transform: translateY(-50%);
  }

  &__rendered {
    height: auto !important;
    line-height: 1.5 !important;
    padding: 0 !important;
  }

  &__arrow {
    display: none;
  }
}

.select2-container {
  display: block;
  box-shadow: var(--box-shadow);
  width: 100% !important;
}

.select2-dropdown {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 0 !important;
  border: 0;
  padding: 0.5rem;
  transform: translateY(1rem);

  &--above {
    transform: translateY(-1rem);
  }
}

.select2-search {
  &--dropdown {
    padding: 0.5rem 0 1rem;
  }
  &__field {
    border: 0 !important;
  }
}

.select2-results {
  &__options {
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background-color: var(--white);
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-primary);
      border-radius: 3px;

      &:hover {
        background-color: var(--color-accent);
      }
    }
  }
  &__option {
    &[data-selected="true"] {
      background-color: var(--light-grey) !important;
    }
    &--highlighted {
      background-color: var(--white) !important;
      color: $color-p !important;

      &[data-selected="true"] {
        background-color: var(--light-grey) !important;
      }
    }
  }
}

// Sidebar select2
// .archive,
// .single-product {
.select2-selection {
  background-color: var(--white) !important;

  &__rendered {
    display: flex !important;
    flex-flow: wrap;
    align-items: center;
    margin: -0.25rem !important;

    li {
      float: none !important;
      margin: 0.25rem !important;
    }
  }

  &__choice {
    border: 0 !important;
    background-color: var(--light-grey) !important;
  }
}

.select2-search {
  &--inline {
    padding: 0 !important;
  }
  // &__field {
  //   width: 100% !important;
  // }
}

.select2-dropdown {
  padding: 1rem 0.5rem;
}

.select2-results {
  &__option {
    transition: color var(--transition);
    margin: 0 0.5rem;

    &:not(.select2-results__message) {
      position: relative;
      padding-left: 1.65em;
      margin-right: 0;
      cursor: pointer;

      &::before {
        width: 0.75em;
        height: 0.75em;
        content: "";
        position: absolute;
        top: 0.625em;
        left: 0;
        box-shadow: var(--box-shadow);
        background-color: var(--white);
      }

      &::after {
        width: 0.65em;
        height: 0.65em;
        content: "";
        position: absolute;
        background: url(#{$icons_dir}checkmark.svg) transparent no-repeat center
          center;
        background-size: contain;
        top: 0.5em;
        left: 0.15rem;
        opacity: 0;
        transition: var(--transition);
      }
    }

    &[aria-selected="true"] {
      background-color: transparent !important;

      &::after {
        opacity: 1;
      }
    }
    &--highlighted {
      background-color: transparent !important;
      // color: var(--color-accent) !important;

      // &::after {
      //   opacity: 0.5;
      // }
    }
  }
}
// }

// Search and Filter
.search-filter-reset,
input[name="_sf_submit"] {
  @include btn-commons;
  color: var(--color-primary);
  transition: color var(--transition);

  &:hover {
    color: var(--color-accent);
  }
}

select[multiple][data-combobox] {
  width: 100%;
  height: 2.5rem;
  overflow: hidden;
  opacity: 0;
}

input[name="_sf_submit"] {
  font-weight: 700;
  cursor: pointer;
}
