/******************************************************************
Stylesheet: Global Header
@since 1.0.0
@updated 1.0.0
******************************************************************/

/*********************
Commons
*********************/

.menu-item {
  font-size: var(--font-size-menu);
  font-weight: 600;
  cursor: default;

  &.current-menu-item,
  &.current-menu-ancestor {
    font-weight: 700;

    // > a {
    //   position: relative;

    //   &::before {
    //     content: "";
    //     position: absolute;
    //     height: var(--square-size);
    //     width: var(--square-size);
    //     background: var(--gold-gradient);
    //     top: 50%;
    //     transform: translateY(-50%);
    //     left: calc((var(--square-size) + var(--square-gap)) * -1.25);
    //   }
    // }
  }

  &-clone {
    @media (hover: hover) {
      display: none;
    }
  }

  &-has-children {
    position: relative;

    > a > span {
      display: inline-flex;
      position: relative;
      padding-right: 1.75rem;

      &::after {
        --rotate: 0deg;
        content: "";
        background: url(#{$icons_dir}angle-down.svg) no-repeat center center;
        background-size: contain;
        height: 14px;
        width: 14px;
        display: block;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(var(--rotate));
        transition: $transition;
      }
    }

    .sub-menu {
      list-style: none;
      position: absolute;
      background: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(10px);
      box-shadow: var(--box-shadow);
      flex-direction: column;
      align-items: flex-start;
      left: 0;
      padding: 1rem 0;
      z-index: 10;
      opacity: 0;
      pointer-events: none;
      display: flex;
      transition: var(--transition);

      .menu-item {
        width: 100%;
        white-space: normal;
        padding: 0.5rem 1.5rem;
        font-weight: 400;

        @include breakpoint($mobile) {
          white-space: nowrap;
        }
        a {
          display: flex;
        }

        &.current-menu-item,
        &.current-menu-ancestor {
          font-weight: 600;

          > a {
            &::before {
              content: none;
            }
          }
        }
      }
    }

    &.touch.active,
    &:hover:not(.touch),
    &:focus-within {
      > a > span::after {
        --rotate: 180deg;
      }

      > .sub-menu {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }

    &.inactive,
    &.touch:not(.active) {
      > a > span::after {
        --rotate: 0deg;
      }

      > .sub-menu {
        opacity: 0 !important;
        visibility: hidden !important;
        pointer-events: none !important;
      }
    }

    > a:hover + .sub-menu,
    .sub-menu:hover,
    .touch.active a:hover + .submenu {
      opacity: 1 !important;
      visibility: visible;
      pointer-events: all;
    }
  }
}

ul.menu {
  flex-flow: wrap;
  list-style: none;
  padding: 0;
  margin: calc(var(--menu-spacing) * -1);

  @include breakpoint($mobile) {
    padding: 4vh 0 0;
  }

  @include breakpoint($tablet-sm) {
    padding-top: 0;
  }

  @include breakpoint($laptop-sm) {
    margin: calc(var(--menu-spacing) * -0.5) calc(var(--menu-spacing) * -1);
  }

  li {
    padding: var(--menu-spacing);

    @include breakpoint($mobile) {
      padding: calc(var(--menu-spacing) * 1.2) (var(--menu-spacing));
    }

    @include breakpoint($laptop-sm) {
      padding: calc(var(--menu-spacing) * 0.5) var(--menu-spacing);
    }
  }
}

/*********************
Header
*********************/

.header {
  position: relative;
  z-index: 9;

  @include breakpoint($mobile-only) {
    box-shadow: var(--box-shadow);
  }

  &__top {
    position: relative;
    z-index: 1;

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include breakpoint($laptop-sm) {
        align-items: stretch;
      }
    }

    &__left {
      display: flex;
      align-items: flex-start;
    }

    &__right {
      display: flex;
      flex-direction: column;
      padding-left: calc(var(--menu-spacing) * 2);
    }
  }

  // Logo section
  &__logo {
    padding: 0.75rem 1.25rem 0 0;

    @include breakpoint($tablet-sm) {
      padding: 1rem 1.5rem 0 0;
    }

    @include breakpoint($laptop-sm) {
      padding: 3rem 2.5rem 0 0;
    }

    @include breakpoint($laptop) {
      padding-top: 2.5rem;
    }

    @include breakpoint($desktop) {
      padding-top: 2rem;
    }

    img {
      width: 15.25rem;
      max-width: 100%;
      height: auto;

      @include breakpoint($tablet-sm) {
        width: 23.875rem;
      }

      @include breakpoint($laptop-sm) {
        width: 18.75rem;
      }

      @include breakpoint($laptop) {
        width: 25rem;
      }

      @include breakpoint($laptop-lg) {
        width: 26rem;
      }

      @include breakpoint($desktop) {
        width: 30rem;
      }
    }
  }

  &__top-nav {
    justify-content: flex-end;
    margin-bottom: 1.5rem;

    &__inner {
      background-color: var(--color-primary);
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 2rem;
      position: relative;
      z-index: 0;

      &::before {
        content: "";
        height: calc(100% + 0.3125rem);
        width: 20em;
        left: -0.3125rem;
        bottom: -0.3125rem;
        position: absolute;
        background: var(--color-accent);
        z-index: -2;
      }

      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: var(--color-primary);
        top: 0;
        left: 0;
        z-index: -1;
      }
    }

    .menu {
      a,
      a:visited {
        color: var(--white);

        &:hover {
          color: var(--color-accent);
        }
      }
    }

    &__nav {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      // Safari hotfix
      min-width: 25rem;

      @include breakpoint($laptop-lg) {
        min-width: 29.5rem;
      }

      @include breakpoint($desktop) {
        min-width: 35rem;
      }
    }
  }

  // Main Navigation
  &__nav {
    display: flex;
    align-items: center;
  }

  &__menu {
    justify-content: flex-end;
  }

  &__search {
    align-items: center;
    margin-right: calc(var(--menu-spacing) * 0.5);

    @include breakpoint($tablet-sm) {
      position: relative;
    }

    @include breakpoint($laptop-sm) {
      margin-right: 0;
      margin-left: calc(var(--menu-spacing) * 2);
    }

    &__button {
      display: flex;
      align-items: center;
      color: var(--color-accent);
      transition: var(--transition);
      padding: 1rem;
      margin: -1rem;

      svg {
        height: 1rem;
        width: 1rem;
      }

      &:hover {
        color: var(--white);
      }
    }

    &__label {
      color: inherit;
      font-family: $primary;
      font-weight: 600;
      line-height: 1.5;
    }

    .searchform {
      &__inner {
        position: relative;
        width: 100%;
      }

      input[type="search"] {
        padding-right: 1rem;
        padding-left: 3.125rem;

        &::-webkit-search-cancel-button {
          right: 0;
        }
      }

      button[type="submit"] {
        right: auto;
        left: 0;
        color: var(--color-primary);
      }
    }
  }

  &__search-box {
    // @extend %border-bottom;
    background-color: var(--white);

    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;

    box-shadow: var(--box-shadow);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: -1;
    transition: opacity var(--transition);

    @include breakpoint($tablet-sm) {
      right: -1rem;
      width: 300px;
      margin-top: 0.75rem;
    }

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      z-index: 9;
    }

    form {
      display: flex;
      align-items: center;
      width: 100%;

      input {
        // background: transparent;
        box-shadow: none;
      }
    }

    &__results {
      ul {
        list-style: none;
      }

      li {
        text-align: left;
      }

      > ul {
        border-top: 1px solid var(--color-primary-light);
        padding: 1rem 0.75rem;

        > li {
          &:not(:last-child) {
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid var(--color-primary-light);
          }
        }

        .post-type {
          margin-bottom: 0.5rem;
        }
      }

      a {
        padding: 0.25rem 0;
        display: flex;
        font-weight: 500;
      }

      > ul.skeleton {
        > li {
          &:not(:last-child) {
            border-bottom: 1px solid var(--color-primary-light);
          }

          > ul {
            > li {
              margin-bottom: 5px;
            }
          }
        }
      }

      .skeleton-bg {
        background: rgba(var(--color-primary-rgb), 0.1);
        position: relative;
        overflow: hidden;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-image: linear-gradient(
            90deg,
            rgba(var(--color-primary-rgb), 0) 0,
            rgba(var(--color-primary-rgb), 0.1) 30%,
            rgba(var(--color-primary-rgb), 0.2) 60%,
            rgba(var(--color-primary-rgb), 0) 100%
          );
          z-index: 1;
          animation: shimmer 1.5s infinite;
          transform: translateX(-100%);

          @at-root {
            @keyframes shimmer {
              100% {
                transform: translateX(100%);
              }
            }
          }
        }
      }
    }
  }

  // Mobile Navigation
  &__nav-mobile {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: $transition;
    transform: translateY(-10px);
    @extend %border-bottom;
    @include padding(top, 6rem, 8.5rem);
    background-color: var(--white);
    padding-bottom: calc(var(--border-bottom-height) + 2.5rem);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 100%;

    // @include backdrop-filter-blur($bg-fallback, rgba($white, 0.8));

    &.toggled {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    // > .menu-main-menu-container {
    //   overflow-y: auto;
    //   overflow-x: hidden;
    //   flex: 1;
    // }

    &__inner {
      @include breakpoint($mobile-only) {
        padding: 0 2rem;
      }
    }

    &__menu {
      list-style: none;
      @include margin(all, -14px -7px, -14px);
      display: flex;
      flex-flow: wrap;

      ul {
        list-style: none;
      }

      .menu-item {
        width: 50%;

        @include breakpoint($tablet-sm) {
          width: 33.333%;
        }

        > a {
          display: inline-flex;
        }
      }
    }
  }
}

#secondary-menu-mobile {
  padding-top: 16px;
}

/*********************
Hamburger Menu Toggle
*********************/
// hamburger vars
$hamburger-height: 12px;
$bar-height: 2px;
$bar-color: var(--color-primary);
$bar-color-hover: var(--color-primary);

.menu-toggle {
  display: inline-flex;
  line-height: 1;
  background: none;
  border: none;
  align-items: center;
  padding: 0;
  z-index: 10;
  cursor: pointer;
  color: $color-p;
  font-weight: 800;

  @include breakpoint($laptop-sm) {
    display: none;
  }

  &:focus {
    outline: none;
  }

  &.hidden {
    display: none;
  }

  .menu-hamburger {
    width: 18px;
    height: $hamburger-height;
    position: relative;
    transform: rotate(0deg);
    transition: $transition;
    cursor: pointer;
    margin-left: 0.75rem;

    > span {
      display: block;
      position: absolute;
      height: $bar-height;
      width: 100%;
      background: $bar-color;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: $transition;

      &:nth-child(1) {
        top: 0px;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: ($hamburger-height - ($bar-height * 3)) / 2 + $bar-height;
      }

      &:nth-child(4) {
        top: $hamburger-height - $bar-height;
      }
    }
  }

  &[aria-expanded="true"] .menu-hamburger > span {
    &:nth-child(1) {
      top: ($hamburger-height - ($bar-height * 3)) / 2 + $bar-height;
      width: 0%;
      left: 50%;
    }

    &:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    &:nth-child(4) {
      top: $hamburger-height - $bar-height;
      width: 0%;
      left: 50%;
    }
  }

  &[aria-expanded="true"] {
    &:hover .menu-hamburger {
      > span {
        &:nth-child(1) {
          width: 0;
        }

        &:nth-child(4) {
          left: 0;
        }
      }
    }
  }
}
