html {
  margin: 0;
  max-width: 100vw;

  &.no-scroll,
  &.noscroll {
    &,
    body {
      overflow: hidden;
    }
  }

  &.mobile-nav-active {
    .site {
      position: relative;

      &::before {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}

main {
  display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.site-wrapper {
  overflow: hidden;
}

// fill content to screen height
.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .site-content {
    flex: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    @include backdrop-filter-blur($bg-fallback, rgba($white, 0.8));
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--transition);
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: inline;
  }
}
