.page-numbers-wrapper {
  display: flex;
  justify-content: flex-end;
  @include margin(top, 1.875rem, 2.5rem);

  &--top {
    margin-top: 0;
    @include margin(bottom, 1.875rem, 2.5rem);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    margin: -0.5rem;
  }

  .page-numbers-results,
  .page-numbers-list {
    padding: 0.5rem;
  }

  .page-numbers-results {
    margin-right: 1.5rem;
    font-size: 0.875rem;
  }

  .page-numbers-list {
    margin-left: auto;
  }

  ul.page-numbers {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: wrap;
    margin: -0.3125rem;

    li {
      padding: 0.3125rem;
    }

    .page-numbers {
      width: 1.875rem;
      height: 1.875rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      background: var(--white);
      color: var(--color-primary);
      box-shadow: var(--box-shadow);
      padding: 0.5rem 0;
      transition: var(--transition);

      @include breakpoint($tablet-sm) {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.75rem 0;
      }

      &.current {
        background: var(--color-primary);
        color: var(--white);
      }

      svg {
        height: 100%;
        width: auto;
      }

      &.next,
      &.prev {
        box-shadow: none;
        padding-left: 0;
        padding-right: 0;
      }

      &[disabled],
      &.disabled {
        pointer-events: none;
        opacity: 0.3;
        color: var(--color-p);
      }
    }

    a.page-numbers,
    button.page-numbers {
      &:hover {
        color: var(--color-accent);
      }
    }
  }
}
