.person-list {
  display: flex;

  ul {
    --item-gap: 0.75rem;
    list-style: none;
    padding: 0;
    flex: 1;
    display: flex;
    flex-flow: wrap;
    margin: calc(var(--item-gap) * -1);

    @include breakpoint($tablet-sm) {
      --item-gap: 1.25rem;
    }

    @include breakpoint($laptop-sm) {
      --item-gap: 2rem;
    }

    li {
      padding: var(--item-gap);
      flex: 0 0 100%;
      max-width: 100%;

      @include breakpoint($tablet-sm) {
        flex: 0 0 33.333%;
        max-width: 33.333%;
      }
      @include breakpoint($laptop-sm) {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
  }
}

.person {
  display: flex;

  @include breakpoint($tablet-sm) {
    flex-direction: column;
  }

  &__img {
    margin-right: 1.25rem;
    min-width: 5rem;

    @include breakpoint($tablet-sm) {
      min-width: initial;
      max-width: 7rem;
      margin-right: 0;
      margin-bottom: 1.25rem;
    }

    @include breakpoint($laptop-lg) {
      max-width: 8rem;
    }

    @include breakpoint($desktop) {
      max-width: 9rem;
    }

    &__inner {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 110%;
    }

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: top;
      display: block;
      filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16));

      @include breakpoint($tablet-sm) {
        object-position: bottom;
      }
    }
  }

  &__text {
    flex: 1;
  }

  &__name {
    color: var(--color-p);
    font-weight: 600;
  }

  &__location {
    color: var(--color-p);
    font-weight: 500;
    font-style: italic;
  }

  &__meta {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
