.post-thumbnail {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  img,
  iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }

  &--book {
    padding-bottom: 150%;
  }

  &--staff {
    padding-bottom: 0;
    height: auto;

    img {
      position: relative;
    }
  }
}

// .podcast-cover {
//   position: relative;
//   width: 100%;
//   height: 0;
//   padding-bottom: 100%;

//   img {
//     position: absolute;
//     height: 80%;
//     width: 80%;
//     top: 50%;
//     left: 50%;
//     object-fit: contain;
//     transform: translate(-50%, -50%);
//   }
// }

.post-entry {
  --post-entry-img-gap: 0.825rem;

  @include breakpoint($tablet-sm) {
    --post-entry-img-gap: 1rem;
  }

  @include breakpoint($laptop-sm) {
    --post-entry-img-gap: 1.25rem;
  }
  &__inner {
    position: relative;
  }

  &__img {
    position: relative;
    margin-bottom: var(--post-entry-img-gap);

    @include breakpoint($mobile-only) {
      max-width: 13.125rem;
    }

    .post-entry__icon {
      position: absolute;
      bottom: -1px;
      right: 0;
      margin-bottom: 0;
      padding: 0.35rem;
      height: 1.65rem;
      width: 1.65rem;
      background: var(--gold-gradient);
      display: flex;
      align-items: center;
      justify-content: center;

      // @include breakpoint($laptop-sm) {
      //   // padding: 0.5rem;
      //   height: 1.75rem;
      //   width: 1.75rem;
      // }

      svg {
        min-width: initial;
        width: 100%;
        height: 100%;

        path {
          fill: var(--white); 
        }
      }
    }
  }

  &__details {
    display: flex;
    width: 100%;
  }

  &__text {
    width: 100%;

    &__more {
      margin-top: 1rem;
    }
  }

  &__icon {
    position: relative;
    margin-bottom: 0.5rem;

    svg {
      width: 1rem;
      min-width: 1rem;
      height: auto;

      @include breakpoint($laptop-sm) {
        width: 1.125rem;
        min-width: 1.125rem;
      }
    }
  }

  &__link-overlay {
    position: static;
    color: var(--color-p);

    &:hover {
      color: var(--color-accent);
    }

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  &__title {
    color: inherit;
    margin-bottom: 0.3125rem;

    // svg {
    //   height: 0.85rem;
    //   width: auto;
    //   vertical-align: middle;
    //   color: $color5;
    //   transition: $transition;

    //   @include breakpoint($laptop-sm) {
    //     height: 1rem;
    //   }
    // }
  }

  &__excerpt {
    margin-bottom: 0.3125rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__meta {
    .separator {
      color: var(--color-accent);
    }
  }

  a:not(.post-entry__link-overlay) {
    position: relative;
    z-index: 1;
  }

  // a:hover svg {
  //   color: inherit;
  // }

  // &--podcast,
  // &--archive {
  //   .post-entry {
  //     &__inner {
  //       display: flex;
  //       align-items: flex-start;
  //     }
  //     &__img {
  //       margin-bottom: 0;
  //       @include margin(right, 0.825rem, 0.825rem, 1.25rem);
  //     }
  //   }
  // }

  // &--archive {
  //   .post-entry {
  //     &__img {
  //       width: 40%;
  //       flex: 0 0 40%;
  //       max-width: 6.75rem;

  //       @include breakpoint($tablet-sm) {
  //         flex: 0;
  //         width: 9rem;
  //         min-width: 9rem;
  //         max-width: initial;
  //       }

  //       @include breakpoint($desktop) {
  //         width: 10.625rem;
  //         min-width: 10.625rem;
  //       }
  //     }
  //   }
  // }

  // &--podcast {
  //   &:not(.post-entry--large-thumbnail) {
  //     .post-entry {
  //       &__img {
  //         width: 3.75rem;
  //         min-width: 3.75rem;

  //         @include breakpoint($tablet-sm) {
  //           width: 3.75rem;
  //           min-width: 3.75rem;
  //         }

  //         @include breakpoint($laptop-sm) {
  //           width: 5rem;
  //           min-width: 5rem;
  //         }

  //         @include breakpoint($desktop) {
  //           width: 6.25rem;
  //           min-width: 6.25rem;
  //         }
  //       }
  //     }
  //   }
  // }

  // &--large-thumbnail {
  //   .podcast-cover {
  //     padding-bottom: 56.25%;
  //   }
  // }

  // &--home {
  //   .post-entry__inner {
  //     flex-direction: column;
  //   }
  //   .post-entry__img {
  //     width: 100%;
  //     @include margin(bottom, 0.825rem, 0.825rem, 1.25rem);
  //   }
  // }
  &--icon {
    .post-entry__inner {
      display: flex;
      align-items: flex-start;

      .post-entry__icon {
        margin-right: 0.5rem;
        display: flex;
        align-items: center;
        height: 1.5rem;
      }
    }
  }

  &--list {
    .post-entry__img {
      max-width: initial;

      @include breakpoint($desktop) {
        width: 18rem;
        max-width: 18rem;
      }
    }

    @include breakpoint($laptop-sm) {
      .post-entry__inner {
        display: flex;
        align-items: flex-start;
      }
      .post-entry__img {
        width: 14.5rem;
        max-width: 14.5rem;
        margin-right: 1.25rem;
        margin-bottom: 0;
      }
      .post-entry__details {
        flex: 1;
      }
    }
  }

  &--book {
    .post-entry__inner {
      display: flex;
      align-items: flex-start;
    }
    .post-entry__img {
      width: 4.625rem;
      min-width: 4.625rem;
      margin-bottom: 0;
      margin-right: 1.25rem;

      @include breakpoint($tablet-sm) {
        width: 6.75rem;
        min-width: 6.75rem;
      }

      @include breakpoint($laptop-lg) {
        width: 8.125rem;
        min-width: 8.125rem;
      }
    }

    // .post-entry__title {
    //   &:last-child {
    //     margin-bottom: 0;
    //   }
    // }

    .post-entry__subtitle {
      color: var(--color-p);
      font-weight: 400;
    }

    .post-entry__meta-group {
      margin-top: var(--p-spacing);

      ul {
        display: flex;
        flex-flow: wrap;
        list-style: none;
        padding: 0;
        margin: calc(var(--p-spacing) * -0.5);

        li {
          padding: calc(var(--p-spacing) * 0.5);

          &.post-entry__meta-group__desc {
            flex: 0 0 100%;
          }

          &.post-entry__meta-group__price {
            margin-left: auto;
            font-weight: 700;
          }
        }
      }
    }
  }

  &--staff {
    .post-entry__inner {
      display: flex;
      align-items: flex-start;
    }
    .post-entry__img {
      width: 4.375rem;
      min-width: 4.375rem;
      margin-bottom: 0;
      margin-right: 1.25rem;
    }
  }
}

// Posts Grid
.posts-grid {
  &__inner {
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    margin: calc(var(--post-spacing) * -1);
  }
  // &__wrapper {
  //   display: flex;
  //   flex-flow: wrap;
  // }

  // &--archive {
  //   .posts-grid__inner {
  //     margin-right: 0;
  //     margin-left: 0;
  //   }
  // }

  .post-entry {
    width: 100%;
    padding: var(--post-spacing);

    // &--archive {
    //   padding-left: 0;
    //   padding-right: 0;

    //   &:not(:last-child) {
    //     border-bottom: 1px solid rgba($color2, 0.5);
    //   }
    // }
  }
}
