.entry-meta {
  display: flex;
  flex-flow: wrap;
  font-size: var(--font-size-small);
  margin: -0.5rem;

  &__info,
  &__social {
    padding: 0.5rem;
  }

  &__info {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      flex-flow: wrap;
      justify-content: space-between;
      margin: -0.125rem;

      li {
        padding: 0.125rem;

        &:not(:last-child) {
          &::after {
            content: "|";
            color: var(--color-accent);
            margin: 0 0.5rem;
          }
        }
      }
    }
  }

  &__social {
    margin-left: auto;
  }
  // margin-bottom: 1.25rem;
}

.social-share {
  display: flex;
  align-items: center;
  flex-flow: wrap;

  &__label {
    margin-right: 1rem;
  }

  ul {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    list-style: none;
    margin: -0.5rem;

    li {
      padding: 0.5rem;

      a {
        display: flex;
        color: var(--color-accent);

        &:hover {
          color: var(--color-primary);
        }
      }

      svg {
        height: 0.75rem;
        width: auto;
      }
    }
  }
}

.entry-breadcrumbs {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .breadcrumbs {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    span {
      font-weight: 500;
    }
  }
}

.widget-area {
  margin-top: 2.5rem;

  @include breakpoint($laptop-sm) {
    margin-top: 0;
  }

  .widget {
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }

  .widget-search {
    max-width: 21rem;
  }

  .widget-posts-list {
    ul {
      list-style: none;

      li {
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
  }

  .widget-recent {
    .post-entry {
      @include breakpoint($tablet-sm) {
        flex: 0 0 50%;
        max-width: 50%;
      }
      @include breakpoint($laptop-sm) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }

  .widget-year {
    ul {
      list-style: none;
    }
    .accordions {
      display: flex;
      flex-flow: wrap;
      margin-top: 0;
      margin-right: -1.25rem;
      margin-left: -1.25rem;

      > .col {
        width: 50%;
        padding: 0 1.25rem;

        li {
          width: 100%;
        }
      }

      .accordion {
        box-shadow: none;

        &__body {
          padding-left: 1rem;
        }
      }
    }

    a,
    button {
      display: inline-block;
      padding: 0.25rem 0;

      &.active {
        font-weight: 700;
      }
    }
  }
}

.sidebar-cta {
  --cta-padding: 1.25rem;
  background: linear-gradient(128deg, var(--gold) -85%, var(--light-gold) 40%);
  padding: var(--cta-padding);
  padding-bottom: calc(var(--cta-padding) + var(--border-bottom-height));
  border-bottom: var(--border-bottom-height) solid var(--color-primary);

  @include breakpoint($laptop-lg) {
    --cta-padding: 1.5rem;
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: var(--p-spacing);
    }

    a:not(.button) {
      &,
      &:hover {
        color: var(--color-primary);
      }
    }
  }
}

// Gutenberg
.wp-block-image {
  &.size-full {
    text-align: center;
  }
}
