.subscribe {
  --box-padding: 1.25rem;

  @include breakpoint($tablet-sm) {
    --box-padding: 2.5rem;
  }

  @include breakpoint($laptop-sm) {
    --box-padding: 2.5rem;
  }

  @include breakpoint(min-width 1280px) {
    --box-padding: 4rem;
  }
  &__inner {
    position: relative;
    z-index: 0;
    display: flex;
    background: linear-gradient(
      90deg,
      var(--dark-gold) 0%,
      var(--light-gold) 100%
    );
    box-shadow: var(--box-shadow);
    padding: var(--box-padding);
  }

  &__bg {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    height: 100%;

    img {
      height: 100%;
      width: auto;
      display: block;
    }
  }

  &__text {
    flex: 0 0 100%;
    max-width: 100%;

    @include breakpoint($tablet-sm) {
      flex: 0 0 75%;
      max-width: 75%;
      padding-right: var(--box-padding);
    }

    @include breakpoint($laptop-sm) {
      flex: 0 0 65%;
      max-width: 65%;
    }

    @include breakpoint($laptop-lg) {
      flex: 0 0 65%;
      max-width: 65%;
    }

    p {
      max-width: 35em;
    }
  }

  &__img {
    flex: 1;

    &__inner {
      position: relative;
      height: 100%;
      width: 100%;

      img {
        display: block;
        position: absolute;
        bottom: calc(var(--box-padding) * -1);
        left: 0;
        width: 100%;
        height: calc(100% + (var(--box-padding) * 2));
        object-fit: contain;
      }
    }
  }

  &__form {
    @include breakpoint($tablet-sm) {
      width: 70%;
    }
    @include breakpoint($laptop-sm) {
      width: 66.667%;
    }
    .gform_button.button {
      --gold-gradient: var(--color-primary);
    }
  }

  &--default {
    .subscribe__bg {
      flex: 0 0 35%;
      max-width: 35%;

      img {
        width: 50%;
        object-fit: cover;
        object-position: left bottom;
        margin-left: auto;
        @include breakpoint($laptop-sm) {
          width: 50%;
        }
        @include breakpoint(min-width 1280px) {
          width: auto;
        }
      }
    }
    .subscribe__img__inner {
      @include breakpoint($tablet-sm) {
        width: 160%;
        margin-right: -20%;
        margin-left: -40%;
      }
      @include breakpoint($laptop-sm) {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
      }
      img {
        height: calc(100% + (var(--box-padding) * 3));
        object-position: center bottom;
      }
    }
  }

  &--about {
    .subscribe__img__inner {
      position: absolute;
      width: 38%;
      bottom: 0;
      right: 0;
      height: 95%;

      @include breakpoint($laptop-sm) {
        height: calc(100% + var(--box-padding));
        width: 45%;
        max-width: 33rem;
      }

      img {
        bottom: 0;
        height: 100%;
        object-fit: cover;
        object-position: top left;
      }
    }
  }

  &--contact {
    .subscribe__img {
      margin-left: calc(var(--box-padding) * -3);
      margin-right: calc(var(--box-padding) * -1);

      @include breakpoint($laptop-sm) {
        margin-left: calc(var(--box-padding) * -1);
      }
      &__inner {
        img {
          object-position: bottom right;
          bottom: calc(var(--box-padding) * -0.5);
        }
      }
    }
  }

  &--alumni {
    .subscribe__inner {
      // compensate for the image overflow
      @include breakpoint($laptop-sm) {
        margin-top: 1rem;
      }
      @include breakpoint($laptop) {
        margin-top: 4rem;
      }
      @include breakpoint($laptop-lg) {
        margin-top: 1rem;
      }
      @include breakpoint($desktop) {
        margin-top: 3.75rem;
      }
    }
    .subscribe__bg {
      height: 100%;
      width: 60%;

      @include breakpoint($laptop-sm) {
        width: 65%;
      }

      img {
        margin-left: auto;
      }
    }
    .subscribe__img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 40%;
      max-width: 35rem;
      height: 100%;

      @include breakpoint($laptop-sm) {
        width: 42%;
        min-width: 28rem;
      }

      img {
        height: auto;
        bottom: 0;
      }
    }
  }

  &--bookstore {
    .subscribe__bg {
      width: 40%;

      @include breakpoint($laptop-sm) {
        width: initial;
      }

      img {
        object-fit: cover;
        object-position: left bottom;
      }
    }
    .subscribe__img__inner {
      img {
        bottom: calc(var(--box-padding) * -0.5);
      }
    }
  }

  &--media {
    .subscribe__text {
      @include breakpoint($laptop-lg) {
        flex: 0 0 75%;
        max-width: 75%;
        padding-right: 0;
      }

      @include breakpoint($laptop-lg) {
      }
    }
    .subscribe__bg {
      height: 100%;
      width: 50%;

      @include breakpoint($laptop-sm) {
        width: 55%;
      }

      img {
        margin-left: auto;
      }
    }
    .subscribe__img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 25%;
      max-width: 15rem;
      height: 100%;

      @include breakpoint($laptop-sm) {
        min-width: 15rem;
        max-width: 15rem;
      }

      @include breakpoint($desktop) {
        min-width: 17rem;
        max-width: 17rem;
      }

      img {
        height: auto;
        bottom: 0;
      }
    }
  }
}
