.tabs {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: calc(-0.5rem + var(--tab-spacing-v) * -1)
    calc(var(--tab-spacing) * -1);

  // body.not-touch-device & {
  //   flex-flow: wrap;
  // }

  .tab {
    white-space: nowrap;
    height: 100%;
    @include h3;
    font-size: var(--font-size-h5);
    font-weight: 400;
    position: relative;
    font-family: var(--font-secondary);
    margin: var(--tab-spacing-v) var(--tab-spacing);
    transition: opacity var(--transition), color var(--transition);
    // &:not(:last-child) {
    //   &::after {
    //     content: "";
    //     position: absolute;
    //     right: calc(var(--tab-spacing) * -1);
    //     border-right: 1px solid var(--color-accent);
    //     height: 100%;
    //   }
    // }

    &:hover,
    &:focus {
      &:not(.active) {
        color: var(--color-accent);
      }
    }

    &.active {
      font-weight: 700;
    }
  }

  &--alt {
    .tab {
      @include h6;
      font-weight: 700;
      color: var(--color-p);
      opacity: 0.5;

      &:not(:last-child)::after {
        content: none;
      }

      &:hover,
      &.active {
        opacity: 1;
      }
    }
  }

  &--small {
    .tab {
      font-size: var(--font-size-h5);
    }
  }
}

.tab-panels {
  margin: 1.5rem 0 0;

  @include breakpoint($laptop-sm) {
    margin-top: 2rem;
  }

  .tab-panel {
    &:not(.tab-default) {
      // prevent animation on load
      animation: fade-up 0.25s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }

    &:not(.active) {
      // inactive style
      display: none;
    }
  }
}

.lb-tabs {
  &--vertical {
    display: flex;
    align-items: stretch;

    .tabs {
      flex-direction: column;
      flex-flow: column !important;
      margin: 0;

      @include breakpoint($laptop-sm) {
        flex: 0 0 50%;
      }

      @include breakpoint($laptop-lg) {
        flex: 0 0 40%;
      }

      .tab {
        margin: 0;
        padding: 1rem 3.75rem 1rem 1rem;
        margin-left: -1rem;
        position: relative;
        font-weight: 600;
        font-size: 1rem;
        color: var(--color-p);

        &:hover {
          color: var(--color-accent);
        }

        &::after {
          content: none;
        }

        &::before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: var(--color-primary);
          opacity: 0;
          transition: var(--transition);
        }

        &.active {
          font-weight: 700;
          color: var(--color-primary);

          &::before {
            opacity: 0.1;
          }
        }
      }
    }

    .tab-panels {
      margin-top: 0;

      @include breakpoint($laptop-sm) {
        flex: 0 0 50%;
      }

      @include breakpoint($laptop-lg) {
        flex: 0 0 60%;
      }

      .card {
        height: 100%;
      }
    }
  }
}

@keyframes fade-up {
  from {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.overflow {
  &--x {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 2rem;
      transition: var(--transition);
      opacity: 0;
      z-index: 1;
      pointer-events: none;
    }

    &::before {
      left: -5rem;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    &::after {
      right: -5rem;
      background: linear-gradient(
        270deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    &.overflow--left {
      &::before {
        left: -1px;
        opacity: 1;
      }
    }

    &.overflow--right {
      &::after {
        right: -1px;
        opacity: 1;
      }
    }
  }

  &--y {
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      height: 3rem;
      width: calc(100% - 5px); // space for scrollbar
      transition: var(--transition);
      opacity: 0;
      z-index: 1;
      pointer-events: none;
    }

    &::before {
      top: -5rem;
      background: linear-gradient(
        180deg,
        rgba($color2, 1) 0%,
        rgba($color2, 0) 100%
      );
    }

    &::after {
      bottom: -5rem;
      background: linear-gradient(
        0deg,
        rgba($color2, 1) 0%,
        rgba($color2, 0) 100%
      );
    }

    &.overflow--top {
      &::before {
        top: -1px;
        opacity: 1;
      }
    }

    &.overflow--bottom {
      &::after {
        bottom: -1px;
        opacity: 1;
      }
    }
  }
}

.overflow-wrapper {
  overflow: hidden;
  position: relative;
  height: auto;
  width: auto;
  // padding-bottom: 5px;

  // ::-webkit-scrollbar {
  //   width: 5px;
  //   height: 5px;
  //   &-track {
  //     background: var(--grey);
  //   }
  //   &-thumb {
  //     background: var(--color-primary);
  //     // border: 3px solid var(--grey);
  //     border-radius: 3px;
  //     transition: var(--transition);

  //     &:hover {
  //       background: var(--color-primary);
  //     }
  //   }
  // }
}

.overflow-ready {
  &--x {
    overflow-x: auto;
  }
  &--y {
    overflow-y: auto;
  }
}
