/******************************************************************
Stylesheet: Global Header
@since 1.0.0
@updated 1.0.0
******************************************************************/
// This is the base font size that all typographic elements should be scaled to.
html {
  font-size: 100%;
}

body {
  font-family: var(--font-secondary);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-p);
  color-adjust: economy;
  -webkit-print-color-adjust: economy;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*********************
LINK STYLES
*********************/
a,
a:visited {
  color: var(--color-primary);
  transition: color var(--transition);
  text-decoration: none;

  /* on hover */
  &:focus,
  &:hover {
    color: var(--color-accent);
  }

  // hide outline for mouse users but preserves it for keyboard users.
  &:focus:not(:focus-visible) {
    outline: none;
  }

  /* on click */
  // &:active {
  // }

  /* mobile tap color */
  &:link {
    /*
        this highlights links on iPhones/iPads.
        so it basically works like the :hover selector
        for mobile devices.
        */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  }
}

.break-all,
[href^="mailto"] {
  word-break: break-all;
}

/*********************
WP STANDARD POST IMAGE & ALIGNMENTS
*********************/

.alignleft {
  float: left;
  max-width: 100%;
  height: auto;

  @include breakpoint($mobile-lg) {
    padding: 10px 10px 10px 0px;
  }
}

.alignright {
  float: right;
  max-width: 100%;
  height: auto;

  @include breakpoint($mobile-lg) {
    padding: 10px 0 10px 10px;
  }
}

.aligncenter {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
}

// Setting universal font styles
.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
  text-rendering: optimizelegibility;

  a {
    text-decoration: none;
  }
}

h1,
.h1 {
  @include h1;

  &:not(:last-child),
  &.m-b {
    margin-bottom: 0.625em;
  }
}

h2,
.h2 {
  @include h2;

  &:not(:last-child),
  &.m-b {
    margin-bottom: 0.875em;
  }
}

h3,
.h3 {
  @include h3;

  &:not(:last-child),
  &.m-b {
    margin-bottom: 0.875em;
  }

  &.m-t {
    margin-top: 1.5em;
  }
}

h4,
.h4 {
  @include h4;

  &:not(:last-child),
  &.m-b {
    margin-bottom: 0.875em;
  }
}

h5,
.h5 {
  @include h5;
  color: var(--color-p);

  &:not(:last-child) {
    margin-bottom: 0.5em;
  }
}

h6,
.h6 {
  @include h6;
  color: var(--color-p);

  &:not(:last-child) {
    margin-bottom: 0.5em;
  }
}

p {
  // font: $body-font;
  // -ms-word-wrap: break-word;
  // word-break: break-word;
  // word-wrap: break-word;

  // cleaning up the ragged lines and breaks
  // -webkit-hyphens: auto;
  // -moz-hyphens: auto;
  // hyphens: auto;

  // sets a minimum number of characters before and after the break
  // -webkit-hyphenate-before: 2;
  // -webkit-hyphenate-after: 3;
  // hyphenate-lines: 3;

  // enabling fancy ligatures when available
  //   -webkit-font-feature-settings: 'liga', 'dlig';
  //    -moz-font-feature-settings: 'liga=1, dlig=1';
  //       -ms-font-feature-settings: 'liga', 'dlig';
  //        -o-font-feature-settings: 'liga', 'dlig';
  //           font-feature-settings: 'kern' 1, 'dlig' 1;

  margin: 0;

  &:not(:last-child) {
    margin-bottom: var(--p-spacing);
  }
}

.narrow {
  max-width: 40em;
}

.align-right {
  text-align: right;
}

small,
.small {
  font-size: var(--font-size-small);
}

blockquote,
.blockquote {
  display: block;
  font-size: var(--font-size-h4);
  font-weight: 600;
  font-style: normal;
  position: relative;
  padding-left: 1.5rem;
  max-width: 35em;

  &:not(:last-child) {
    margin-bottom: var(--p-spacing);
  }

  &::before {
    content: "";
    height: 2.25rem;
    max-height: calc(100% - 0.25em);
    position: absolute;
    left: 0;
    top: 0.125em;
    width: 4px;
    background: var(--gold-gradient);

    @include breakpoint($laptop-sm) {
      height: 2.75rem;
    }
  }
}

figcaption,
.caption {
  font-size: var(--font-size-small);
  color: var(--grey);
  font-style: italic;
}

::selection {
  background: var(--color-accent);
  color: var(--color-p);
  background-image: none;
  background-clip: none;
}

figure,
img,
video {
  max-width: 100%;
  height: auto;
}

audio {
  max-width: 100%;
}

ul,
ol {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

%bullets {
  padding-left: 0.5em;
  list-style: none;

  li {
    position: relative;
    padding-left: 1em;

    &::before {
      content: "•";
      position: absolute;
      top: 0;
      left: 0;
      height: 1.5em;
      color: var(--color-accent);
      font-weight: bold;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    ul,
    ol {
      margin-top: 1rem;
    }
  }
}

ul.bullets {
  @extend %bullets;
}

ol {
  padding-left: 1.5rem;

  li {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  ul,
  ol {
    margin-top: 1rem;
  }
}

.text-col {
  @include breakpoint($laptop-sm) {
    column-count: 2;
    column-gap: 3.5rem;
  }

  > p {
    break-inside: avoid-column;
  }
}

%border-bottom {
  position: relative;
  padding-bottom: var(--border-bottom-height);

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: var(--border-bottom-height);
    background: var(--gold-gradient);
    bottom: 0;
    left: 0;
  }
}

.box-shadow {
  box-shadow: var(--box-shadow);
}

.card {
  --card-padding: 1.5rem;
  @extend %border-bottom;
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  padding: var(--card-padding);
  padding-bottom: calc(var(--card-padding) + var(--border-bottom-height) * 2);

  @include breakpoint($laptop-sm) {
    --card-padding: 2.125rem;
  }

  @include breakpoint($desktop) {
    --card-padding: 2.5rem;
  }

  &--with-cross-img {
    display: flex;

    .card__img {
      width: 4.375rem;
      min-width: 4.375rem;
      margin-right: 1.5rem;

      @include breakpoint($laptop-sm) {
        width: 6.875rem;
        min-width: 6.875rem;
        margin-right: 2.5rem;
      }

      @include breakpoint($desktop) {
        width: 8.75rem;
        min-width: 8.75rem;
        margin-right: 3.5rem;
      }
    }
  }
}

%text-link {
  font-weight: 700;
  color: var(--color-accent);

  &:hover {
    text-decoration: underline;
  }
}

.text-block,
.woocommerce-Tabs-panel,
.bio__text {
  a {
    &:not(.button) {
      @extend %text-link;
    }

    &[target="_blank"] {
      &::after {
        content: "";
        display: inline-block;
        height: 0.75rem;
        width: 0.75rem;
        margin-left: 0.25rem;
        margin-right: 0.125rem;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5556 11.5556H1.44444V1.44444H6.5V0H1.44444C0.642778 0 0 0.65 0 1.44444V11.5556C0 12.35 0.642778 13 1.44444 13H11.5556C12.35 13 13 12.35 13 11.5556V6.5H11.5556V11.5556ZM7.94444 0V1.44444H10.5372L3.43778 8.54389L4.45611 9.56222L11.5556 2.46278V5.05556H13V0H7.94444Z' fill='%23d1a410'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }

  ul {
    @extend %bullets;
  }
}

.wp-block-table {
  &:not(:last-child) {
    margin-bottom: var(--p-spacing);
  }

  table {
    border-top: 1px solid var(--grey);

    th,
    td {
      vertical-align: top;
      padding: 0.5rem;
    }

    tr {
      border-bottom: 1px solid var(--grey);
    }
  }
}
