:root {
  // Colors
  --black: #000;
  --white: #fff;
  --dark-blue: #192752;
  --dark-blue-rgb: 33, 50, 133;
  --dark-gold: #d0a40f;
  --gold: #d1a410;
  // --medium-gold: #eac95b;
  --light-gold: #ffd237;
  --gold-gradient: linear-gradient(
    180deg,
    var(--dark-gold) 40%,
    var(--light-gold) 100%
  );
  --grey: #6b6b6b;
  // --light-grey: #e8e9ee;
  --light-grey: #f2f2f2;

  --color-primary: var(--dark-blue);
  --color-primary-rgb: var(--dark-blue-rgb);
  --color-accent: var(--gold);
  --color-p: var(--black);
  --color-primary-light: rgba(var(--color-primary-rgb), 0.15);
  --color-error: #f15152;
  --color-success: #21fa90;

  // Fonts
  --font-primary: "Yeseva One", "Georgia", Cambria, Times New Roman, Times,
    serif;
  --font-secondary: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-size-big: 1.875rem;
  --font-size-h1: 1.5625rem;
  --font-size-h2: 1.3125rem;
  --font-size-h3: 1.25rem;
  --font-size-tab: 1rem;
  --font-size-h4: 1rem;
  --font-size-h5: 1rem;
  --font-size-h6: 1rem;
  --font-size-menu: 1rem;
  --font-size-small: 0.875rem;

  // Transitions
  --transition: 0.25s cubic-bezier(0.07, 0.75, 0.66, 0.9);
  --transition-slow: 0.5s cubic-bezier(0.07, 0.75, 0.66, 0.9);

  // Spacing
  --menu-spacing: 1rem;
  --p-spacing: 1.5rem;
  --post-spacing: 0.625rem;
  --section-spacing: 50px;
  --section-spacing-sm: 40px;
  --featured-section-gap: 1rem;
  --accordion-padding-h: 1.25rem;
  --accordion-padding-v: 0.875rem;
  --tab-spacing: 0.5rem;
  --tab-spacing-v: 0.5rem;

  // Box Shadow
  --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  --box-shadow-deep: 0 3px 6px rgba(0, 0, 0, 0.32);

  // Design Element (e.g. on buttons, menu)
  --square-gap: 0.2rem;
  --square-size: 0.5rem;
  --border-bottom-height: 0.4375rem;

  // Grid
  // --col: 8.333%;

  @include breakpoint($mobile-sm) {
    --tab-spacing: 0.75rem;
    --tab-spacing-v: 0.75rem;
  }

  @include breakpoint($tablet-sm) {
    --font-size-big: 2.1875rem;
    --menu-spacing: 1.375rem;
    --post-spacing: 1rem;
    --section-spacing: 60px;
    --section-spacing-sm: 50px;
    --featured-section-gap: 1.25rem;
    --accordion-padding-h: 2.5rem;
    --accordion-padding-v: 1rem;
    --tab-spacing: 1rem;
    --tab-spacing-v: 0.875rem;
  }

  @include breakpoint($laptop-sm) {
    --font-size-big: 2.8175rem;
    --font-size-h1: 2.1875rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.375rem;
    --font-size-tab: 1.125rem;
    --font-size-h4: 1.125rem;
    --font-size-menu: 0.875rem;
    --menu-spacing: 0.75rem;
    --section-spacing: 100px;
    --section-spacing-sm: 60px;
    --featured-section-gap: 1.875rem;
    --accordion-padding-h: 2.75rem;
    --accordion-padding-v: 1.375rem;
  }

  @include breakpoint($laptop-lg) {
    --font-size-big: 3.25rem;
    --font-size-h1: 2.5rem;
    --font-size-h2: 1.6875rem;
    --font-size-h3: 1.5rem;
    --font-size-tab: 1.25rem;
    // --font-size-h4: 1.125rem;
    --font-size-h5: 1.125rem;
    --font-size-menu: 1rem;
    --menu-spacing: 1rem;
    --section-spacing: 120px;
    --section-spacing-sm: 80px;
    --featured-section-gap: 3.125rem;
  }

  @include breakpoint($desktop) {
    --font-size-big: 4rem;
    --font-size-h1: 3rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.5rem;
    --font-size-tab: 1.5rem;
    --font-size-h4: 1.25rem;
    --font-size-menu: 1.125rem;
    --menu-spacing: 1.25rem;
    --border-bottom-height: 0.625rem;
  }
}
