// Accordions format (Mobile & Tablet)
.vertical-tabs {
  &__accordions {
    .accordion {
      --padding-h: 0;
      box-shadow: none;
      margin-bottom: 0;
      background-color: transparent;

      // &__plus-minus {
      //   display: none;
      // }

      &__head {
        position: relative;
        padding-left: 0;

        @include breakpoint($mobile-only) {
          padding-right: 0;
        }

        @include breakpoint($tablet-sm) {
          width: 66.667%;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: -100%;
          height: 100%;
          width: 300%;
          background-color: var(--color-primary);
          opacity: 0;
          transition: opacity var(--transition);

          @include breakpoint($tablet-sm) {
            right: 0;
          }
        }
      }

      &__title {
        font-weight: 600;
        color: var(--color-p);

        @include breakpoint($laptop-lg) {
          font-size: 1rem;
        }
      }

      &__body {
        overflow: visible;

        &__inner {
          margin-left: -100%;
          margin-right: -100%;
          padding-left: 100%;
          padding-right: 100%;
          padding-top: var(--accordion-padding-v);
          box-shadow: var(--box-shadow);
          background-color: var(--white);
        }
      }

      &.active {
        .accordion__head {
          &::before {
            opacity: 0.1;
          }
        }
        .accordion__title {
          font-weight: 700;
        }
      }
    }
  }
}

// Tabs -- see .lb-tabs--vertical under /elements/_tabs.scss
