.view-more-container {
  width: 9.375rem;
  max-width: 100%;
  padding-top: 0.5rem;
  border-top: 1px solid var(--color-accent);
  margin-top: 1.5rem;
  margin-left: auto;
}

.hidden-elements-wrapper {
  p:first-child {
    margin-top: var(--p-spacing);
  }
}

// For button, see _buttons.scss
